{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Trade A Monster",
  "subtitle" : "<questGiver> wants to trade!",
  "message" : "<questGiver> would like to trade <questGiver.pronoun.possessiveDet> <tradedMonster> for your <monster>. The trade is permanent.\n\nProceed with the trade?",
  "okCaption" : "Sure",
  "cancelCaption" : "Not now",
  "images" : {
    "portrait" : []
  }
}
