{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Expand Your Crew",
  "subtitle" : "Someone wants to join your adventures",
  "message" : "<name> would like to join your crew as a <role>. Invite <name> aboard?^gray;\n\n^white;Job:^gray; <role>\n^white;Rank:^gray; <rank>\n^white;Status:^gray; <status>",
  "okCaption" : "Hire",
  "cancelCaption" : "Not now",
  "images" : {
    "portrait" : []
  }
}
