{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/nullcharportraitpart.png",
  "title" : "Reset your crew's uniform?",
  "subtitle" : "<name>, <rank>",
  "message" : "\n\nReady to switch your crew back to the protectorate uniform now?",
  "okCaption" : "Sure",
  "cancelCaption" : "Not now",
  "images" : {
    "portrait" : []
  }
}
