{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/nullcharportraitpart.png",
  "title" : "Update your crew's uniform?",
  "subtitle" : "<name>, <rank>",
  "message" : "\n\nI just love that outfit! Would you like to make it your crew's new uniform?",
  "okCaption" : "Sure",
  "cancelCaption" : "Not now",
  "images" : {
    "portrait" : []
  }
}
