{
  "reactions" : {

    // Reacting to personalities. NPCs can have personalities these defined.
    // This determines the first reaction to play when NPCs are chatting.
    "jerk" : [
      [1.0, "cry"]
    ],
    "cheerful" : [
      [1.0, "smile"],
      [1.0, "annoyed"]
    ],
    "intrusive" : [
      [1.0, "neutral"],
      [1.0, "annoyed"]
    ],

    // Reacting to other NPC's reactions.
    "cry" : [
      [3.0, "cry"],
      [1.0, "gohome"]
    ],
    "wink" : [
      [1.0, "love"],
      [1.0, "nosebleed"],
      [1.0, "neutral"]
    ],
    "love" : [
      [2.0, "love"],
      [1.0, "wink"]
    ],
    "nosebleed" : [
      [1.0, "wink"],
      [1.0, "love"],
      [1.0, "vomit"]
    ],
    "vomit" : [
      [1.0, "vomit"],
      [1.0, "cry"],
      [1.0, "gohome"],
      [1.0, "flee"]
    ],
    "gohome" : [
      [3.0, "quit"],
      [1.0, "follow"]
    ],
    "flee" : [
      [3.0, "quit"],
      [1.0, "cry"],
      [1.0, "smile"],
      [1.0, "chase"]
    ],
    "follow" : [
      [1.0, "gohome"]
    ],
    "creepyfollow" : [
      [1.0, "flee"],
      [1.0, "cry"],
      [1.0, "annoyed"]
    ],
    "chase" : [
      [1.0, "flee"]
    ],
    "quit" : [
      [1.0, "quit"]
    ],
    "bored" : [
      [1.0, "cry"],
      [1.0, "laugh"],
      [1.0, "annoyed"],
      [1.0, "gohome"]
    ],
    "comfort" : [
      [1.0, "annoyed"],
      [1.0, "smile"],
      [0.3, "gohome"]
    ],
    "schadenfreude" : [
      [3.0, "cry"],
      [1.0, "flee"],
      [1.0, "gohome"]
    ],
    "sell" : [
      [4.0, "pay"],
      [1.0, "flee"]
    ],
    "pay" : [
      [1.0, "quit"]
    ],

    // NPCs can also react to objects. See arcademachine.object:npcToy for
    // an example.
    "floorbutton" : [
      [1.0, "hop"]
    ],
    "wallbutton" : [
      [1.0, "pressbutton"]
    ],
    "wallswitch" : [
      [1.0, "flipswitch"]
    ],
    "proximitysensor" : [
      [1.0, "smile"]
    ],
    "console" : [
      [1.0, "typing"]
    ],
    "music" : [
      [1.0, "posedance"],
      [1.0, "wiggledance"],
      [1.0, "armswingdance"]
    ],

    // Spontaneous reactions
    // These reactions will happen without anything in particular triggering them

    "spontaneous" : [
      [1.0, "sleep", { "timeRange" : [0.7, 0.9] }],
      [1.0, "sit", { "timeRange" : [0.6,0.2]}],
      [1.0, "wander"]
    ],

    // Player reactions
    // Happen when a player is nearby

    "nearplayer" : [
    ],

    // NPC reactions
    // Happen when an npc is nearby

    "nearnpc" : [
    ],

    // Quest reactions
    // Happens when the npc is at home, waiting for a player to take up and
    // complete its quest.
    "hasquest" : [
    ],

    // Happens when a player accepts an NPC's quest
    "questaccepted" : [
      [1.0, "smile"]
    ],

    // Happens when a player declines an NPC's offered quest
    "questdeclined" : [
      [1.0, "annoyed"]
    ],

    "recruited" : [
      [1.0, "smile"],
      [1.0, "jumpforjoy"]
    ],

    "recruitdeclined" : [
      [1.0, "annoyed"],
      [1.0, "cry"]
    ],

    // When a crewmember has been recruited and instructed to follow the player
    "followowner" : [
      [1.0, "smile"]
    ],

    // When a crewmember has been recruited and instructed to wait somewhere
    "unfollowowner" : [
      [1.0, "wink"]
    ],

    // Relationship reactions
    // Certain quests set 'relationships' between two NPCs (e.g. 'likes',
    // 'fears'). Once these relationships have been set, NPCs can react to
    // each other differently, according to this config:
    "likesrelation" : [
      [1.0, "love"],
      [1.0, "smile"],
      [1.0, "comfort"]
    ],

    "fearsrelation" : [
      [1.0, "panic"],
      [1.0, "cry"],
      [1.0, "flee"]
    ],

    // All of these reactions can be overridden in npctype files by defining
    // scriptConfig.reactions like below:
    //   "reactions" : {
    //     "videogameComplete" : [
    //       // overriding reactions defined in a .object file
    //       [1.0, "bored"]
    //     ],
    //     "smile" : [
    //       // overriding reactions defined in default_reactions.config
    //       [1.0, "smile"],
    //       [1.0, "quit"]
    //     ]
    //   }

    // If we're asked to react to something not listed here, we play one of
    // these reactions:
    "default" : [
      [1.0, "smile"],
      [1.0, "cry"],
      [1.0, "bored"],
      [1.0, "hop"],
      [1.0, "jumpforjoy"],
      [1.0, "neutral"],
      [1.0, "laugh"],
      [1.0, "annoyed"],
      [1.0, "oh"],
      [1.0, "oooh"],
      [1.0, "wink"],
      [1.0, "love"],
      [0.3, "nosebleed"],
      [0.3, "vomit"],

      // Chat-ending behaviors:
      [1.0, "quit"],
      [1.0, "flee"],
      [1.0, "gohome"],
      [1.0, "follow"],
      [1.0, "chase"]
    ]
  },

  // An NPC who plays one of these 'final' reactions stops reacting to
  // the other entity it was reacting to, until interaction is triggered again.
  // In NPC-NPC interactions (chatting) these reactions end the chat.
  "finalReactions" : ["quit", "flee", "gohome", "follow", "creepyfollow", "chase"],

  // Simple reactions are ones that just play an emote and/or a dance, and
  // don't require special behaviors.
  "simpleReactions" : {
    "quit" : {
      "duration" : 0.5
    },
    "smile" : {
      "emote" : "happy",
      "duration" : 2.0
    },
    "cry" : {
      "emote" : "sad",
      "duration" : 2.0
    },
    "typing" : {
      "dance" : "typing",
      "duration" : 2.0
    },
    "steer" : {
      "dance" : "steer",
      "duration" : 2.0
    },
    "playpiano" : {
      "dance" : "typing",
      "emote" : "blabbering",
      "duration" : 2.0
    },
    "neutral" : {
      "emote" : "neutral",
      "duration" : 2.0
    },
    "laugh" : {
      "emote" : "laugh",
      "duration" : 2.0
    },
    "annoyed" : {
      "emote" : "annoyed",
      "duration" : 2.0
    },
    "oh" : {
      "emote" : "oh",
      "duration" : 2.0
    },
    "oooh" : {
      "emote" : "oooh",
      "duration" : 2.0
    },
    "wink" : {
      "emote" : "wink",
      "duration" : 2.0
    },
    "punch" : {
      "emote" : "annoyed",
      "dance" : "punch",
      "duration" : 2.0
    },
    "pressbutton" : {
      "emote" : "happy",
      "dance" : "pressbutton",
      "duration" : 2.0
    },
    "flipswitch" : {
      "emote" : "happy",
      "dance" : "flipswitch",
      "duration" : 2.0
    },
    "drink" : {
      "emote" : "oh",
      "dance" : "drink",
      "duration" : 2.0
    },
    "postmail" : {
      "dance" : "postmail",
      "duration" : 2.0
    },
    "sell" : {
      "dance" : "sell",
      "emote" : "happy",
      "duration" : 2.0
    },
    "pay" : {
      "dance" : "sell",
      "emote" : "annoyed",
      "duration" : 2.0
    },
    "hylotldance" : {
      "emote" : "happy",
      "dance" : "hylotldance",
      "duration" : 2.0
    },
    "posedance" : {
      "emote" : "happy",
      "dance" : "posedance",
      "duration" : 2.0
    },
    "wiggledance" : {
      "emote" : "happy",
      "dance" : "wiggledance",
      "duration" : 2.0
    },
    "armswingdance" : {
      "emote" : "wink",
      "dance" : "armswingdance",
      "duration" : 2.0
    },
    "wave" : {
      "emote" : "happy",
      "dance" : "wave",
      "duration" : 1.0
    },
    "warmhands" : {
      "dance" : "warmhands",
      "duration" : 4.0
    },
    "blankstare" : {
      "duration" : 4.0
    },
    "panic" : {
      "emote" : "oooh",
      "dance" : "panic",
      "duration" : 2.0
    },
    "schadenfreude" : {
      "emote" : "laugh",
      "duration" : 2.0
    }
  },

  // Maps reaction names to behavior trees
  "behaviorReactions" : {
    "bored" : {
      "behavior" : "reaction-bored"
    },
    "drum" : {
      "behavior" : "reaction-drum"
    },
    "flee" : {
      "behavior" : "reaction-flee",
      "parameters" : {
        "fleeDuration" : 3
      }
    },
    "follow" : {
      "behavior" : "reaction-follow",
      "parameters" : {
        "duration" : 60,
        "creepy" : false
      }
    },
    "creepyfollow" : {
      "behavior" : "reaction-follow",
      "parameters" : {
        "duration" : 30,
        "creepy" : true
      }
    },
    "chase" : {
      "behavior" : "reaction-follow",
      "parameters" : {
        "duration" : 3,
        "creepy" : false
      }
    },
    "gohome" : {
      "behavior" : "reaction-gohome"
    },
    "gong" : {
      "behavior" : "reaction-gong"
    },
    "hop" : {
      "behavior" : "reaction-hop"
    },
    "jumpforjoy" : {
      "behavior" : "reaction-jumpforjoy"
    },
    "love" : {
      "behavior" : "reaction-love"
    },
    "mourn" : {
      "behavior" : "reaction-mourn"
    },
    "nosebleed" : {
      "behavior" : "reaction-nosebleed"
    },
    "vomit" : {
      "behavior" : "reaction-vomit"
    },
    "crouch" : {
      "behavior" : "reaction-crouch"
    },
    "crouchcollect" : {
      "behavior" : "reaction-crouchcollect"
    },
    "droptrash" : {
      "behavior" : "reaction-droptrash"
    },
    "beamaway" : {
      "behavior" : "reaction-beamaway"
    },
    "pianoparty" : {
      "behavior" : "reaction-pianoparty"
    },
    "playairhockey" : {
      "behavior" : "reaction-playairhockey"
    },
    "crouchwarm" : {
      "behavior" : "reaction-crouchwarm"
    },
    "pokefire" : {
      "behavior" : "reaction-pokefire"
    },
    "sleep" : {
      "behavior" : "sleep"
    },
    "sit" : {
      "behavior" : "sit"
    },
    "wander" : {
      "behavior" : "wander"
    },
    "patrol" : {
      "behavior" : "patrol"
    },
    "pretendbeam" : {
      "behavior" : "reaction-pretendbeam"
    },
    "explode" : {
      "behavior" : "reaction-explode"
    },
    "touchandexplode" : {
      "behavior" : "reaction-touchandexplode"
    },
    "burn" : {
      "behavior" : "reaction-burn"
    },
    "wet" : {
      "behavior" : "reaction-wet"
    },
    "hurthop" : {
      "behavior" : "reaction-hurthop"
    },
    "watchsleeping" : {
      "behavior" : "reaction-watchsleeping"
    },
    "comfort" : {
      "behavior" : "reaction-comfort"
    },
    "flirtwithplayer" : {
      "behavior" : "reaction-flirtwithplayer"
    }
  }
}
