{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/gnome_throw1.ogg", "/sfx/gun/gnome_throw2.ogg", "/sfx/gun/gnome_throw3.ogg", "/sfx/gun/gnome_throw4.ogg", "/sfx/gun/gnome_throw5.ogg", "/sfx/gun/gnome_throw6.ogg", "/sfx/gun/gnome_throw7.ogg", "/sfx/gun/gnome_throw8.ogg", "/sfx/gun/gnome_throw9.ogg" ]
    }
  ]
}
