{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/gnome_impact1.ogg", "/sfx/projectiles/gnome_impact2.ogg", "/sfx/projectiles/gnome_impact3.ogg", "/sfx/projectiles/gnome_impact4.ogg", "/sfx/projectiles/gnome_impact5.ogg", "/sfx/projectiles/gnome_impact6.ogg" ]
    }
  ]
}
