{
  // This affects a lot of things!  Need to be very careful about how to choose
  // this, and possibly make several different windows for terrain, npcs,
  // objects, etc.
  "windowMonitoringBorder" : 32,
  "presenceEntityMonitoringBorder" : 16,

  // padding (in tiles) around the window where weather particles will be spawned
  // and outside of which particles will be culled
  "particleRegionPadding" : 8,

  "worldClientStateUpdateDelta" : 10,

  "modifiedTilePredictionTimeout" : 0.5,

  "blockDamageParticle" : {
    "type" : "ember",
    "size" : 1.0,
    // Will be faced towards damage source
    "initialVelocity" : [8.0, 0.0],
    "finalVelocity" : [0.0, -12.0],
    "approach" : [12, 22],
    "timeToLive" : 0.5,
    "destructionAction" : "shrink",
    "destructionTime" : 0.5,
    "layer" : "front",
    "collidesForeground" : false
  },

  "blockDamageParticleVariance" : {
    "initialVelocity" : [4.0, 4.0]
  },

  "blockDamageParticleProbability" : 0.2,

  "blockDingParticle" : {
    "type" : "ember",
    "size" : 1.0,
    // Will be faced towards damage source
    "color" : [0, 128, 255],
    "initialVelocity" : [8.0, 0.0],
    "finalVelocity" : [0.0, -12.0],
    "approach" : [12, 22],
    "timeToLive" : 0.5,
    "destructionAction" : "shrink",
    "destructionTime" : 0.5,
    "layer" : "front",
    "collidesForeground" : false
  },

  "blockDingParticleVariance" : {
    "initialVelocity" : [4.0, 4.0]
  },

  "blockDingParticleProbability" : 0.2,

  "playerReviveTime" : 1.5,
  "playerWarpDelay" : 1.0,
  "playerWarpCinemaMinimumTime" : 3.0,
  "worldDimTime" : 5.0,
  "parallaxFadeTime" : 0.5,

  "loadingCinematic" : "/cinematics/loading.cinematic",
  "introCinematic" : "/cinematics/intro/introstart.cinematic",
  "respawnCinematic" : "/cinematics/respawn/<species>/respawn<mode>.cinematic",
  "warpCinematic" : "/cinematics/teleport/teleport_<species>.cinematic",
  "deployCinematic" : "/cinematics/teleport/deploy_<species>.cinematic",

  // In steps
  "itemRequestReset" : 20,

  "warpMessageDelay" : 1.0,

  "serverConnectTimeout" : 20000,
  "serverDisconnectTimeout" : 5000,

  "interpolationSettings" : {
    "normal" : {
      "interpolationEnabled" : true,
      "entityUpdateDelta" : 3,
      "extrapolationHint" : 6,
      "stepLead" : 6,
      "stepTrackFactor" : 0.05,
      "stepMaxDistance" : 60
    },

    "local" : {
      "interpolationEnabled" : true,
      "entityUpdateDelta" : 1,
      "extrapolationHint" : 2,
      "stepLead" : 3,
      "stepTrackFactor" : 0.10,
      "stepMaxDistance" : 30
    }
  },

  "damageNotificationBatchDuration" : 0.2,

  "defaultFootstepSound" : "/tiles/default_footstep.ogg",
  "defaultDingSound" : "/sfx/tools/block_protected.ogg",
  "wireFailSound" : "/sfx/interface/clickon_error.ogg",

  "statusDepletionDamage" : 0.05,
  "statusRiskLevel" : 0.2,
  "statusCriticalLevel" : 0.05,

  "storageTriggerInterval" : 30000,

  "luaGcPause" : 1.0,
  "luaGcStepMultiplier" : 1.0,

  "maxFrameSkip" : 2,
  "updateTrackWindow" : 0.5,
  "windowTitle" : "Starbound"
}
