{
  "defaultItemConfig" : {
    "rarity" : "common",
    "category" : "codex",
    "price" : 50,
    "tooltipKind" : "codex",
    "windupTime" : 0.1,
    "cooldown" : 0.0
  },
  "defaultIcon" : "/items/generated/codexinhand.png",

  "messages" : {
    "alreadyKnown" : "Codex already known.",
    "learned" : "Codex added to journal!"
  }
}
