{
  "basicHelpText" : "Basic commands are: %s",
  "adminHelpText" : "Admin commands are: %s",
  "debugHelpText" : "Debug commands are: %s",

  "basicCommands" : {
    "help" : "Use /help commandName to get detailed documentation.",
    "admin" : "Usage /admin. Enables or disables admin mode, which enables all crafting recipes, prevents damage or energy loss, and allows access to admin-only commands.",
    "reload" : "Usage /reload.  Reloads your local, client side assets. Will cause lag as they are reparsed.",
    "whoami" : "Usage /whoami. Display your local username and admin status.",
    "serverwhoami" : "Usage /serverwhoami. Display your server username and admin status.",
    "whereami" : "Usage /whereami. Display the celestial coordinate of your current location.",
    "pvp" : "Usage /pvp. Enable or disable your Player vs. Player mode.",
    "played" : "Usage /played. Displays the total play time of the current character.",
    "deaths" : "Usage /deaths. Displays the total death count of the current character.",
    "suicide" : "Usage /suicide. Kills the current character, incurring all normal death penalties (including permadeath!). This can be used as a last resort if you are irreversibly stuck.",
    "naked" : "Usage /naked. Remove all gear. Useful in macros to give a character new gear replacing the existing gear, or you know, for fun."
  },

  "adminCommands" : {
    "warp" : "Usage /warp warpAction. Warps player to a world and/or position. Valid warp action formats include: OwnShip, OrbitedWorld, CelestialWorld:celestialcoordinates, InstanceWorld:worldid:<uuid>:<level>, ClientShipWorld:playeruuid, Player:playeruuid, Nowhere (current world). Most warp actions can have =xcoordinate.ycoordinate added to specify a position within that world.",
    "timewarp" : "Usage /timewarp time. Warp universe time ahead by the specified number of seconds.",
    "settileprotection" : "Usage /settileprotection dungeonId isProtected. Set protection for blocks with the specified dungeonId to be true (unbreakable) or false (breakable).",
    "setspawnpoint" : "Usage /setspawnpoint. Sets the default spawn point on the current world to your character's position.",
    "spawnitem" : "Usage /spawnitem itemName [count] [parameters]. Spawn the specified item at the mouse cursor. If the item does not exist it will spawn a perfectly generic item. Count should be an integer and defaults to 1. Parameters should be specified as a JSON object enclosed by single quotes.",
    "spawntreasure" : "Usage /spawntreasure poolName [level]. Spawns all items in a single random generation of the specified treasure pool at the mouse cursor. Level defaults to 1.",
    "spawnmonster" : "Usage /spawnmonster type [level] [parameters]. Spawn a monster of the specified type at the mouse cursor. Level defaults to 1. Parameters should be specified as a JSON object enclosed by single quotes.",
    "spawnnpc" : "Usage /spawnnpc species type [level] [seed] [overrides]. Spawn an NPC of the specified species and type at the mouse cursor. Level defaults to 1. Overrides should be specified as a JSON object enclosed by single quotes.",
    "spawnvehicle" : "Usage /spawnvehicle type [parameters]. Spawn a vehicle of the specified type at the mouse cursor. Parameters should be specified as a JSON object enclosed by single quotes.",
    "spawnstagehand" : "Usage /spawnstagehand type [parameters]. Spawn a Stagehand of the specified type. Parameters should be specified as a JSON object enclosed by single quotes.",
    "clearstagehand" : "Usage /clearstagehand. Despawns any stagehands with positions close to the current cursor position.",
    "spawnliquid" : "Usage /spawnliquid liquidName [quantity]. Spawn a quantity of the specified liquid at the mouse cursor. Quantity defaults to 1.",
    "kick" : "Usage /kick playerSpecifier [reason]. Kick the specified player and send the reason to the player. If no reason is specified then the player's server nickname is used as the reason.",
    "ban" : "Usage /ban playerSpecifier [reason] [kind] [timeInSeconds]. Kick and ban the specified player and send the reason to the player. If no reason is specified then the player's server nickname is used as the reason. Kind is specified as \"uuid\" or \"ip\" or \"both\" and defaults to \"both\". timeInSeconds defaults to forever. Bans that have a specified duration are not persistent. If you shut down the server or reload configuration, all of your temporarily banned users will be unbanned immediately.",
    "unbanip" : "Usage /unbanip address. Removes entries with the specified address from temporary and permanent ban lists.",
    "unbanuuiud" : "Usage /unbanuuid uuid. Removes entries with the specified uuid from temporary and permanent ban lists.",
    "list" : "Usage /list. List all clients connected to the server. Format is $clientId : serverNickname : $$playerUuid. If the serverNickname contains unprintable characters the unicode escape sequence for those characters will be displayed instead.",
    "whereis" : "Usage /whereis playerSpecifier. Display the celestial coordinate of the specified player's current location.",
    "serverreload" : "Usage /serverreload. Reloads the remote, server side assets. Will cause lag as they are reparsed.",
    "enablespawning" : "Usage /enablespawning. Enable automatic monster spawning on the current world.",
    "disablespawning" : "Usage /disablespawning. Disable automatic monster spawning on the current world.",
    "placedungeon" : "Usage /placedungeon dungeonname [position]. Place the given dungeon into the world anchored at the specified position or the player's cursor position. Positions should be specified as x,y. Ignores anchoring rules. ",
    "setuniverseflag" : "Usage /setuniverseflag flagName. Sets the current universe flag, triggering any associated world changes.",
    "resetuniverseflags" : "Usage /resetuniverseflags. Clears all universe flags, but doesn't directly revert any effects triggered by those flags."
  },

  "debugCommands" : {
    "debug" : "Usage /debug. Enable debugging mode.",
    "gravity" : "Usage /gravity. Display the gravity at the player's position.",
    "boxes" : "Usage /boxes. Toggle the display of collision debugging polygons if debug mode is enabled.",
    "clearboxes" : "Usage /clearboxes. Toggle whether or not to clear boxes displayed with /boxes every frame.  Useful for determining routes that enemies take, can get messy looking though.",
    "togglelayer" : "Usage /togglelayer. Toggle the visibility of the specified layer. A layer is a number between 1 and 21. They are in order: Sky, Parallax, Background, Platforms, Plant, PlantDrop, Object, CursorHintedObject, ParticlesBottom, Effect, Projectile, NPC, Player, ItemDrop, Water, ParticlesMiddle, Foreground, ParticlesTop, Nametag, InfoBars.",
    "fullbright" : "Usage /fullbright. Disable the lighting engine and show everything.",
    "fixedcamera" : "Usage /fixedcamera. Toggle locking the camera's position; camera will not scroll. Sectors may not load or behave correctly when the camera is distant from the player's position.",
    "setgravity" : "Usage /setgravity level. Sets your local gravity to the level specified. Negative values will make you fall up but you can't jump from your head. This change is local only, and looks pretty heinous on a server, because it screws very heavily with delta prediction.",
    "resetgravity" : "Usage /resetgravity. Undoes /setgravity. Begin using server gravity again.",
    "eval" : "Usage /eval <lua>. Evaluates given lua in script processor context. Only usable locally.",
    "entityeval" : "Usage /entityeval <lua>. Evaluates given lua in the context of the closest scripted entity to the cursor. Only usable locally.",
    "radiomessage" : "Usage /radiomessage messageId. Triggers the player to receive the radio message with the specified id.",
    "clearradiomessages" : "Usage /clearradiomessages. Resets all history of received unique radio messages, allowing the player to see these messages again.",
    "clearcinematics" : "Usage /clearcinematics. Resets all history of played unique cinematics, allowing the player to see these cinematics again.",
    "cinema" : "Usage /cinema cinematicPath [timestamp]. Plays the specified cinematic for testing, optionally starting at the specified timestamp.",
    "startquest" : "Usage /startquest questArcDescriptor. Give the player a quest with the specified quest arc descriptor, which should be a JSON string or object enclosed by single quotes. To start a quest by quest template ID, enclose the template ID in single and double quotes, e.g. /startquest '\"protectorate\"'",
    "completequest" : "Usage /completequest questId. Force completion of a currently active quest with the given quest ID (usually the quest template ID).",
    "failquest" : "Usage /failquest questId. Force failure of a currently active quest with the given quest ID (usually the quest template ID).",
    "previewnewquest" : "Usage /previewnewquest questTemplateId positionInSequence questGiverSpecies. Displays the New Quest interface for the given quest without altering the player's quest state. Valid positionInSequence options are: first, last, next, solo. May break if the quest doesn't have example data configured.",
    "previewquestcomplete" : "Usage /previewquestcomplete questTemplateId positionInSequence questGiverSpecies. Displays the Quest Complete interface for the given quest without altering the player's quest state. Valid positionInSequence options are: first, last, next, solo. May break if the quest doesn't have example data configured.",
    "previewquestfailed" : "Usage /previewquestfailed questTemplateId positionInSequence questGiverSpecies. Displays the Quest Failed interface for the given quest without altering the player's quest state. Valid positionInSequence options are: first, last, next, solo. May break if the quest doesn't have example data configured.",
    "clearscannedobjects" : "Usage /clearscannedobjects. Resets the player's record of previously scanned objects. Will not reset quest progress for object scanning quests.",
    "statistic" : "Usage /statistic statName. Displays the value of the specified achievement statistic.",
    "resetachievements" : "Usage /resetachievements. Resets all of the player's achievement statistics.",
    "enabletech" : "Usage /enabletech techName. Unlocks the specified tech for use.",
    "maketechavailable" : "Usage /maketechavailable techName. Makes the specified tech visible and available for purchase.",
    "giveessentialitem" : "Usage /giveessentialitem item slotName. Sets the specified essential slot to the specified item, overwriting the existing contents. Valid slot names are: beamaxe, wiretool, painttool, inspectiontool.",
    "upgradeship" : "Usage /upgradeship shipUpgrades. Applies the specified ship upgrades to the current player's ship. shipUpgrades should be specified as a JSON object enclosed by single quotes, e.g. '{\"shipLevel\" : 5}'"
  }
}
