{
  "1" : {
    "up" : [ "Is this a joke?" ],
    "down" : [ "Goodbye cruel world" ]
  },
  "5" : {
    "up" : [ "I'll die if I don't get some more" ],
    "down" : [ "I see a light.." ]
  },
  "10" : {
    "up" : [ "More, more! I need more!" ],
    "down" : [ "I can barely stand." ]
  },
  "15" : {
    "up" : [ "Must find more food!" ],
    "down" : [ "I can't take it much longer!" ]
  },
  "25" : {
    "up" : [ "I need more!" ],
    "down" : [ "Sooooo Hungry..." ]
  },
  "50" : {
    "up" : [ "I'm still hungry" ],
    "down" : [ "Getting pretty hungry" ]
  },
  "75" : {
    "up" : [ "A little better" ],
    "down" : [ "Getting peckish" ]
  },
  "99" : {
    "up" : [ "Mmm, I'm full!" ],
    "down" : [ "Mmm, I'm full!" ]
  },
  "100" : {
    "up" : [ "Mmm, I'm full!" ],
    "down" : [ "Mmm, I'm full!" ]
  }
}
