{
  "maxInterfaceScale" : 2.0,
  "minInterfaceScale" : 1.0,

  "interfaceCrossoverRes" : [1000, 500],

  "textureTimeout" : 30000,

  "font" : {
    "baseSize" : 8,
    "itemSize" : 8,
    "nameSize" : 8,
    "buttonSize" : 8,
    "planetSize" : 24,
    "defaultColor" : [255, 255, 255]
  },

  "nameOffset" : [32, 10],

  "tooltip" : {
    "hoverTime" : 0.2,
    "radius" : 4,
    "allowOver" : false,
    "offset" : [1, 1]
  },

  // Offset from top left of screen

  "statusIconPos" : [33, 50],
  "statusIconShift" : [20, 0],
  "statusIconDarkenImage" : "/interface/statuses/darken.png",

  // Offset from top center of screen
  // warmth pos is drawn centered
  "warmthPos" : [0, 20],

  "breathPos" : [0, 100],

  //warmth bar is relative to warmthPos
  "warmthBarPos" : [-40, -2],
  "coolingIndicatorPos" : [-61, -3],
  "warmingIndicatorPos" : [56, -3],
  "coolingIndicatorOffset" : [-2, 0],
  "warmingIndicatorOffset" : [2, 0],
  "warmthRateScale" : 5.0,
  "warmthBarTextOffset" : [4, -8],

  //breath bar is relative to warmthPos
  "breathBarPos" : [-42, -2],

  "maxMessageCount" : 5,
  "overflowMessageText" : "^green;+<count> more^reset;",
  "message" : {
    "textContainer" : "/interface/messages/textcontainer.png",
    "textContainerOffset" : [0, -12],
    "textOffset" : [0, -1],
    "showTime" : 10,
    "hideTime" : 2,
    "offset" : [0, 18],
    "offsetHidden" : [0, 6],
    "offsetHiddenBar" : [0, -6],
    "itemOffset" : [9, 0],
    "barPos" : [-45, -3],
    "windowSpring" : 20
  },

  "hungerIcon" : "/interface/messages/hungericon.png",

  "monsterHealth" : {
    "container" : "/interface/monsterHealth.png",
    "progressEmpty" : "/interface/messages/empty.png",
    "progressFilled" : "/interface/fillbarpiece.png",
    "progressChunks" : 10,
    "showTime" : 10,
    "offset" : [0, -80],
    "levelTextOffset" : [-58, -75],
    "nameTextOffset" : [1000, 1000],
    "progressBarOffset" : [-40, -86],
    "portraitOffset" : [0, -77],
    "portraitScale" : 1,
    "portraitScissorRect" : [-80, -80, 80, 80],
    "portraitMaxSize" : [80, 45]
  },

  "specialDamageBar" : {
    "background" : "/interface/specialbar.png",
    "backgroundOffset" : [-160, 20],
    "fill" : "/interface/specialbarfill.png",
    "fillWidth" : 314,
    "fillOffset" : [-157, 23],
    "fillTime" : 2.0,
    "nameSize" : 18,
    "nameOffset" : [0, 30],
    "nameColor" : [255, 255, 255],
    "nameDirectives" : "?border=2;000000FF;000000FF"
  },

  "portraitNullPlayerImageFull" : "/interface/nullcharportraitfull.png",
  "portraitNullPlayerImagePart" : "/interface/nullcharportraitpart.png",
  "portraitIconImage" : "/interface/inventory/portrait.png",
  "portraitIconOffset" : [0, -6],

  "mainBar" : {
    // locked to top right, so padding in size determines offset
    "size" : [22, 165],
    "questLog" : {
      "base" : "/interface/quest.png",
      "hover" : "/interface/questhover.png",
      "open" : "/interface/questOpen.png",
      "openHover" : "/interface/questhoverOpen.png",
      "pos" : [0, 140],
      "poly" : [ [0, 140], [17, 140], [17, 157], [0, 157] ]
    },
    "inventory" : {
      "base" : "/interface/inventory.png",
      "hover" : "/interface/inventoryhover.png",
      "open" : "/interface/inventoryopen.png",
      "openHover" : "/interface/inventoryopenhover.png",
      "pos" : [0, 120],
      "poly" : [ [0, 120], [17, 120], [17, 137], [0, 137] ]
    },
    "craft" : {
      "base" : "/interface/craftingbutton.png",
      "hover" : "/interface/craftingbuttonOver.png",
      "open" : "/interface/craftingopen.png",
      "openHover" : "/interface/craftinghoverOpen.png",
      "pos" : [0, 100],
      "poly" : [ [0, 100], [17, 100], [17, 117], [0, 117] ]
    },
    "codex" : {
      "base" : "/interface/codex.png",
      "hover" : "/interface/codexhover.png",
      "open" : "/interface/codexOpen.png",
      "openHover" : "/interface/codexhoverOpen.png",
      "pos" : [0, 80],
      "poly" : [ [0, 80], [17, 80], [17, 97], [0, 97] ]
    },
    "collections" : {
      "base" : "/interface/collections.png:base",
      "hover" : "/interface/collections.png:hover",
      "open" : "/interface/collections.png:open",
      "openHover" : "/interface/collections.png:openHover",
      "pos" : [0, 60],
      "poly" : [ [0, 60], [17, 60], [17, 77], [0, 77] ]
    },
    "mmUpgrade" : {
      "base" : "/interface/mmupgrade.png:base",
      "hover" : "/interface/mmupgrade.png:hover",
      "open" : "/interface/mmupgrade.png:open",
      "openHover" : "/interface/mmupgrade.png:openHover",
      "disabled" : "/interface/mmupgrade.png:disabled",
      "pos" : [0, 40],
      "poly" : [ [0, 40], [17, 40], [17, 57], [0, 57] ]
    },
    "deploy" : {
      "base" : "/interface/deploy.png",
      "hover" : "/interface/deployhover.png",
      "disabled" : "/interface/beamno.png",
      "pos" : [0, 20],
      "poly" : [ [0, 20], [17, 20], [17, 37], [0, 37] ]
    },
    // beam up uses deploy button poly
    "beamUp" : {
      "base" : "/interface/beamup.png",
      "hover" : "/interface/beamuphover.png"
    },
    "beam" : {
      "base" : "/interface/beamdown.png",
      "hover" : "/interface/beamdownhover.png",
      "pos" : [0, 0],
      "poly" : [ [0, 0], [17, 0], [17, 17], [0, 17] ]
    }
  },

  "scrollArea" : {
    "buttonAdvance" : 24.0,
    "buttons" : {
      "horizontal" : {
        "forward" : {
          "base" : "/interface/scrollarea/harrow-forward.png",
          "hover" : "/interface/scrollarea/harrow-forwardhover.png",
          "pressed" : ""
        },
        "backward" : {
          "base" : "/interface/scrollarea/harrow-backward.png",
          "hover" : "/interface/scrollarea/harrow-backwardhover.png",
          "pressed" : ""
        }
      },
      "vertical" : {
        "forward" : {
          "base" : "/interface/scrollarea/varrow-forward.png",
          "hover" : "/interface/scrollarea/varrow-forwardhover.png",
          "pressed" : ""
        },
        "backward" : {
          "base" : "/interface/scrollarea/varrow-backward.png",
          "hover" : "/interface/scrollarea/varrow-backwardhover.png",
          "pressed" : ""
        }
      }
    },
    "thumbs" : {
      "horizontal" : {
        "base" : {
          "begin" : "/interface/scrollarea/hthumb-begin.png",
          "end" : "/interface/scrollarea/hthumb-end.png",
          "inner" : "/interface/scrollarea/hthumb-inner.png"
        },
        "hover" : {
          "begin" : "/interface/scrollarea/hthumb-beginhover.png",
          "end" : "/interface/scrollarea/hthumb-endhover.png",
          "inner" : "/interface/scrollarea/hthumb-innerhover.png"
        },
        "pressed" : {
          "begin" : "/interface/scrollarea/hthumb-beginhover.png",
          "end" : "/interface/scrollarea/hthumb-endhover.png",
          "inner" : "/interface/scrollarea/hthumb-innerhover.png"
        }
      },
      "vertical" : {
        "base" : {
          "begin" : "/interface/scrollarea/vthumb-begin.png",
          "end" : "/interface/scrollarea/vthumb-end.png",
          "inner" : "/interface/scrollarea/vthumb-inner.png"
        },
        "hover" : {
          "begin" : "/interface/scrollarea/vthumb-beginhover.png",
          "end" : "/interface/scrollarea/vthumb-endhover.png",
          "inner" : "/interface/scrollarea/vthumb-innerhover.png"
        },
        "pressed" : {
          "begin" : "/interface/scrollarea/vthumb-beginhover.png",
          "end" : "/interface/scrollarea/vthumb-endhover.png",
          "inner" : "/interface/scrollarea/vthumb-innerhover.png"
        }
      }
    }
  },

  "slider" : {
    "leftBase" : "/interface/pickleft.png",
    "leftHover" : "/interface/pickleftover.png",
    "rightBase" : "/interface/pickright.png",
    "rightHover" : "/interface/pickrightover.png",
    "jog" : "/interface/scrolly.png",
    "defaultPadding" : 4
  },

  "spinner" : {
    "leftBase" : "/interface/pickleft.png",
    "leftHover" : "/interface/pickleftover.png",
    "rightBase" : "/interface/pickright.png",
    "rightHover" : "/interface/pickrightover.png",
    "defaultPadding" : 3
  },

  "itemCountRightAnchor" : [20, -3],
  "itemIconDurabilityOffset" : [1, -2],

  "newItemAnimation" : {
    "frames" : "/interface/inventory/itemoverlay.png:<index>",
    "animationCycle" : 2,
    "loops" : 1,
    "frameNumber" : 24,
    "centered" : true
  },

  "highlightAnimation" : {
    "frames" : "/interface/inventory/slothighlight.png:<index>",
    "animationCycle" : 1.0,
    "mode" : "LoopForever",
    "frameNumber" : 16,
    "centered" : true
  },

  "itemDraggableArea" : [-2, -2, 19, 19],
  "itemLineDraggableArea" : [-2, -2, 158, 22],
  "inventoryItemMouseOffset" : [2, -13],

  "textBoxDefaultWidth" : 150,

  "inventoryWindowChestSlot" : [90, 195],
  "inventoryWindowLegsSlot" : [90, 175],

  "defaultCursor" : "/cursors/pointer.cursor",

  "cursorItemSlot" : {
    "type" : "itemslot",
    "position" : [-20, -20],
    "showCount" : true,
    "callback" : "null",
    "showDurability" : true,
    "showRarity" : false
  },

  "cursorTooltip" : {
    "offset" : [ -2, 4 ],
    "fontSize" : 8,
    "color" : "white",
    "background" : "/interface/rightBarTooltipBg.png",
    "inventoryText" : "Inventory",
    "craftingText" : "Crafting",
    "codexText" : "Codex",
    "beamUpText" : "Beam Up",
    "beamDownText" : "Beam Down",
    "deployText" : "Deploy Mech",
    "disabledText" : "Disabled",
    "questsText" : "Quests",
    "mmUpgradeText" : "M.M. Upgrade",
    "collectionsText" : "Collections"
  },

  "buttonPressedOffset" : [1, -1],

  "bringAdjacentWindowGap" : 4,

  "charPlate" : {
    "backingImage" : "/interface/title/largecharplatenoplayer.png",
    "backingImageHover" : "/interface/title/largecharplatenoplayerover.png",
    "selectedImage" : "/interface/title/largecharplatenoplayer.png",
    "selectedImageHover" : "/interface/title/largecharplatenoplayerover.png",
    "portraitOffset" : [10, 25],
    "numberOffset" : [10, 54]
  },

  "largeCharPlate" : {
    "backingImage" : "/interface/title/largecharplatenoplayer.png",
    "playerHover" : "/interface/title/largecharplatenoplayerover.png",
    "noPlayer" : "/interface/title/largecharplatenoplayer.png",
    "noPlayerHover" : "/interface/title/largecharplatenoplayerover.png",
    "portraitOffset" : [19, 27],
    "portraitScale" : 1,
    "switchText" : "",
    "createText" : "",
    "modeText" : "MODE:",
    "modeNameOffset" : [80, 10],
    "modeOffset" : [94, 10],

    "noPlayerText" : "CREATE CHARACTER",
    "noPlayerTextColor" : [255, 255, 128],
    "playerNameOffset" : [95, 28],

    "textColor" : [255, 255, 255],
    "textColorDisabled" : [147, 147, 149],

    "trashButton" : {
      "baseImage" : "/interface/title/delete/garbage2.png",
      "hoverImage" : "/interface/title/delete/garbage2hover.png",
      "pressedImage" : "/interface/title/delete/garbage2pressed.png",
      "disabledImage" : "/interface/title/delete/garbage2.png",
      "offset" : [160, 11]
    }
  },

  "textboxCursorVertical" : [0.0, 1.1],
  "textboxCursorHorizontal" : [-0.25, 0.25],

  "modeTypeTextAndColor" : [
    [ "???", [147, 147, 149] ],
    [ "Casual", [75, 206, 58] ],
    [ "Survival", [206, 197, 58] ],
    [ "Hardcore", [206, 58, 58] ]
  ],

  "escapeDialog" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/escmenu/body.png",
      "fileFooter" : ""
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/escmenu/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "paneFeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "positionLocked" : true
    },
    "returnToGame" : {
      "type" : "button",
      "position" : [18, 170],
      "caption" : "Return to Game",
      "base" : "/interface/escmenu/escbutton.png",
      "hover" : "/interface/escmenu/escbuttonhover.png"
    },
    "showOptions" : {
      "type" : "button",
      "position" : [18, 130],
      "caption" : "Options",
      "base" : "/interface/escmenu/escbutton.png",
      "hover" : "/interface/escmenu/escbuttonhover.png"
    },
    "saveAndQuit" : {
      "type" : "button",
      "position" : [18, 90],
      "caption" : "Save & Quit",
      "base" : "/interface/escmenu/escbutton.png",
      "hover" : "/interface/escmenu/escbuttonhover.png"
    },
    "lblversion" : {
      "type" : "label",
      "position" : [108, 50],
      "hAnchor" : "mid",
      "value" : "",
      "color" : [50, 50, 50]
    },
    "lblcopyright" : {
      "type" : "label",
      "position" : [108, 40],
      "hAnchor" : "mid",
      "value" : "Chucklefish Games 2016 - Made in London, UK",
      "color" : [50, 50, 50]
    }
  },

  "tech3DPrinterDialog" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/escmenu/body.png",
      "fileFooter" : ""
    },
    "paneFeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "positionLocked" : true
    },
    "openTech" : {
      "type" : "button",
      "position" : [13, 49],
      "base" : "/interface/escmenu/techUp.png",
      "hover" : "/interface/escmenu/tech.png"
    },
    "open3DPrinter" : {
      "type" : "button",
      "position" : [13, 34],
      "base" : "/interface/escmenu/3dPrinterUp.png",
      "hover" : "/interface/escmenu/3dPrinter.png"
    },
    "dismiss" : {
      "type" : "button",
      "position" : [13, 19],
      "base" : "/interface/escmenu/cancelUp.png",
      "hover" : "/interface/escmenu/cancel.png"
    }
  },

  "3DPrinterSettings" : {
    "config" : "/interface/windowconfig/3dprinter.config",
    "filter" : [ "3dprinter" ]
  },

  "paneIconOffset" : [4, 1],
  "paneTitleOffset" : [29, 13],
  "paneSubTitleOffset" : [29, 3],
  "paneTitleColor" : [253, 253, 253],
  "paneSubTitleColor" : [185, 181, 178],

  "buttonHoverSound" : [ "/sfx/interface/hoverover_bumb.ogg" ],
  "buttonClickSound" : [ "/sfx/interface/clickon_success.ogg" ],
  "buttonClickFailSound" : [ "/sfx/interface/clickon_error.ogg" ],

  "disabledButton" : "?saturation=-60?brightness=-60",

  "planetNameFormatString" : "- %s -",
  "planetNameTime" : 5.0,
  "planetNameFadeTime" : 1.0,
  "planetTextOffset" : [0, 60],
  "planetNameDirectives" : "?border=4;00000080;00000080",

  "cameraSmoothRadius" : 7.0,
  "cameraSmoothFactor" : 2.0,
  "cameraSmoothDeadzone" : 0.01,

  "ambientTrackSwitchGrace" : 1.0,
  "ambientTrackFadeInTime" : 0.5,

  "musicTrackSwitchGrace" : 3.0,
  "musicTrackFadeInTime" : 0.5,

  "renderVirtualCursor" : false,

  "invitationPollInterval" : 0.2,
  "fullUpdateInterval" : 0.2,
  "statusUpdateInterval" : 0.2,

  // Offset from top left of screen
  "debugOffset" : [12, 100],
  "debugFontSize" : 8,

  "debugSpatialClearTime" : 0.05,
  "debugMapClearTime" : 5.0,
  "debugBackgroundColor" : [0, 0, 0, 200],
  "debugBackgroundPad" : 5,

  "nametag" : {
    "opacityRate" : 0.01,
    "offset" : [0, 16],
    "fontSize" : 8,
    "statusFontSize" : 8,
    "statusOffset" : [0, -7],
    "statusColor" : "white",
    "opacityBoost" : 3,
    "tweenFactor" : 0.3,
    "movementThreshold" : 2
  },

  "modsWarningMessage" : "Installing and uninstalling mods can corrupt your save files, you may want to back up the 'storage' directory before continuing."
}
