{
  "mainWakeupInterval" : 100,
  "workerPoolThreads" : 2,
  "clockUpdatePacketInterval" : 500,
  "clientWaitLimit" : 40000,
  "universeStorageInterval" : 40000,
  "clearBrokenWorldsInterval" : 5000,

  "updateMeasureWindow" : 0.5,
  "fidelityDecrementScore" : -0.1,
  "fidelityIncrementScore" : 1.0,
  "worldStartupIdle" : 10.0,
  "worldStorageInterval" : 30000,

  "connectionTimeout" : 10000,
  "maxPendingConnections" : 10,

  "passwordSaltLength" : 128,

  "speciesShips" : {
    "apex" : ["/ships/apex/apexT0.structure", "/ships/apex/apexT1.structure", "/ships/apex/apexT2.structure", "/ships/apex/apexT3.structure", "/ships/apex/apexT4.structure", "/ships/apex/apexT5.structure", "/ships/apex/apexT6.structure", "/ships/apex/apexT7.structure", "/ships/apex/apexT8.structure"],
    "avian" : ["/ships/avian/avianT0.structure", "/ships/avian/avianT1.structure", "/ships/avian/avianT2.structure", "/ships/avian/avianT3.structure", "/ships/avian/avianT4.structure", "/ships/avian/avianT5.structure", "/ships/avian/avianT6.structure", "/ships/avian/avianT7.structure", "/ships/avian/avianT8.structure"],
    "floran" : ["/ships/floran/floranT0.structure", "/ships/floran/floranT1.structure", "/ships/floran/floranT2.structure", "/ships/floran/floranT3.structure", "/ships/floran/floranT4.structure", "/ships/floran/floranT5.structure", "/ships/floran/floranT6.structure", "/ships/floran/floranT7.structure", "/ships/floran/floranT8.structure"],
    "glitch" : ["/ships/glitch/glitchT0.structure", "/ships/glitch/glitchT1.structure", "/ships/glitch/glitchT2.structure", "/ships/glitch/glitchT3.structure", "/ships/glitch/glitchT4.structure", "/ships/glitch/glitchT5.structure", "/ships/glitch/glitchT6.structure", "/ships/glitch/glitchT7.structure", "/ships/glitch/glitchT8.structure"],
    "human" : ["/ships/human/humanT0.structure", "/ships/human/humanT1.structure", "/ships/human/humanT2.structure", "/ships/human/humanT3.structure", "/ships/human/humanT4.structure", "/ships/human/humanT5.structure", "/ships/human/humanT6.structure", "/ships/human/humanT7.structure", "/ships/human/humanT8.structure"],
    "hylotl" : ["/ships/hylotl/hylotlT0.structure","/ships/hylotl/hylotlT1.structure", "/ships/hylotl/hylotlT2.structure", "/ships/hylotl/hylotlT3.structure", "/ships/hylotl/hylotlT4.structure", "/ships/hylotl/hylotlT5.structure", "/ships/hylotl/hylotlT6.structure", "/ships/hylotl/hylotlT7.structure", "/ships/hylotl/hylotlT8.structure"],
    "novakid" : ["/ships/novakid/novakidT0.structure", "/ships/novakid/novakidT1.structure", "/ships/novakid/novakidT2.structure", "/ships/novakid/novakidT3.structure", "/ships/novakid/novakidT4.structure", "/ships/novakid/novakidT5.structure", "/ships/novakid/novakidT6.structure", "/ships/novakid/novakidT7.structure", "/ships/novakid/novakidT8.structure"],
    "penguin" : ["/ships/novakid/novakidT0.structure", "/ships/novakid/novakidT1.structure", "/ships/novakid/novakidT2.structure", "/ships/novakid/novakidT3.structure", "/ships/novakid/novakidT4.structure", "/ships/novakid/novakidT5.structure", "/ships/novakid/novakidT6.structure", "/ships/novakid/novakidT7.structure", "/ships/novakid/novakidT8.structure"]
  },

  "introInstance" : {
    "default" : "protectorate"
  },

  "defaultWorldCoordinate" : "",

  "queuedFlightWaitTime" : 35.0,

  "findStarterWorldParameters" : {
    "tries" : 200,
    "range" : 500,
    "starterWorld" : {
      "terrestrialBiome" : "garden",
      "terrestrialSize" : "small"
    },
    "requiredSystemWorlds" : [
      {
        "terrestrialBiome" : "forest"
      },
      {
        "terrestrialBiome" : "desert"
      }
    ]
  },

  "commandProcessorScripts" : [],

  "serverAssetsMismatchMessage" : "This server disallows connections from clients with mismatched assets",
  "clientAssetsMismatchMessage" : "Assets mismatch between client and server, and the override option is not set"
}
