{
  "refreshInterval" : 2.0,
  "initialquests" : {
    "glitch" : [ "protectorate" ],
    "human" : [ "protectorate" ],
    "avian" : [ "protectorate" ],
    "apex" : [ "protectorate" ],
    "floran" : [ "protectorate" ],
    "hylotl" : [ "protectorate" ],
    "novakid" : [ "protectorate" ],
    "penguin" : [ "protectorate" ]
  },
  "indicators" : {
    "questgiver" : {
      "image" : "/interface/quests/questgiver.animation"
    },
    "questreceiver" : {
      "image" : "/interface/quests/questreceiver.animation"
    },
    "mainquestgiver" : {
      "image" : "/interface/quests/mainquestgiver.animation"
    },
    "mainquestreceiver" : {
      "image" : "/interface/quests/mainquestreceiver.animation"
    },
    "questrelevant" : {
      "image" : "/interface/quests/questrelevant.animation"
    }
  },
  "trackedCustomIndicator" : "/interface/quests/questrelevant.animation",
  "untrackedCustomIndicator" : "/interface/quests/untrackedrelevant.animation",

  // used for NPCs and monsters, this offset is applied from the top center of the hitbox
  "defaultIndicatorOffset" : [0, 1.52],

  "goalTextSeparator" : "^reset;\n\n",

  "objectiveDescriptions" : {
    "gatherItem" : "Acquire <itemName>: <current> / <required>",
    "gatherItemTag" : "Find <tag> items: <current> / <required>",
    "scanObjects" : "Investigate objects",
    "shipLevel" : "Upgrade ship from Model <current> to Model <required>",
    "fetch" : "Acquire <itemName>: <current> / <required>",
    "return" : "Return to <questGiver>"
  },

  "directions" : [
    {
      "angleRange" : [-45, 45],
      "descriptions" : [
        " above",
        " above us",
        " up above"
      ]
    },
    {
      "angleRange" : [-45, -135],
      "descriptions" : [
        " to the east",
        " east from here",
        " east of us"
      ]
    },
    {
      "angleRange" : [135, -135],
      "descriptions" : [
        " below",
        " below us",
        " down below"
      ]
    },
    {
      "angleRange" : [135, 45],
      "descriptions" : [
        " to the west",
        " west from here",
        " west of us"
      ]
    }
  ],

  "pronouns" : {
    "female" : {
      "subject" : "she",
      "object" : "her",
      "possessiveDet" : "her",
      "possessive" : "hers",
      "reflexive" : "herself",
      "capitalSubject" : "she",
      "capitalObject" : "her",
      "capitalPossessiveDet" : "her",
      "capitalPossessive" : "hers",
      "capitalReflexive" : "herself",
      "copulative" : "she is",
      "copulativePast" : "she has"
    },
    "male" : {
      "subject" : "he",
      "object" : "him",
      "possessiveDet" : "his",
      "possessive" : "his",
      "reflexive" : "himself",
      "capitalSubject" : "He",
      "capitalObject" : "him",
      "capitalPossessiveDet" : "his",
      "capitalPossessive" : "his",
      "capitalReflexive" : "himself",
      "copulative" : "he is",
      "copulativePast" : "he has"
    },
    "neutral" : {
      "subject" : "they",
      "object" : "them",
      "possessiveDet" : "their",
      "possessive" : "theirs",
      "reflexive" : "themself",
      "capitalSubject" : "they",
      "capitalObject" : "them",
      "capitalPossessiveDet" : "their",
      "capitalPossessive" : "theirs",
      "capitalReflexive" : "themself",
      "copulative" : "they are",
      "copulativePast" : "they have"
    }
  },

  "pronounGenders" : {
    "floran" : {
      "male" : "neutral",
      "female" : "neutral"
    }
  },

  "spawnEntities" : {
    "monsterEvolution" : {
      "smallbiped" : "largebiped",
      "smallquadruped" : "largequadruped",
      "smallflying" : "largeflying",
      "poptop" : "adultpoptop",
      "nutmidgeling" : "nutmidge",
      "kingnutmidgeling" : "nutmidge"
    },
    "minibosses" : {
      "scale" : 1.5,
      "statusEffects" : [
        "minibossglow"
      ]
    }
  }
}
