{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/cockpit/consoleheader.png",
      "fileBody" : "/interface/cockpit/consolebody.png"
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 22, 395, 318],
      "captureMouseEvents" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 324]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Station Transponder Configuration",
      "subtitle" : "^#b9b5b2;Configure and launch your station deployment probe",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/cockpit/cockpit.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "connectingLabel" : {
      "type" : "label",
      "position" : [5, 315],
      "vAnchor" : "top",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "Connecting to S.A.I.L...",
      "color" : [0, 255, 0],
      "mouseTransparent" : true
    },

    "coordinateLabel" : {
      "type" : "label",
      "position" : [390, 315],
      "vAnchor" : "top",
      "hAnchor" : "right",
      "width" : 120,
      "value" : "(0, 0)",
      "color" : [150, 150, 150],
      "visible" : false,
      "mouseTransparent" : true
    },

    "nameLabel" : {
      "type" : "label",
      "position" : [3, 41],
      "vAnchor" : "bottom",
      "hAnchor" : "left",
      "value" : "> ",
      "color" : [0, 255, 0],
      "visible" : false,
      "mouseTransparent" : true
    },
    "descriptionLabel" : {
      "type" : "label",
      "position" : [3, 40],
      "vAnchor" : "top",
      "hAnchor" : "left",
      "value" : "> ",
      "color" : [0, 255, 0],
      "wrapWidth" : 394,
      "visible" : false,
      "mouseTransparent" : true
    },

    "toggleConfigure" : {
      "type" : "button",
      "visible" : false,
      "base" : "/interface/placestation/configurebutton.png",
      "hover" : "/interface/placestation/configurebuttonhover.png",
      "pressed" : "/interface/placestation/configurebutton.png",
      "caption" : "",
      "fontColor" : [23, 178, 0],
      "position" : [3, 52],
      "zlevel" : 5,
      "callback" : "toggleConfigure"
    },
    "configure" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "position" : [73, 132],
      "size" : [250, 75],
      "zlevel" : 10,
      "children" : {
        "background" : {
          "type" : "image",
          "position" : [0, 0],
          "file" : "/interface/placestation/configurebody.png"
        },
        "configureLabel" : {
          "type" : "label",
          "position" : [125, 58],
          "vAnchor" : "bottom",
          "hAnchor" : "mid",
          "color" : [23, 178, 0],
          "fontSize" : 12,
          "width" : 246,
          "value" : "Configuration",
          "mouseTransparent" : true
        },
        "namebg" : {
          "type" : "image",
          "position" : [3, 39],
          "file" : "/interface/placestation/namebg.png"
        },
        "name" : {
          "type" : "textbox",
          "position" : [6, 42],
          "hint" : "Enter station name",
          "maxWidth" : 96,
          "color" : [23, 178, 0],
          "fontSize" : 8,
          "regex" : "[a-zA-Z0-9 '-?!.]{0,30}",
          "callback" : "configurationChanged",
          "nextFocus" : "description",
          "enterKey" : "saveConfiguration"
        },
        "descbg" : {
          "type" : "image",
          "position" : [3, 21],
          "file" : "/interface/placestation/descbg.png"
        },
        "description" : {
          "type" : "textbox",
          "position" : [6, 24],
          "hint" : "Enter station description",
          "maxWidth" : 238,
          "color" : [23, 178, 0],
          "fontSize" : 8,
          "regex" : "[a-zA-Z0-9 '-?!.]{0,130}",
          "callback" : "configurationChanged",
          "nextFocus" : "name",
          "enterKey" : "saveConfiguration"
        },
        "saveButton" : {
          "type" : "button",
          "disabled" : false,
          "base" : "/interface/placestation/savebutton.png",
          "hover" : "/interface/placestation/savebuttonhover.png",
          "pressed" : "/interface/placestation/savebutton.png",
          "caption" : "SAVE",
          "fontColor" : [23, 178, 0],
          "position" : [3, 3],
          "zlevel" : 5,
          "callback" : "saveConfiguration"
        }
      }
    }
  },

  "scripts" : [ "/interface/placestation/placestation.lua" ],
  "scriptDelta" : 1,

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "toggleConfigure",
    "saveConfiguration",
    "configurationChanged"
  ],

  "cockpitViewSettings" : {
    "warpInTime": 1.0,
    "warpOutTime": 1.0,
    "warpDistance": 1000,

    "playerWarpTime": 1.0,
    "playerWarpDistance": 1000,

    // screen radius to clamp system and planet views to
    "viewRadius": 130,

    // allowed scale range for system camera for each screen
    "scale": {
      "universe": [0.003, 0.003],
      "system": [0.4, 1.0],
      "planet": [5.0, 13.0]
    },
    "universeSystemRatio": 1000.0, // universe scale relative to system scale

    "bgScale": {
      "universe": 1.0,
      "system": 1.5,
      "planet": 1.75
    },

    "positionMarkerImage" : "/interface/cockpit/positionmarker.png",
    "positionMarkerOffset": [0, 6],

    "selectMarkerAnimation": {
      "image" : "/interface/cockpit/reticle.png:%s",
      "cycle": 0.1,
      "frames": 5
    },

    "planetInfo": {
      "expandTime": 0.1,
      "offset": [50, 0],
      "minOffset": 10
    },

    "backgrounds" : [
      "/interface/cockpit/nebula1.png",
      "/interface/cockpit/bgstars.png"
    ],
    "backgroundSize" : [1024, 1024],
    "backgroundColor" : [175, 175, 175],

    "hoverImage" : "/interface/cockpit/reticle.png:1",
    "destinationMarkerColor" : [0, 255, 0],

    "orbitColor" : [50, 50, 50, 255],

    "playerShipIcon" : "/celestial/system/ships/playership.png",
    "playerDestinationOrbitColor" : [0, 150, 0, 255],
    "playerOrbitColor" : [50, 75, 50, 255],

    "constellationLineColor" : [150, 150, 150, 255],
    "travelLine" : {
      "color" : [255, 255, 255, 255],
      "dash" : 4.0,
      "gap" : 2.0
    }
  },

  "objectRect" : [-1.5, -1.5, 1.5, 1.5],

  "dotCycle" : 1.0,
  "connect" : {
    "connectTime" : 2.5,
    "successTime" : 4.0,

    "connectText" : "^green;Connecting to S.A.I.L",

    "failColor" : [255, 0, 0],
    "failText" : "^red;Unable to establish high-bandwidth connection to S.A.I.L\nTry again from your ship",

    "successColor" : [0, 255, 0],
    "successText" : "^green;High-bandwidth connection established\nTransferring system data"
  },

  "extraOrbitPadding" : 0.0,

  "connectedText" : "^green;Link established",
  "coordinateText" : "(%s, %s)",

  "deploySequence" : {
    "dispatching" : 4.0,
    "traveling" : 8.0,
    "deploying" : 8.0,
    "deployFailure" : 16.0 // must be higher than deploying time
  },
  "errorColor" : [255, 0, 0],
  "deployingText" : {
    "dispatching" : "^green;Requesting probe dispatch",
    "traveling" : "^green;Probe dispatched.\nProbe approaching target orbit",
    "deploying" : "^green;Probe has reached target orbit.\nDeploying station",
    "deployed" : "^green;Station deployed",
    "error" : "Error deploying probe. \nConnection lost..."
  },

  "deployBlinkTime" : 1.0,

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "sounds" : {
    "open" : "/sfx/interface/stationtransponder_startup.ogg",
    "configure" : "/sfx/interface/stationtransponder_name.ogg",
    "typing" : "/sfx/interface/keypad_press.ogg",
    "valid" : "/sfx/interface/stationtransponder_valid1.ogg",
    "dispatch" : "/sfx/interface/stationtransponder_probeprep.ogg",
    "launch" : "/sfx/interface/stationtransponder_probelaunch2.ogg",
    "deploy" : "/sfx/interface/stationtransponder_stationpulse.ogg",
    "complete" : "/sfx/interface/ship_confirm1.ogg",
    "success" : "/sfx/cinematics/mission_unlock_event.ogg",
    "error" : "/sfx/interface/clickon_error.ogg"
  }
}
