{
  "damageTable" : {
    "damageFactors" : {
      "plantish" : 0.3,
      "blockish" : 0.28,
      "beamish" : 0.3,
      "protected" : 0.1,
      "explosive" : 0.02,
      "fire" : 0.0,
      "tilling" : 0.0
    },

    "damageRecovery" : 0.2,
    "maximumEffectTime" : 1.5
  },

  "dropCollision" : [-4.0, -5.0, 4.0, 5.0],
  "missingIcon" : "/interface/x.png"
}
