{
  "canBookmark" : false,
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam Down",
      "planetName" : "current orbited world",
      "warpAction" : "OrbitedWorld",
      "icon" : "beamdown"
    },
    {
      "name" : "Deploy Mech",
      "planetName" : "current orbited world",
      "warpAction" : "OrbitedWorld",
      "deploy" : true,
      "icon" : "deploy"
    }
  ]
}
