{
  "labels" : {
    // BLOCKS
    "block" : "Block",
    "liquid" : "Liquid",
    "platform" : "Platform",
    "rail" : "Rail",

    // ARMOUR
    "chestarmour" : "Chest Armour",
    "headarmour" : "Head Armour",
    "legarmour" : "Leg Armour",
    "backwear" : "Backwear",
    "chestwear" : "Chestwear",
    "headwear" : "Headwear",
    "legwear" : "Legwear",
    "enviroProtectionPack" : "Enviro Protection Pack",

    // ITEMS
    "clothingDye" : "Clothing Dye",
    "codex" : "Codex",
    "cookingIngredient" : "Cooking Ingredient",
    "craftingMaterial" : "Crafting Material",
    "currency" : "Currency",
    "drink" : "Drink",
    "eppAugment" : "EPP Augment",
    "farmBeastEgg" : "Farm Beast Egg",
    "farmBeastFood" : "Farm Beast Food",
    "fishingRod" : "Fishing Rod",
    "fishingLure" : "Fishing Lure",
    "fishingReel" : "Fishing Reel",
    "food" : "Food",
    "foodJunk" : "Junk",
    "junk" : "Junk",
    "largeFossil" : "Large Fossil",
    "mediumFossil" : "Medium Fossil",
    "medicine" : "Medicine",
    "musicalInstrument" : "Musical Instrument",
    "mysteriousReward" : "Mysterious Reward",
    "petCollar" : "Pet Collar",
    "preparedFood" : "Prepared Food",
    "quest" : "Quest",
    "railPlatform" : "Rail Platform",
    "salvageComponent" : "Salvage Component",
    "shipLicense" : "Ship License",
    "smallFossil" : "Small Fossil",
    "tech" : "Tech",
    "throwableItem" : "Throwable Item",
    "tool" : "Tool",
    "tradingCard" : "Trading Card",
    "trophy" : "Trophy",
    "upgradeComponent" : "Upgrade Component",
    "vehicleController" : "Vehicle Controller",
    "fuel" : "Ship Fuel",
    "farmBeastFeed" : "Fluffalo Food",
    "mechPart" : "Mech Component",
    "tradeGoods" : "Trade Goods",

    // OBJECTS
    "actionFigure" : "Action Figure",
    "artifact" : "Artifact",
    "breakable" : "Breakable",
    "bug" : "Bug",
    "crafting" : "Crafting Station",
    "decorative" : "Decorative",
    "door" : "Door",
    "fridgeStorage" : "Refrigerated Storage",
    "furniture" : "Furniture",
    "generic" : "Generic",
    "light" : "Light Source",
    "other" : "Other",
    "railPoint" : "Rail Point",
    "sapling" : "Sapling",
    "seed" : "Seed",
    "shippingContainer" : "Shipping Container",
    "spawner" : "Deed",
    "storage" : "Storage",
    "techManagement" : "Tech Management",
    "teleporter" : "Teleporter",
    "teleportMarker" : "Teleport Marker",
    "trap" : "Trap",
    "wire" : "Wire",
    "terraformer" : "Terraformer",

    // WEAPONS
    "assaultRifle" : "Assault Rifle",
    "axe" : "Axe",
    "boomerang" : "Boomerang",
    "bow" : "Bow",
    "broadsword" : "Broadsword",
    "chakram" : "Chakram",
    "crossbow" : "Crossbow",
    "dagger" : "Dagger",
    "fistWeapon" : "Fist Weapon",
    "grenadeLauncher" : "Grenade Launcher",
    "hammer" : "Hammer",
    "machinePistol" : "Machine Pistol",
    "pistol" : "Pistol",
    "rocketLauncher" : "Rocket Launcher",
    "shield" : "Shield",
    "shortsword" : "Shortsword",
    "shotgun" : "Shotgun",
    "sniperRifle" : "Sniper Rifle",
    "spear" : "Spear",
    "staff" : "Staff",
    "wand" : "Wand",
    "toy" : "Toy",
    "uniqueWeapon" : "Unique Weapon",
    "whip" : "Whip"
  }
}
