{
  "damageFactors" : {
    "plantish" : 0.3,
    "blockish" : 0.6,
    "beamish" : 0.6,
    "protected" : 0.1,
    "explosive" : 1.0,
    "fire" : 0.0,
    "tilling" : 0.0
  },

  "damageRecovery" : 0.2,
  "missingIcon" : "/interface/x.png",

  "materialItems" : {
    "cooldown" : 0.05
  },

  "liquidBlockSound" : "/sfx/blocks/water_splash_small.ogg",
  "liquidItems" : {
    "cooldown" : 0.15,
    "bucketSize" : 1.0
  },

  "blockRadius" : 2,
  "altBlockRadius" : 1,
  "pickupSounds" : [ "/sfx/interface/item_pickup.ogg" ],
  "defaultTimeToLive" : 300.0,
  "defaultMaxStack" : 1000,

  "defaultPrice" : 0,
  "blueprintPriceFactor" : 0.5,

  "defaultCraftDuration" : 0.5
}
