{
  "baseTimeToRot" : 10800,
  "rottedItem" : "rottenfood",

  "rotTimeDescriptions" : [
    [300, "^red;Almost too rotten to eat^reset;"],
    [1800, "^orange;Starting to smell rotten^reset;"],
    [3600, "^yellow;Will probably go bad soon^reset;"],
    [10800, "^green;Should stay fresh for awhile^reset;"],
    [999999, "^green;Extremely well preserved^reset;"]
  ]
}
