{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "poisonsmoke"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fire_out_louder.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    }

  ]
}
