{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomLeft",
      "offset" : [5, 86],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/radiomessage/background.png",
      "fileFooter" : ""
    },
    "imgPortrait" : {
      "type" : "image",
      "position" : [-4, -4]
    },
    "lblMessage" : {
      "type" : "label",
      "position" : [61, 53],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 218,
      "value" : ""
    }
  },

  "backgroundImage" : "/interface/radiomessage/background.png",

  "animateInTime" : 0.4,
  "animateInImage" : "/interface/radiomessage/blinkin.png",
  "animateInFrames" : 6,

  "animateOutTime" : 0.4,
  "animateOutImage" : "/interface/radiomessage/blinkout.png",
  "animateOutFrames" : 6,

  "chatOffset" : [5, 5],

  "slideTime" : 0.3
}
