{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Stark", "Brass", "Iron", "Rend", "Cleave", "Arrow", "Cog", "Siege", "Long", "Stone", "Turn", "Brave", "Gold", "Storm", "Farm", "Star", "Free", "Wind", "Swift", "Thunder", "Jet", "Spark", "Bronze", "Night", "Rust" ],
      [ "bolt", "mate", "heart", "chain", "oak", "quill", "march", "spear", "blade", "knave", "lord", "watch", "shield", "pike", "wall", "rake", "finger", "latch", "mail", "lance", "wire", "nail", "foot", "hand" ]
    ]
  ]
}
