{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Song", "Sing", "Iron", "Hope", "Star", "Arrow", "Silver", "Charm", "Siege", "Long", "Shine", "Turn", "Brave", "Gold", "Storm", "Farm", "Star", "Free", "Wind", "Swift", "Moon", "Wing", "Spark", "Night", "Sunny", "Bright" ],
      [ "bolt", "mate", "heart", "chain", "oak", "quill", "march", "spear", "blade", "knave", "lord", "watch", "shield", "pike", "wall", "rake", "finger", "latch", "mail", "lance", "wire", "nail", "foot", "flower" ]
    ]
  ]
}
