{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "nae", "mann", "phie", "fer", "gen", "lar", "ed", "ken", "sha", "don", "sa", "jo", "san", "an", "char", "nald", "cy", "rol", "mark", "beef", "jim", "pin", "marky", "bacon", "hux", "ding", "dingy", "DJ", "MC", "Dr ", "Prof. " ],
      [ { "mode" : "alts" }, "li", "lee", "ald", "ley", "iel", "is", "pher", "ron", "fer", "lay", "les", "chet", "kev", "jeff", "ta", "mit", "roy", "joan", "da", "wil", "son", "in", "ins", "bu", "y", " V.", "le", "jim" ]
    ]
  ]
}
