{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/playerstationconsole/header.png",
      "fileBody" : "/interface/scripted/playerstationconsole/body.png",
      "fileFooter" : "/interface/scripted/playerstationconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Station Console",
      "subtitle" : " Control your station's systems",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/playerstationconsole/playerstationconsoleicon.png",
        "zlevel" : -1
      }
    },

    "lblGravity" : {
      "type" : "label",
      "position" : [15, 55],
      "hAnchor" : "left",
      "value" : "GRAVITY"
    },

    "sldGravity" : {
      "type" : "slider",
      "position" : [55, 55],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "setGravity",
      "range" : [0, 100, 1]
    },

    "lblHideExpansionSlots" : {
      "type" : "label",
      "position" : [15, 35],
      "hAnchor" : "left",
      "value" : "HIDE EXPANSION SLOTS"
    },

    "btnHideExpansionSlots" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [110, 35],
      "callback" : "setHideExpansionSlots"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "setGravity",
    "setHideExpansionSlots"
  ],

  "scripts" : ["/interface/scripted/playerstationconsole/playerstationconsolegui.lua"],
  "scriptDelta" : 5
}
