{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/vaultaccess/header.png",
      "fileBody" : "/interface/scripted/vaultaccess/body.png",
      "fileFooter" : "/interface/scripted/vaultaccess/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Vault Gate",
      "subtitle" : "An extradimensional sanctuary",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/vaultaccess/icon.png",
        "zlevel" : -1
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 101]
    },

    "closeVaultButton" : {
      "type" : "button",
      "position" : [26, 36],
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "caption" : "Close Vault",
      "callback" : "closeVault"
    },
    "enterVaultButton" : {
      "type" : "button",
      "position" : [97, 36],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Enter Vault",
      "callback" : "enterVault"
    },

    "lblTimeDescription" : {
      "type" : "label",
      "position" : [109, 72],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "value" : "TIME REMAINING:"
    },
    "lblTime" : {
      "type" : "label",
      "position" : [112, 72],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "00:00"
    },
    "imgProgressBackground" : {
      "type" : "image",
      "zlevel" : 0,
      "position" : [25, 60],
      "file" : "/interface/scripted/vaultaccess/bar_back.png"
    },
    "prgTime" : {
      "type" : "progress",
      "zlevel" : 1,
      "position" : [27, 62],
      "size" : [123, 4],
      "progressSet" : {
        "inner" : "/interface/scripted/vaultaccess/bar_full.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1,
      "initial" : 0.75
    }
  },

  "scriptWidgetCallbacks" : [
    "enterVault",
    "closeVault"
  ],

  "scripts" : ["/interface/scripted/vaultaccess/vaultaccessgui.lua"],
  "scriptDelta" : 20
}
