{
  "default" : {
    "resistanceStat" : "physicalResistance",
    "damageNumberParticles" : {
      "hit" : "damagenumber",
      "stronghit" : "damagenumberstrong",
      "weakhit" : "damagenumberweak",
      "shieldhit" : "damagenumber",
      "kill" : "damagenumber"
    }
  },

  "fire" : {
    "resistanceStat" : "fireResistance",
    "damageNumberParticles" : {
      "hit" : "firedamagenumber",
      "stronghit" : "firedamagenumberstrong",
      "weakhit" : "firedamagenumberweak",
      "shieldhit" : "firedamagenumber",
      "kill" : "firedamagenumber"
    }
  },

  "ice" : {
    "resistanceStat" : "iceResistance",
    "damageNumberParticles" : {
      "hit" : "icedamagenumber",
      "stronghit" : "icedamagenumberstrong",
      "weakhit" : "icedamagenumberweak",
      "shieldhit" : "icedamagenumber",
      "kill" : "icedamagenumber"
    }
  },

  "poison" : {
    "resistanceStat" : "poisonResistance",
    "damageNumberParticles" : {
      "hit" : "poisondamagenumber",
      "stronghit" : "poisondamagenumberstrong",
      "weakhit" : "poisondamagenumberweak",
      "shieldhit" : "poisondamagenumber",
      "kill" : "poisondamagenumber"
    }
  },

  "electric" : {
    "resistanceStat" : "electricResistance",
    "damageNumberParticles" : {
      "hit" : "electricdamagenumber",
      "stronghit" : "electricdamagenumberstrong",
      "weakhit" : "electricdamagenumberweak",
      "shieldhit" : "electricdamagenumber",
      "kill" : "electricdamagenumber"
    }
  }
}