{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/games/fossilgame/consoleheader.png",
      "fileBody" : "/interface/games/fossilgame/consolebody.png"
    },
    "gameCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 35, 315, 257],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "canvasClickCallbacks" : {
    "gameCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "gameCanvas" : "canvasKeyEvent"
  },

  "scripts" : [
    "/interface/games/fossilgame/fossilgame.lua"
  ],
  "scriptDelta" : 1,

  "toolRockChance" : 0.3,
  "randomRockChance" : 0.3,

  "treasureFoundSound" : "/sfx/objects/piano_riff3.ogg",
  "treasureOpenSound" : "/sfx/objects/chest_medium_open.ogg",

  "loseSound" : "/sfx/objects/piano_riff4.ogg",
  "incompleteSound" : "/sfx/objects/piano_riff4.ogg",
  "winSound" : "/sfx/objects/piano_riff5.ogg",

  "fossilDamageSound" : "/sfx/blocks/footstep_bone.ogg",

  "clearDirtSound" : "/sfx/blocks/footstep_sand2.ogg",
  "clearRockSound" : "/sfx/objects/rock_break5.ogg",

  "treasureConfig" : {
    "none" : {"size" : [0, 0], "image" : ""},
    "normal" : {"size" : [2, 2], "image" : "/interface/games/fossilgame/images/treasurechest.png"},
    "rare" : { "size" : [3, 3], "image" : "/interface/games/fossilgame/images/raretreasurechest.png" }
  }
}
