{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots33to40.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [43, 141],
      "file" : "",
      "centered" : true,
      "maxSize" : [60, 60],
      "minSize" : [60, 60]
    },
    "btnShip" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Ship",
      "position" : [96, 26],
      "callback" : "triggerShipment"
    },
    "lblMoneyLabel" : {
      "type" : "label",
      "position" : [6, 28],
      "value" : "TOTAL VALUE"
    },
    "imgMoneyIcon" : {
      "type" : "image",
      "position" : [56, 29],
      "centered" : false,
      "file" : "/interface/inventory/money.png"
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [68, 28],
      "value" : "0"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 100],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [4, 43],
      "slotOffset" : 16,
      "dimensions" : [8, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "40 SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 178]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine33to40.png",
      "position" : [0, 2]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 194]
    }
  },

  "scriptWidgetCallbacks" : [
    "triggerShipment"
  ],

  "scripts" : ["/interface/scripted/cropshipper/cropshippergui.lua"],
  "scriptDelta" : 5,

  "sellFactor" : 0.3,
  "acceptItems" : [

    // SEEDS
    "automatoseed",
    "avesmingoseed",
    "bananaseed",
    "beakseedseed",
    "boltbulbseed",
    "bonebooseed",
    "carrotseed",
    "chiliseed",
    "cocoaseed",
    "coffeeseed",
    "coralcreepseed",
    "cornseed",
    "cottonseed",
    "crystalplantseed",
    "currentcornseed",
    "dirturchinseed",
    "eggshootseed",
    "feathercrownseed",
    "grapesseed",
    "kiwiseed",
    "mushroomseed",
    "neonmelonseed",
    "oculemonseed",
    "pearlpeaseed",
    "pineappleseed",
    "potatoseed",
    "pussplumseed",
    "reefpodseed",
    "riceseed",
    "sugarcaneseed",
    "thornplant",
    "tomatoseed",
    "toxictopseed",
    "wartweedseed",
    "wheatseed",

    // PRODUCE
    "alienfruit",
    "automato",
    "avesmingo",
    "banana",
    "beakseed",
    "boltbulb",
    "boneboo",
    "cacti",
    "cannedfood",
    "carrot",
    "chili",
    "cocoa",
    "coconut",
    "coffeebeans",
    "coralcreep",
    "corn",
    "currentcorn",
    "diodia",
    "dirturchin",
    "eggshoot",
    "feathercrown",
    "grapes",
    "greenapple",
    "kiwi",
    "neonmelon",
    "oculemon",
    "orange",
    "pearlpea",
    "pineapple",
    "potato",
    "pussplum",
    "redapple",
    "reefpod",
    "rice",
    "shroom",
    "sugar",
    "thornfruit",
    "tomato",
    "toxictop",
    "wartweed",
    "wheat",

    // MEAT
    "alienmeat",
    "rawbacon",
    "rawfish",
    "rawham",
    "rawpoultry",
    "rawribmeat",
    "rawtentacle",

    // PREPARED FOODS - CAMPFIRE
    "bakedpotato",
    "boiledpearlpeas",
    "boiledrice",
    "cookedalienmeat",
    "cookedbacon",
    "cookedfish",
    "cookedham",
    "cookedpoultry",
    "cookedribmeat",
    "cookedtentacle",
    "cookedtomato",
    "popcorn",
    "potatogrids",
    "roastedcarrot",
    "roastedmushrooms",
    "toast",

    // PREPARED FOODS - TIER 1
    "bread",
    "corncob",
    "fishdumplings",
    "fishfingers",
    "fishnchips",
    "fishpie",
    "fishstew",
    "mashedpotato",
    "meatdumplings",
    "meatpie",
    "meatstew",
    "pearlpeabroth",
    "pearlpearisotto",
    "cheese",

    // PREPARED FOODS - TIER 2
    "applecrumble",
    "baconpancakes",
    "beakseedbread",
    "beakseedjam",
    "beakseedtart",
    "bonbons",
    "bonbonbonbons",
    "cactusjuice",
    "cake",
    "candiedcorn",
    "candyapple",
    "carrotbread",
    "carrotcake",
    "carrotjuice",
    "carrotsoup",
    "cheeseburger",
    "chocolate",
    "chocolatecake",
    "coffee",
    "coffeecake",
    "cornpeckers",
    "feathercrownjam",
    "featherfood",
    "flatwhite",
    "fluffyruffs",
    "gardensalad",
    "hamburger",
    "kiwijam",
    "kiwijuice",
    "mocha",
    "mushroombread",
    "mushroomquiche",
    "mushroomrice",
    "omelette",
    "pasty",
    "pearlpeajam",
    "pearlpeapancakes",
    "pizza",
    "pizzaslice",
    "porridge",
    "quichelorraine",
    "relish",
    "ricepudding",
    "roastdinner",
    "specialrice",
    "spikycookies",
    "stickyribs",
    "stuffedtomato",
    "sweetmeat",
    "sweetpopcorn",
    "tomatojuice",
    "tomatosoup",

    // PREPARED FOODS - TIER 3
    "2kbpotage",
    "apegrapes",
    "apexfritter",
    "automatoshake",
    "automatostew",
    "bananacon",
    "bananacreamdonut",
    "bananacreampie",
    "bananaicecream",
    "batteredbanana",
    "cactiicecream",
    "campfirebanana",
    "candyautomato",
    "choconut",
    "coconuticecream",
    "coconutmilk",
    "coconutrice",
    "desertsalsa",
    "fishinabone",
    "fruitsalad",
    "grapejuice",
    "luckydip",
    "pineapplejam",
    "pineapplejuice",
    "pineapplepizzaslice",
    "snowcone",
    "spookydonut",
    "spookypie",
    "stuffedautomato",
    "sweetpunch",
    "thornjuice",
    "tropicalpunch",

    // PREPARED FOODS - TIER 4
    "alienfruitjam",
    "alienfruitjuice",
    "avesmingoicecream",
    "avesmingojuice",
    "bananasplit",
    "bloodypuss",
    "brineapple",
    "cyanider",
    "oceanrisotto",
    "oceansalsa",
    "oceansurprise",
    "oculemonmeringue",
    "oculemonstew",
    "pussplumjam",
    "pussplumpudding",
    "pussplumtart",
    "reefjuice",
    "reefpodsurprise",
    "reefshake",
    "ricecake",
    "saltsalad",
    "seafoodgratin",
    "soggysack",
    "stuffeddirturchin",
    "sushi",
    "toxicjamdonut",
    "toxicjuice",
    "toxictart",
    "toxictopjam",

    // PREPARED FOODS - TIER 5
    "8gbpizzap",
    "16gbpasty",
    "boltos",
    "eggshooticecream",
    "eggshootsalad",
    "eyebowls",
    "nutsandbolts",
    "piodia",
    "smash",

    // PREPARED FOODS - TIER 6
    "burningeyeballs",
    "coralcreepcurry",
    "hotbone",
    "hothothotpot",
    "neonmelonjam",
    "pearlpeaparcels",
    "pozest",
    "spicyfeathercrown",
    "spicyribs",
    "ultimatejuice",
    "volcanicsalsa",
    "wartweedjam",
    "wartweedjamdonut",
    "wartweedstew",

    // SPINNING WHEEL MATERIALS
    "canvas",
    "cotton",
    "cottonwool",
    "silk",
    "silkfibre",
    "string",
    "syntheticmaterial",

    // MONSTER DROP MATERIALS
    "egg",
    "cryonicextract",
    "hardenedcarapace",
    "leather",
    "livingroot",
    "milk",
    "phasematter",
    "scorchedcore",
    "sharpenedclaw",
    "smallbattery",
    "staticcell",
    "stickofram",
    "venomsample"
  ]
}
