{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/turret/turret_header.png",
      "fileBody" : "/interface/turret/turret_body.png",
      "fileFooter" : "/interface/turret/turret_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [60, 37],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/gun.png"
    }
  }
}
