{
  "config" : {
    "lineHeight" : 1.1,
    "visTime" : 5,
    "fadeRate" : 1.0,
    "chatHistoryLimit" : 64,

    "portraitTextOffset" : [28, 0],
    "portraitScale" : 0.5,
    "portraitImageOffset" : [-5, -5],
    "portraitVerticalMargin" : 3,
    "portraitBackground" : "/interface/chat/portraitbg.png",

    "bodyHeight" : 55,
    "expandedBodyHeight" : 145,

    "font" : {
      "baseSize" : 8,
      "itemSize" : 8,
      "nameSize" : 8,
      "defaultColor" : [255, 255, 255]
    },
    "colors" : {
      "local" : "^shadow,white;",
      "party" : "^shadow,blue;",
      "broadcast" : "^shadow,yellow;",
      "whisper" : "^shadow,pink;",
      "commandResult" : "^shadow,lightgray;",
      "radioMessage" : "^shadow,cyan;",
      "world" : "^shadow,cyan;"
    }
  },
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "BottomLeft",
      "offset" : [0, 5],
      "positionLocked" : true
    },
    "background" : {
      "type" : "imageStretch",
      "zlevel" : -10,
      "size" : [290, 28], // Height is header + footer, body height is added dynamically
      "direction" : "vertical",
      "stretchSet" : {
        "end" : "/interface/chat/header.png",
        "inner" : "/interface/chat/body.png",
        "begin" : "/interface/chat/footer.png"
      }
    },
    "chatLog" : {
      "type" : "canvas",
      "size" : [260, 60], // Height set dynamically
      "position" : [24, 25]
    },
    "textBoxBG" : {
      "type" : "image",
      "file" : "/interface/chat/chat.png",
      "position" : [20, 10]
    },
    "textBox" : {
      "type" : "textbox",
      "maxWidth" : 241,
      "position" : [44, 13],
      "color" : "green"
    },
    "say" : {
      "type" : "label",
      "value" : "Say:",
      "position" : [24, 13],
      "color" : "green"
    },
    "upButton" : {
      "type" : "button",
      "position" : [4, 75],
      "base" : "/interface/chat/up.png",
      "hover" : "/interface/chat/upOver.png"
    },
    "downButton" : {
      "type" : "button",
      "position" : [4, 22],
      "base" : "/interface/chat/down.png",
      "hover" : "/interface/chat/downOver.png"
    },
    "bottomButton" : {
      "type" : "button",
      "position" : [4, 1],
      "base" : "/interface/chat/bottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    },
    "filterGroup" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [20, 2],
          "text" : "ALL",
          "fontColor" : "gray",
          "fontColorChecked" : "white",
          "data" : {
            "filter" : [],
            "sendMode" : "Broadcast"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [60, 2],
          "text" : "PLAYER",
          "fontColor" : "gray",
          "fontColorChecked" : "white",
          "data" : {
            "filter" : [ "Broadcast", "Local", "Party" ],
            "sendMode" : "Broadcast"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [100, 2],
          "text" : "LOG",
          "fontColor" : "gray",
          "fontColorChecked" : "white",
          "data" : {
            "filter" : [ "RadioMessage", "World" ],
            "sendMode" : "Broadcast"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "disabledImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [140, 2],
          "text" : "PARTY",
          "fontColor" : "gray",
          "fontColorDisabled" : [50, 50, 50],
          "fontColorChecked" : "white",
          "data" : {
            "filter" : [ "Party" ],
            "sendMode" : "Party"
          }
        },
        {
          "baseImage" : "/interface/chat/filtertab.png:inactive",
          "baseImageChecked" : "/interface/chat/filtertab.png:active",
          "pressedOffset" : [0, 0],
          "position" : [180, 2],
          "text" : "LOCAL",
          "fontColor" : "gray",
          "fontColorChecked" : "white",
          "data" : {
            "filter" : [ "Local" ],
            "sendMode" : "Local"
          }
        }
      ]
    }
  },
  "bottom" : {
    "atbottom" : {
      "base" : "/interface/chat/bottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    },
    "scrolling" : {
      "base" : "/interface/chat/atbottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    }
  }
}
