{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/expandstation/header.png",
      "fileBody" : "/interface/expandstation/body.png",
      "fileFooter" : ""
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [305, 279]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Station Expansion Slot",
      "subtitle" : "^#b9b5b2;Expand your station",
      "icon" : {
        "type" : "image",
        "file" : "/interface/expandstation/expandstationicon.png",
        "position" : [74, 210],
        "zlevel" : -1
      }
    },

    "selectedIcon" : {
      "type" : "image",
      "position" : [190, 259],
      "centered" : true
    },
    "selectedName" : {
      "type" : "label",
      "position" : [201, 259],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : ""
    },
    "previewCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [182, 113, 311, 242],
      "captureMouseEvents" : false
    },
    "selectedDescription" : {
      "type" : "label",
      "position" : [186, 110],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 120,
      "value" : "No part selected"
    },
    "warning" : {
      "type" : "label",
      "position" : [185, 53],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 129,
      "color" : "red",
      "value" : "No part selected"
    },

    "placeButton" : {
      "type" : "button",
      "disabled" : true,
      "base" : "/interface/expandstation/placebutton.png",
      "hover" : "/interface/expandstation/placebuttonhover.png",
      "pressed" : "/interface/expandstation/placebutton.png",
      "caption" : "place",
      "position" : [220, 27],
      "zlevel" : 5,
      "callback" : "placePart"
    },

    "partListArea" : {
      "type" : "layout",
      "layoutType" : "basic",
      "position" : [3, 20],
      "size" : [170, 242],
      "zlevel" : 10,
      "children" : {
        "scrollArea" : {
          "type" : "scrollArea",
          "rect" : [0, 15, 170, 242],
          "children" : {
            "itemList" : {
              "type" : "list",
              "callback" : "itemSelected",
              "schema" : {
                "selectedBG" : "/interface/crafting/craftableselected2.png",
                "unselectedBG" : "/interface/crafting/craftablebackground.png",
                "spacing" : [0, 1],
                "memberSize" : [159, 20],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/interface/crafting/craftablebackground.png",
                    "position" : [2, 0],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [25, 5],
                    "hAnchor" : "left",
                    "wrapWidth" : 116,
                    "value" : "Replace Me"
                  },
                  "itemIcon" : {
                    "type" : "image",
                    "position" : [12, 10],
                    "centered" : true,
                    "size" : [12, 12]
                  },
                  "notcraftableoverlay" : {
                    "type" : "image",
                    "visible" : false,
                    "file" : "/interface/crafting/notcraftableoverlay.png",
                    "position" : [2, 0],
                    "zlevel" : 10
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "scripts" : [ "/interface/expandstation/expandstation.lua" ],
  "scriptDelta" : 5,

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "placePart"
  ],

  "warningMessages" : {
    "range" : "Part outside station range",
    "overlap": "Overlaps existing part",
    "invalid" : "Can't connect to existing part",
    "blocking" : "Blocks existing part",
    "uncraftable" : "Not enough materials",
    "unplaceable" : "No valid anchor",
    "blocked" : "Part blocked by entity"
  },
  "errorSound" : "/sfx/interface/clickon_error.ogg",

  "itemList" : {
    "position" : [0, 21],
    "memberSize" : [125, 22],
    "spacing" : [0, 1]
  },
  "listTemplate" : {
    "background" : {
      "type" : "image",
      "file" : "/interface/craftingtooltip/listitem.png",
      "position" : [1, 0],
      "zlevel" : -1
    },
    "itemName" : {
      "type" : "label",
      "position" : [27, 11],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "wrapWidth" : 66,
      "lineSpacing" : 1.0,
      "value" : "Golden Moustache"
    },
    "itemIcon" : {
      "type" : "image",
      "position" : [4, 2],
      "file" :  ""
    },
    "count" : {
      "type" : "label",
      "position" : [117, 7],
      "hAnchor" : "right",
      "value" : "19/99"
    }
  },
  "tooltipLayout" : {
    "bg" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/expandstation/tooltipbody.png",
      "fileFooter" : ""
    },
    "background" : {
      "type" : "imageStretch",
      "zlevel" : -1,
      "position" : [0, 0],
      "size" : [134, 38], // Height of itemList is added to this height
      "direction" : "vertical",
      "stretchSet" : {
        "end" : "/interface/craftingtooltip/header.png",
        "inner" : "/interface/craftingtooltip/body.png",
        "begin" : "/interface/craftingtooltip/footer.png"
      }
    },
    "title" : {
      "type" : "label",
      "position" : [63, 33], // Height of itemList is added to this y position
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 116,
      "value" : "INGREDIENTS"
    }
  }
}
