{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/collections/header.png",
      "fileBody" : "/interface/scripted/collections/body.png",
      "fileFooter" : "/interface/scripted/collections/footer.png"
    },
    "collectionTabs" : {
      "type" : "radioGroup",
      "callback" : "selectCollection",
      "zlevel" : 2,
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : false,
          "position" : [4, 180],
          "baseImage" : "/interface/scripted/collections/tab_monster_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_monster_select.png",
          "pressedOffset" : [0, 0],
          "data" : "monsters"
        },
        {
          "selected" : false,
          "position" : [4, 154],
          "baseImage" : "/interface/scripted/collections/tab_figure_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_figure_select.png",
          "pressedOffset" : [0, 0],
          "data" : "actionfigures"
        },
        {
          "selected" : false,
          "position" : [4, 128],
          "baseImage" : "/interface/scripted/collections/tab_fish_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_fish_select.png",
          "pressedOffset" : [0, 0],
          "data" : "fishing"
        },
        {
          "selected" : false,
          "position" : [4, 102],
          "baseImage" : "/interface/scripted/collections/tab_food_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_food_select.png",
          "pressedOffset" : [0, 0],
          "data" : "cooking"
        },
        {
          "selected" : false,
          "position" : [4, 76],
          "baseImage" : "/interface/scripted/collections/tab_fossil_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_fossil_select.png",
          "pressedOffset" : [0, 0],
          "data" : "fossils"
        },
        {
          "selected" : false,
          "position" : [4, 50],
          "baseImage" : "/interface/scripted/collections/tab_bug_deselect.png",
          "baseImageChecked" : "/interface/scripted/collections/tab_bug_select.png",
          "pressedOffset" : [0, 0],
          "data" : "bugs"
        }
      ]
    },
    "selectLabel" : {
      "type" : "label",
      "position" : [138, 208],
      "hAnchor" : "mid",
      "value" : "Collection"
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 192],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : "Select a collection to the left"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [245, 227]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Collections Library",
      "subtitle" : "Catalogue everything you've seen and done!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/collections/collectionsicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/scripted/collections/scroll_bg.png",
      "position" : [29, 25],
      "zlevel" : -5
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [38, 35, 256, 205],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, 217],
          "columns" : 5,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/collections/collect_bg.png",
            "unselectedBG" : "/interface/scripted/collections/collect_bg.png",
            "spacing" : [10, 10],
            "memberSize" : [32, 32],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/collections/collect_bg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "file" : "",
                "position" : [16, 16],
                "size" : [22, 22],
                "centered" : true,
                "zlevel" : 0
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/scripted/collections/collect_fg.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
              "index" : {
                "type" : "label",
                "position" : [8, 2],
                "zlevel" : 20,
                "hAnchor" : "mid",
                "color" : "white",
                "value" : ""
              }
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "selectCollection"
  ],

  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },

  "scripts" : [ "/interface/scripted/collections/collectionsgui.lua" ],
  "scriptDelta" : 30,

  "iconSize" : [22, 22]
}
