{
  "converse" : {
    "default" : {
      "default" : [
        "Welcome aboard!",
        "How did you get all the way up here?",
        "Keep your hands off our supplies and we won't have any problems.",
        "If you want supplies you should speak to our quartermaster.",
        "Haven't seen you on board before.",
        "You a new crew member?",
        "Watch your step on deck, it can get a bit rough in windy conditions.",
        "Make sure you behave yourself.",
        "You here to trade?",
        "It has its challenges, but life as an aeronaut is great!",
        "I'd think twice if you're looking for a scuffle.",
        "Don't cause any trouble and no harm will come to you.",
        "Keep your hands to yourself!",
        "Ugh, I'm on cleaning duty today.",
        "Right here in the open skies, this is where I belong!",
        "You'd best not be eyeing our stuff!",
        "You ever consider getting an eyepatch?",
        "The view from the main deck is quite something!",
        "Any funny business and it'll be the brig for you!",
        "Looking for supplies? Go see the quartermaster.",
        "What do you think of our ship?",
        "When I tell people I live on a ship, they always assume I have scurvy.",
        "All these propellers require so much upkeep!",
        "I wonder how my family is doing.",
        "I'm new here, but I'm finding my skyfaring legs!",
        "You seem a capable sort, ever considered the skyfaring life?",
        "Life on an airship isn't all it's cracked up to be.",
        "Every day it's the same old routine.",
        "The ship is nice and all, but the food is terrible! Know how to cook?",
        "This ship has seen better days, but its my home.",
        "You lost?",
        "We got some great supplies from our last stop!",
        "For some, it's about the money. For me, it's about the adventure!",
        "We see a lot of exciting stuff in our line of work, but it can be dangerous too!",
        "I'd best not catch you pilfering anything!",
        "Keep your hands where I can see them...",
        "If supplies are what you want, go see the quartermaster.",
        "One whiff of disrespect and I will end you!",
        "We're a merchant vessel by trade, but don't think that makes us pushovers.",
        "You look like you've been in a scrap or two."
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "Keep your hands where I can see them!",
        "I've got my eyes on you.",
        "Don't go getting any funny ideas now.",
        "I'm watching you.",
        "I'd better not catch you taking anything.",
        "If you want some of our supplies, go speak to the quartermaster.",
        "You'd best behave yourself while on this ship."
      ]
    }
  }
}