{
  "converse" : {
    "default" : {
      "default" : [
        "I dinnae see many like ye around, I tell ye that!",
        "I'm itching tae batter some beasties.",
        "Are ye a fighter, or a craven?",
        "I've been a warrior since I was a wee Alpaca.",
        "I had some wee traveller ask me if this was a costume...",
        "Courage is better than keenest durasteel.",
        "Always have a wee nap when ye can!",
        "Keep the heid!",
        "Be keepin' merry, friend!",
        "Eat well if ye want te fight well!",
        "I dinnae care what ye look like, as long as ye strong of heart!",
        "Do I look like I'm in a costume? Just askin', it dinnae mean anything...",
        "Ye must be cold without a fur coat like me.",
        "I'm itching for a wee fight.",
        "Do ye get many that look like ye?",
        "Dinnae cause trouble and we'll treat ye like kin!",
        "Some hardy stone furniture makes an Alpaca happy, I tell ye!",
        "Ye dinnae look like a coward. I respect that."
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Are ye tryin' tae steal from me?",
        "Do ye think I cannae see you stealin'?",
        "Ye better stop ye thievin'!",
        "Oy! I see ye stealin'. Ye better stop that!",
        "We dinnae like craven thieves around here!",
        "We dinnae take well to thievery around these parts!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Has something been moved around in here?",
        "Have ye moved something around?",
        "Something is nae right in here..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "There's a wee draft in here...",
        "Could ye sort out the wall in here?",
        "I think there's a wee break in my home! Can ye fix it?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "There should nae be another deed in here!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I dinnae think I can live here any longer!",
        "This is not a proper home for an Alpaca!",
        "I think I've had enough with ye!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I'm done with ye! I'm flitting!",
        "I'm not living with ye conditions any longer!",
        "I'm nae living like this!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Ye have need of me?",
        "Do ye need me for something?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's a gift for all ye help.",
        "Take this, ye wee helper of mine!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "I'm surprised ye showed ye face again!",
        "Ye back? Have at ye!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Have at ye!",
        "Get tae heck!",
        "Have oot with ye!",
        "Ye wee craven fool!",
        "Ye craven!",
        "Dinnae think ye can get away!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Away with ye!",
        "Another fight won, lads!",
        "That's what ye get!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Run away ye wee coward!",
        "Dinnae come back!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Where did ye go?",
        "Ye wee blighter! Get back!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get back with ye!",
        "Ye craven! Just because I can't reach ye!",
        "How did ye get there?"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Have at the rotter!",
        "Make the craven hurt!",
        "Have at 'em!",
        "Cut 'em tae size!"
      ]
    }
  }
}