{
  "beacon" : {
    "default" : {
      "default" : [
        "I'm home!"
      ]
    },
    "human" : {
      "default" : [
        "You called?",
        "Is there something you need?",
        "You wanna talk?",
        "Hi! What's up?",
        "You want something?"
      ]
    },
    "floran" : {
      "default" : [
        "You need Floran?",
        "You need Floran for sssomething?",
        "Sssurprise, Floran is here!",
        "You were sssearching for Floran?",
        "Were you sssearching for me?"
      ]
    },
    "glitch" : {
      "default" : [
        "Interested. You need me for something?",
        "Curious. Did you need me for a particular reason?",
        "Jovial. Here I am! What did you want to talk about?",
        "Friendly. Did you want to chat?",
        "Polite. Is this a social call?"
      ]
    },
    "avian" : {
      "default" : [
        "Hey, nice to see you. You just want a chat?",
        "Hello there, what can I help you with?",
        "Did you need me for anything?",
        "Hi, what did you need me for?",
        "Hello again, how's it going?"
      ]
    },
    "apex" : {
      "default" : [
        "What have you called me for?",
        "You need me for something, my friend?",
        "You needed me and I came, what can I do for you?",
        "What is it, my friend?",
        "You wanted to talk to me?"
      ]
    },
    "hylotl" : {
      "default" : [
        "What would you like to discuss?",
        "Salutations! What did you need to discuss?",
        "How pleasant to be invited to talk.",
        "You were hoping to speak to me?",
        "Did you need me for anything in particular?"
      ]
    },
    "novakid" : {
      "default" : [
        "Somethin' on your mind?",
        "What can I do for ya'?",
        "You needin' to talk about something?",
        "What you need to talk about?",
        "You called and I came a-running."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [ "Here's a gift for all your help!" ]
    },
    "human" : {
      "default" : [
        "I thought you might like this!",
        "Here's a gift, for all your help.",
        "I got this for you. You can take it, or not. It's up to you.",
        "Here's something for your troubles!",
        "Hey! Here's a present!",
        "Here's a little thank you gift for you."
      ]
    },
    "floran" : {
      "default" : [
        "Here isss a present for you!",
        "Floran got you a thing! Take it!",
        "Floran got you this to ssay thank you.",
        "Floran has a thing for you!",
        "Floran likes house, Floran ssay thank you with present."
      ]
    },
    "glitch" : {
      "default" : [
        "Optimistic. This is going very well! Here's a gift to say thank you.",
        "Appreciative. Here is a gift, for all your help.",
        "Respectful. A gift of thanks.",
        "Grateful. I got you a present for all you've done for me.",
        "Friendly. I hope you like the gift, you've earned it!"
      ]
    },
    "avian" : {
      "default" : [
        "Here is a token of my gratitude.",
        "Here - I brought a gift for your troubles.",
        "You look like you could use a present. Take this.",
        "I bought a gift for you to say thank you, I hope you like it.",
        "I hope you like the gift!"
      ]
    },
    "apex" : {
      "default" : [
        "Please accept this gift, for all your help.",
        "This is a good, safe home. I brought you a gift to say thank you.",
        "This present is for you, to say thank you.",
        "This is a good home. Here is a thank you present.",
        "For all you have done, take this."
      ]
    },
    "hylotl" : {
      "default" : [
        "My home is as peaceful as I could hope for. Here is a gift for all you have done.",
        "May this gift ease your troubles as you have eased mine.",
        "For all you have done for me, please accept this humble gift in thanks.",
        "Please accept this gift with my gratitude.",
        "I hope this humble gift conveys my appreciation for your help."
      ]
    },
    "novakid" : {
      "default" : [
        "Here's a little somethin' for your troubles. Thank you kindly.",
        "It's a mighty fine place you've helped me secure. I gotta thank you for it.",
        "Thanks for helping me get by. You've earned this.",
        "Don't know how to thank you properly, but for now take this.",
        "That's for you, to do as you please with."
      ]
    }
  }
}