{
  "converse" : {
    "default" : {
      "default" : [
        "Boastful. The Guild of the Rainbow Rogues shall keep you from harm with ease!",
        "Courageous. I, a certified Rainbow Rogue, shall patrol for any wrong-doers!",
        "Friendly. I may be a Rainbow Rogue, but it doesn't mean we cannot converse!",
        "Audacious. With the finesse of a Unicorn, I shall defend my allies!",
        "Valiant. The Guild of the Rainbow Rogues shall keep the innocent from harm!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Angry. The other Rainbow Rogues shall hear about this disgrace!",
        "Frustrated. Someone like me does not deserve such conditions."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Desperate. I must leave - The other Rainbow Rogues shall hear of this!",
        "Upset. I thought I could bring my skills to this place, but I am unappreciated."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Welcoming. What need have you of a Rainbow Rogue like myself?",
        "Friendly. Do you need my roguish expertise?",
        "Observant. I need to make sure this isn't a trap."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Appreciative. Here is a gift, from the Guild of the Rainbow Rogues.",
        "Thankful. The Guild of the Rainbow Rogues thanks you for providing me with a home!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Courageous. You have returned to be defeated, foe!",
        "Fearless. No one can defeat a Rainbow Rogue in a duel!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Foolhardy. This shall not take long!",
        "Gallant. The spectrum of justice strikes!",
        "Ferocious. Let the battle commence! The spectrum of justice strikes!",
        "Hostile. What fool brings conflict to a Rainbow Rogue?",
        "Courageous. It is time to show the power of the Rainbow Rogues!",
        "Inspired. To the stage! Let the battle commence!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Victorious. Another victory for the Rainbow Rogues!",
        "Pleased. The spectrum of justice has succeeded once again!",
        "Happy. I shall send word of this victory to my fellow Rainbow Rogues!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Disappointed. I suppose the foe has fled.",
        "Surprised. I thought our enemy was prepared to battle?"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Surprised. The foe has averted my rainbow gaze!",
        "Bewildered. Where have they gone?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Frustrated. If only I brought a Rainbow Crossbow with me!",
        "Frustrated. Come closer so I may strike you with my Rainbow sword!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Supportive. Defeat the forces that threaten us!",
        "Supportive. Make our foe feel justice!",
        "Supportive. Bring a spectrum of defeat upon our foe!"
      ]
    }
  }
}