{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You returned!",
        "Aha!",
        "You came back?",
        "So you came back."
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. You will regret returning.",
        "Aggressive. This time you will not escape.",
        "Fearless. I am ready to battle you once again!",
        "Angry. How dare you return!?",
        "Impassioned. You have returned only to be vanquished!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran furiousss you came back!",
        "Hello again, prey.",
        "You came back again!?",
        "Floran will ssstop you this time!",
        "The prey came back!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    },
    "apex" : {
      "default" : [
        "Hostiles!",
        "Engaging hostiles!",
        "Hostiles attacking!",
        "Assemble formation!",
        "Hostile activity!",
        "Engaging hostiles! Send reinforcements!",
        "Enemy engaged!"
      ]
    },
    "avian" : {
      "default" : [
        "Caaaw!",
        "Chachalacaaa!",
        "Anhingaaa!",
        "Jocotoco!.",
        "Tapacuuulo!",
        "Caracaraaa!",
        "Cacique!"
      ]
    },
    "floran" : {
      "default" : [
        "Sssupper!",
        "Time to ssstab! Time to shoot!",
        "Hunt the prey!",
        "Get it!",
        "Ssstab it! Shoot it!",
        "Catch it! Eat it!",
        "Floran hunt!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. A foe!",
        "Pugnacious. Have at thee!",
        "Calm. I will not be easily overcome.",
        "Daring. To battle!",
        "Courageous. I shall defeat this foe!",
        "Eager. You have breathed your last!",
        "Aggressive. Prepare to lose your life!"
      ]
    },
    "hylotl" : {
      "default" : [
        "There is honour in battle.",
        "Begin the dance of war!",
        "I wield the might of the storm!",
        "You'd do better to fight the maelstrom than to fight me.",
        "I shall strike like lightning!",
        "I will rain down a torrent upon you.",
        "I will fight with honour!"
      ],

      "floran" : [
        "I will take revenge for my ancestors!",
        "I have trained to battle Floran!",
        "I will defeat the Floran barbarian, and honour my forebears!"
      ]
    },
    "human" : {
      "default" : [
        "You're dead meat!",
        "Let's get this over with!",
        "You don't have a snowflakes chance on a magma planet!",
        "I'm not much of a fighter...",
        "Uh-oh...",
        "I don't go down so easy!",
        "How do I keep ending up in situations like this?",
        "Let's get this over with...",
        "Be warned, I put up a fight!",
        "Let's do this!",
        "You won't know what hit you!"
      ]
    },
    "novakid" : {
      "default" : [
        "Time for an ol'-fashioned showdown!",
        "Yee-haw, here we go!",
        "let's ride!",
        "Yer feelin' lucky, punk?",
        "Time for a ruckus!",
        "Fill your hands!",
        "If you're lookin' for trouble, then I'm your huckleberry!",
        "I ain't got time for this!",
        "I'm a sharper shot than you, friend!",
        "This ain't my first rodeo!",
        "Bang!",
        "We don't want no trouble round here!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Never mess with me!",
        "Victory!",
        "Phew!",
        "Another victory!",
        "I didn't even break a sweat!",
        "Heh.",
        "Of course I won!",
        "I'm pretty good at this!",
        "That was stressful...",
        "Another easy win!",
        "Yes!",
        "That's what you get!"
      ]
    },
    "avian" : {
      "default" : [
        "Never challenge an Avian.",
        "You'll never defeat a true warrior.",
        "My antagonists are so readily subdued...",
        "I was born to win this battle.",
        "I didn't even lose a feather.",
        "That's the consequence of engaging an Avian in battle.",
        "A respectable effort on their part.",
        "Easy work."
      ]
    },
    "apex" : {
      "default" : [
        "Target subdued.",
        "Area secure.",
        "Problem solved.",
        "It is so unwise to mess with an Apex.",
        "Threat neutralised.",
        "The enemy has been dealt with.",
        "Target dispatched.",
        "Target down!",
        "All done. I think I've earned a banana.",
        "The target has been neutralised!"
      ]
    },
    "hylotl" : {
      "default" : [
        "The battle is over...",
        "What's done is done.",
        "Now I have defeated my foe, I must reflect on this battle.",
        "An honourable victory.",
        "A noble victory in the defense of my culture.",
        "It is done.",
        "I have served my people."
      ]
    },
    "glitch" : {
      "default" : [
        "Satisfied. Another victory!",
        "Gratified. Another job well done.",
        "Excited. That was exhilarating!",
        "Exhausted. I need to get more exercise.",
        "Pleased. What a triumph.",
        "Happy. A marvelous victory!",
        "Proud. What an excellent display of my own skill."
      ]
    },
    "floran" : {
      "default" : [
        "That was fun. What should Floran do now..?",
        "Floran is the best hunter in hissstory!",
        "Now Floran has nothing to do...",
        "Floran winsss!",
        "Floran isss the best!",
        "That was fun!",
        "Did it!",
        "Floran enjoyed that."
      ]
    },
    "novakid" : {
      "default" : [
        "I need a glass o' root pop after all that.",
        "I'm a natural winner at fightin', what can I say?",
        "Well wasn't that a right ol' rodeo?",
        "Yee-haw! That was somethin'."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will get you one day!",
        "It's not over!",
        "Don't come back!",
        "Where are you...",
        "What a hassle.",
        "Just you wait!"
      ]
    },
    "glitch" : {
      "default" : [
        "Embarrassed. I lost my adversary...",
        "Thoughtful. What am I doing with my life?",
        "Bored. Now what am I going to do?",
        "Sour. Good riddance.",
        "Hopeful. Um... Come back?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran will go hunt ssomething else.",
        "When they get back, they'll get a ssstabbing...",
        "Floran will find ssomeone else to chase.",
        "Floran's not given up! Just not sure what to do next...",
        "Floran hungry... maybe prey come back."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Sneaky! This is sneaky! How did you disappear?",
        "They're getting away!",
        "Where'd you go?",
        "Get back here!",
        "How did this happen?"
      ]
    },
    "glitch" : {
      "default" : [
        "Patient. I'll just wait here 'til you come back.",
        "Frustrated. I know you're here somewhere!",
        "Confused. Where did they go?",
        "Uncertain. Wasn't I fighting someone a second ago?",
        "Enraged. How did you disappear!?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran iss good hunter! Prey won't sstay hidden for long!",
        "Floran sstill smells the prey!",
        "Wily prey is hiding!",
        "... Floran can't find you.",
        "Where is the ssneaky thing?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "How did you get over there?",
        "I can't reach!"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. They are beyond my reach!",
        "Angry. Come here!",
        "Frustrated. Why didn't I bring a crossbow?",
        "Sullen. How can we fight if I can't reach you?",
        "Irate. Come closer so we can fight!"
      ]
    },
    "floran" : {
      "default" : [
        "They're too far away to ssstab!",
        "Floran can't reach!",
        "Come clossser!",
        "Trickssy prey is out of reach!",
        "Floran not clossse enough!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I have a plan!",
        "Get them!",
        "Everybody is in my way.",
        "Why aren't they already dead?",
        "Come on!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. Strike them down!",
        "Commanding. Get them!",
        "Enthusiastic. Get the foe!",
        "Goading. Why isn't this foe already dead?",
        "Selfish. I want to kill it!"
      ]
    },
    "floran" : {
      "default" : [
        "Sssave some for me!",
        "Get the prey!",
        "Floran is so happy to be part of thiss.",
        "Get it!",
        "Floran excited!"
      ]
    }
  }
}
