{
  "converse" : {
    "default" : {
      "default" : [ "I have nothing to say to you." ]
    },
    "apex" : {
      "default" : [
        "So what is today's mission?",
        "It is very good to be here, my friend.",
        "This is true freedom."
      ]
    },
    "avian" : {
      "default" : [
        "What do we have planned for today?",
        "Adventure awaits!",
        "I soar across the stars, not on feather wings but among the company of friends.",
        "So, what's the next mission?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran likess to hunt among the sstars.",
        "Floran isss very professional!",
        "Floran isss eager to sstab things soon!"
      ]
    },
    "glitch" : {
      "default" : [
        "Eager. I have so much scheduled for today!",
        "Excited. Let's do some quests!",
        "Excited. There is so much questing to be done!",
        "Friendly. You'll be safe if you stay close to me!"
      ]
    },
    "human" : {
      "default" : [
        "Adventure ahoy!",
        "Flying through space, running into misadventure... This is the life!",
        "Life aboard a spaceship... Is anything more exciting?",
        "Don't worry, you'll be safe with me around!",
        "What lies next on the road ahead? Adventure, intrigue, pillaging? Not pillaging, right?"
      ]
    },
    "hylotl" : {
      "default" : [
        "Our futures are unwritten, our fates set loose amongst the stars!",
        "There is poetry in battle. Perhaps I shall sing some verses soon!",
        "Nothing calms the spirit more than travelling with friends."
      ]
    },
    "novakid" : {
      "default" : [
        "Howdy!",
        "You got a sharp eye. How about a shootin' match between you and I?",
        "I got a mighty thirst for a shoot out. Hopefully we'll find ourselves some action.",
        "I'm a wanderin' soul at heart, so this is the job for me!"
      ]
    },
    "penguin" : {
      "default" : [
        "Hey, big guy! I'll keep you safe, don't you worry!",
        "Alright, biggun? In need of some security?",
        "I'm a merc born and bred.",
        "There's no one like a penguin for keeping a body safe, and no penguin better at doing it than me.",
        "I'm worth my weight in gold! Actually, I'm worth YOUR weight in gold.",
        "Adventure! Excitement! Dubloons!",
        "I'm worth my fee, ask anyone.",
        "My gun's all shined up, ready for the next job.",
        "I am the consummate professional.",
        "I'm just your typical spacefaring penguin mercenary.",
        "I'm a tough old bird, don't you worry about me.",
        "You're never safer than when there's a penguin by your side.",
        "I'm loyal as long as the pay's good.",
        "Both my parents were mercenaries, and all four of their parents before them. I'm a pretty good pedigree.",
        "Mercenary work runs in my family! You're safer with me around, no doubt about it!"
      ]
    }
  }
}