{
  "attack" : {
    "default" : {
    	"default" : [
      "None shall pass!"
      ]
    },
    "human" : {
      "default" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "You won't leave this place!"
      ],
      "apex" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us, ape!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "You won't leave this place!",
        "The universe doesn't need your kind, ape!",
        "We'd be better off without you apes around!"
      ],
      "avian" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us, bird!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "Humanity would be better off with you birds gone!",
        "The universe doesn't need Avian kind!"
      ],
      "floran" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us, barbarians!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "We'll rid the galaxy of you Floran barbarians!",
        "Soon we'll be rid of your kind, Floran!"
      ],
      "human" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "You're fighting for the wrong side!",
        "You picked the wrong side, traitor!"
      ],
      "hylotl" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us, Hylotl!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "Crawl back to your puddle!",
        "Soon we'll be rid of your kind, Hylotl!"
      ],
      "glitch" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us, robot!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "I'll send you to the scrapheap, robot!",
        "You're not even truly alive, robot!"
      ],
      "novakid" : [
        "This just isn't your day!",
        "We are the Occasus! You can't stop us!",
        "Don't think you can get away, nonbeliever!",
        "If you aren't with us, then you're against us!",
        "Are you here to stop us? It doesn't matter anyway!",
        "You can't stop us! Don't even try!",
        "You shouldn't have come here!",
        "You picked a bad time to come here!",
        "A nonbeliever approaches!",
        "If I kill you, Nox might promote me!",
        "You shall not stop our plans!",
        "I don't even know WHAT you are!",
        "The universe doesn't need weird glowing beings!"
      ]
    }
  }
}