{
  "reattack" : {
    "default" : {
      "default" : [
        "Come out and PLAY!",
        "You've come to the wrong side of the universe!",
        "This is OUR territory!",
        "You can't get away that easy!",
        "Welcome back to the mad house!",
        "Look who I found!",
        "I can see you! You ain't gonna get away THIS time!",
        "You ain't leaving this place!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Come out and PLAY!",
        "You've come to the wrong side of the universe!",
        "This is OUR territory!",
        "Welcome to the mad house!",
        "Ha ha ha ha ha!",
        "Look who I found!",
        "I can see you! You ain't gonna get away!",
        "You ain't leaving this place!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Another trophy for the collection!",
        "Not your day!",
        "Come back so I can kill you again!",
        "Mediocre!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Run away with your tail between your legs!",
        "Where did they go?!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Come back, coward!",
        "Get back here!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here and fight!",
        "Come meet me face to face, you coward!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Tear them apart!",
        "Show them how we treat trespassers!",
        "Fight! Fight!"
      ]
    }
  }
}