{
  "converse" : {
    "default" : {
      "default" : [
        "May Kluex's light guide you."
      ]
    },
    "avian" : {
      "default" : [
        "May the light of Kluex guide you."
      ],
      "human" : [
        "I was so sorry to hear about your world, human. I will pray to Kluex to give you strength.",
        "I suppose the destruction of Earth was Kluex's will...",
        "Don't humans have many gods?",
        "I'm sure a human could convert to Kluex worship if they wanted. You should talk to a Stargazer.",
        "Sadly, Kluex doesn't welcome those without feathers.",
        "Were there any temples to Kluex on Earth?",
        "I'm not sure how Kluex would feel about the Protectorate.",
        "We sacrificed several humans to Kluex two seasons ago.",
        "No feathers at all? Kluex have pity on you.",
        "You seem strong for a human; Kluex values the strong.",
        "Could a human Ascend?",
        "I suspect human warriors don't quite match up to Avian warriors. But then, we have Kluex on our side.",
        "Good day, featherless one.",
        "Don't fear the Stargazers human; they can be severe, but they have our best interests at heart.",
        "Have you met any of the Grounded, human? Poor lost souls.",
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller.",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ],
      "avian" : [
        "Oh... Um, so, do you believe in Kluex?",
        "Perhaps you should talk to a Stargazer, they might help you get on the right path.",
        "I hope you still find time to attend to your faith amongst all your adventuring.",
        "You do worship Kluex, don't you?",
        "You haven't had your head turned by Grounded propaganda, have you?",
        "Why not climb the Celestial tower and feel the wind in your feathers?",
        "You joined the Protectorate? How conducive is that to Kluex worship?",
        "How long since you witnessed a sacred sacrifice?",
        "Do you take the opportunity to spread the light of Kluex when you travel?",
        "You look strong! Perhaps you could be an Ascendant one day!",
        "Are you a kind of warrior? Well done!",
        "I worry about the Grounded.",
        "Do you carry a copy of the Avoscript?",
        "I hope to become the next cycle's Ascendant! But I hope that every cycle...",
        "You seem like a strong warrior, your family must be proud.",
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ],
      "floran" : [
        "Do you worship Kluex, leafy one?",
        "I can't help but respect Floran strength.",
        "I'd love to hunt with you sometime. I think it's an activity Kluex would approve of.",
        "Floran are creatures of the ground, but we Avian are of the air.",
        "I expect the Grounded say bad things about us. Well I'd happily say bad things about them!",
        "Kluex is a god of battle, but also of life, death, the seasons and harvest. He is the All God.",
        "I'm not sure if we've ever sacrificed Floran here. Do your kind even bleed?",
        "May Kluex bless your hunts.",
        "I don't fear you Floran, not with Kluex by my side.",
        "If you jumped off the Celestial tower, would you just flutter down like a leaf?",
        "If Kluex could accept any other race but us, I suspect it would be Florans. But he can't.",
        "Good day to you, Floran. May Kluex guide your blade.",
        "Bless you, pretty one.",
        "Are greenfingers like Stargazers?",
        "Leaves are lovely, but I prefer the feathers Kluex gave me.",        
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ],
      "apex" : [
        "I've heard terrible things about the Miniknog, may Kluex smite them.",
        "Do you worship Kluex, fluffy one?",
        "Apex are strong fighters, this commands respect.",
        "I don't think our god is as tyrannical as your leader. Big Ape sounds terrible!",
        "Your kind should just respect Big Ape; he's strong, and he's your leader. He is like Kluex.",
        "Hello ape man! Have you climbed the Celestial tower yet?",
        "You know Kluex created bananas.",
        "Aren't there Apex rebels fighting the Miniknog? Why aren't you taking up the battle?",
        "You can never tell another soul, but sometimes I think maybe Kluex isn't so great.",
        "I love Kluex, ape man!",
        "Have you ever read any of the Avoscript? I think it would be enlightening, even to an Apex.",
        "Are the Apex godless?",
        "I think science is the Apex religion.",
        "If you're interested in learning about Kluex you should find a Stargazer, they're our leaders.",
        "Do the Apex ever sacrifice their people?",
        "I expect the Grounded say bad things about us. Well I'd happily say bad things about them!",
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ],
      "hylotl" : [
        "The Stargazers preach that Avians are the highest race, but you don't seem so lowly.",
        "Hylotl may not approve of combat, but every battle we Avian fight is fought in dedication to Kluex.",
        "Do you worship Kluex, watery one?",
        "I don't think Kluex would approve of your race's pacifism.",
        "The Hylotl are creatures of the water, but we Avians are of the air.",
        "Your people are described as spiritual, and yet you have no gods... That confuses me.",
        "You should read the Avoscript!",
        "I don't think Hylotl buildings are a patch on our temples and Celestial towers.",
        "Good day, featherless one.",
        "I've only read one book: the Avoscript. But I've read it A LOT of times.",
        "Bless you, may you find strength.",
        "Have you ventured up the Celestial tower yet?",
        "This 'pacifism' is an interesting concept.",
        "I suppose the Hylotl aren't really into sacrifice...",
        "Do you know how many verses are in the Avoscript? 'Cause it's a lot.",
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ],
      "glitch" : [
        "Oh, um hello.",
        "Do you have a soul?",
        "You wouldn't be much good as a sacrifice, we'd just get oil all over the altar.",
        "Do you worship Kluex, metal one?",
        "Do the Glitch have any gods?",
        "Could a Glitch convert to Kluex worship? I should ask a Stargazer.",
        "If a Glitch jumped off a Celestial tower, it would simply plummet.",
        "You're strong! I suspect you're a good warrior.",
        "Have you met a Stargazer yet? I'm not sure what they'd make of you.",
        "Maybe if you worshipped Kluex he would give you a soul?",
        "The Avoscript doesn't mention robots...",
        "You make me a little uncomfortable - whoever invented you was trying to play god.",
        "I wonder if you could convert to Kluex worship?",
        "You could probably build some metal wings...",
        "May Kluex light your way, metal man.",
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ],
      "novakid" : [
        "A celestial being?!",
        "By Kluex's light!",
        "Did Kluex send you?",
        "You shine like Avolite!",
        "You must be the work of Kluex!",
        "The Stargazers must hear about you!",
        "You're so beautiful!",
        "A warrior forged of light, sent by Kluex!",
        "You're a Novakid, aren't you?",
        "Shining like that, you must be born of the heavens!",
        "A glowing man, sent by Kluex!",
        "Look at your celestial shine!",
        "You're surely the work of Kluex.",
        "Thank Kluex, a beautiful celestial being!",
        "I'm honoured to meet you.",
        "Kluex be with you.",
        "A friendly stranger! Thanks be to Kluex.",
        "Kluex bless you.",
        "Hello.",
        "Welcome to our village.",
        "Have you met a Stargazer yet?",
        "I wish you a blessed day.",
        "Good to meet you.",
        "May your life be filled with light.",
        "Bless you.",
        "May you Ascend.",
        "Hello there.",
        "How do you do?",
        "Welcome, visitor.",
        "Kluex guide you.",
        "May you find Kluex's light.",
        "By the sacred lands of Avos, it's good to meet you!",
        "Don't worry, this isn't a time of sacrifice.",
        "By Kluex's wings! A visitor!",
        "May Kluex take you under his wing.",
        "May Kluex make you strong.",
        "May Kluex guide your hand in battle.",
        "May the mighty Kluex defend you.",
        "Nice to meet you, traveller",
        "Let Kluex guide your travels.",
        "May Kluex bring you strength.",
        "May you Ascend to Kluex side.",
        "May you walk in the light of Kluex.",
        "Hi!",
        "Nice to meet you.",
        "Nice to make your acquaintance!",
        "Hello, traveller.",
        "Hope you're having a good day!",
        "Why, hello.",
        "Good day."
      ]
    }
  }  
}