{
  "reattack" : {
    "default" : {
      "default" : [
        "Aggressive. THERE YOU ARE AGAIN!",
        "Observant. Our foe returns!",
        "Intimidating. You have returned! Now face your doom!",
        "Hostile. I will relish this!",
        "Menacing. I have SEEN our target again!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Aggressive. I SEE YOU!",
        "Observant. A pitiful traveller approaches!",
        "Intimidating. You cannot escape my gaze!",
        "Hostile. Your story ends here, traveller!",
        "Malevolent. None escape the All-Seeing Crusaders!",
        "Hostile. Witness your doom!",
        "Malevolent. Embrace the blinding darkness!",
        "Menacing. I have SEEN our new target!",
        "Enraged. What wretch passes through our territory?!",
        "Furious. This land belongs to the All-Seeing Crusaders!",
        "Hostile. Abandon all hope, ye that would face us!",
        "Aggressive. You shall regret stepping on our territory!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Satisfied. The All-Seeing Crusaders succeed once more!",
        "Unsatisfied. We must continue our crusade!",
        "Thoughtful. Another victory, but more shall come.",
        "Enraged. I demand a more worthy opponent!",
        "Displeased. I could have ended that sooner."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Enraged. How did they escape the eternal gaze?!",
        "Surprised. How have they averted my gaze?!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Grim. Our foe has left, but will surely return!",
        "Shocked. Are they beyond my sight?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Frustrated. Our foe is a coward!",
        "Angry. Our foe is a coward! Face me directly!",
        "Enraged. Come closer, fiend!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Angry. Strike the fiend down!",
        "Supportive. The All-Seeing Crusaders will surely bring victory!",
        "Supportive. I wish to witness our foe's destruction!"
      ]
    }
  }
}