{
  "converse" : {
    "default" : {
      "default" : [
        "Menacing. The All-Seeing Knights let nothing avert our gaze.",
        "Practical. The All-Seeing Knights help those who help us.",
        "Sinister. We aid those who give us homes, as long as we see fit...",
        "Contemplative. The symbol of the eye is one that stares eternal.",
        "Intimidating. None can escape the gaze of the All-Seeing Knights!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Angry. I can SEE there is a problem here!",
        "Frustrated. Can you not SEE the problem?"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Intimidating. It is not wise to disrespect the All-Seeing Knights!",
        "Menacing. Your disrespect has not gone unobserved..."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Respectful. Do you have need of me?",
        "Patient. Do you have need of the All-Seeing Knights?",
        "Observant. I SEE you require my presence."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Appreciative. You have helped me, and the All-Seeing Knights always repay in kind.",
        "Grateful. Here is a token of my thanks, for providing me with a home."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Aggressive. I SEE YOU!",
        "Observant. I spy a foe approaching!",
        "Intimidating. You cannot escape my gaze!",
        "Hostile. Observe your own defeat at my hands!",
        "Menacing. I have SEEN our target again!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Aggressive. I SEE YOU!",
        "Observant. I spy a foe approaching!",
        "Intimidating. You cannot escape my gaze!",
        "Hostile. Observe your own defeat at my hands!",
        "Menacing. I have SEEN our next target!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Satisfied. An acceptable battle.",
        "Pleased. This joust has satiated my lust for battle. For now.",
        "Displeased. I could have ended that sooner."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Disappointed. I have lost our foe... For the time being.",
        "Surprised. How have they averted my gaze?!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Surprised. How did they escape my eternal gaze?!",
        "Shocked. Are they beyond my sight?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Frustrated. This cowardly foe will not face me up close!",
        "Angry. Our foe is a coward, who does not face me directly!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Contemplative. Perhaps simply observing the battle is enough.",
        "Supportive. I shall SEE this victory!",
        "Supportive. I wish to witness our foe's defeat!"
      ]
    }
  }
}