{
  "converse" : {
    "default" : {
      "default" : [
        "New person. Smells strange. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. Not hairy. Looking weird."
      ],
      "apex" : [
        "New person. Smells strange. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. Quite hairy. Nice beard!"
      ],
      "avian" : [
        "New person. Bird face. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. Feathery body. Quite strange."
      ],
      "glitch" : [
        "New person. Looks metal. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. glowing eyes. Metal skin?"
      ],
      "floran" : [
        "New person. Flowery smell. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. Leafy body. Creepy smile..."
      ],
      "hylotl" : [
        "New person. Smells fishy. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. rubbery skin. Looks weird."
      ],
      "novakid" : [
        "New person. Glowing brightly. Quite exciting!",
        "Odd person. Hopefully nice. Feeling cautious!",
        "Weird person. Not Fenerox. Being polite!",
        "Meeting stranger. Being friendly. New experience!",
        "Odd person. Saying hello. Not Fenerox?",
        "Friendly stranger. Feeling awkward. Cautiously optimistic!",
        "New stranger. Not confident. Saying hello!",
        "Unknown person. Fiery person. No face?"
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Stranger stealing. Not okay. Very worried!",
        "Shocking development. Thievery afoot. Very appalled!",
        "Witnessing robbery. Very concerned. Awful behaviour!",
        "Thief stealing. Not polite. Rather upsetting."
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Thivery terrible. Must stop. Alerting guards!",
        "Stealing awful. Need help. Finding guards!",
        "Stealing wrong. Calling backup. Locating guards!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Home changed. Quite disappointing. Not happy.",
        "Something missing. Home changed. Quite upsetting.",
        "Things missing. Home different. Feels wrong."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Walls broken. Needs repairs. Quite concerning.",
        "Home damaged. Needs repairs. Feeling upset!",
        "Home damaged. Walls broken. Needs fixing!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Another deed. Rather rude. Quite unhappy.",
        "Second deed. My home. Not happy."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Really upset. Feeling ignored. Might leave.",
        "Unacceptable conditions. Feeling ignored. Complaining loudly!",
        "Bad conditions. Feeling ignored. Considering leaving."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Very upset. Leaving now. Disappointing experience!",
        "Leaving now. Being ignored. Poor home! "
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Being summoned. Feeling friendly. Let's talk!",
        "I'm needed. Conversing now. Let's chat!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Feeling appreciative. Have gift. Hopefully liked!",
        "Feeling satisfied. Bringing gift. Take gift!",
        "Very pleased. Nice home. Take gift!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Fight resuming. Have spear. battle time!",
        "Attacker returns. Feeling eager. Let's fight!",
        "Attack reoccuring. Spear ready. Combat happening!",
        "Battle returns. Not afraid. Fenerox brave!",
        "No fear. Only brave. Spears forward!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Fight started. Have spear. battle time!",
        "Attacker seen. Feeling eager. Let's fight!",
        "Attack occuring. Spear ready. Combat happening!",
        "Battle beginning. Not afraid. Fenerox brave!",
        "No fear. Only brave. Spears forward!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Battle successful. Not dead. Fenerox victorious!",
        "I survived. Battle won. Exhausting experience!",
        "Foe defeated. Spear strong. Now safe?",
        "Enemy defeated. Fenerox strong. Victory time!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Enemy disppeared. Cannot see. Enemy scared?",
        "Foe disappeared. Maybe fled. Maybe hiding?",
        "Enemy gone. Probably fled. Fenerox succesful...?"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Enemy disppeared. Cannot see. Enemy scared?",
        "Foe disappeared. Maybe fled. Maybe hiding?",
        "Enemy gone. Probably fled. Fenerox succesful...?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Foe far. Cannot reach. Spear short!",
        "Can't reach. Quite surprised. Enemy far!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Fenerox supportive. Providing support. Win battle!",
        "Eager helper. Providing advice. Win fight!",
        "Feeling eager. Contributing support. Win fight!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "No weapons. Quite defenseless. Under attack!",
        "Not armed. Being attacked. Need help!",
        "Quite vulnerable. Under threat. Must flee!",
        "In danger. Being hurt. Must run!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Witnessing attack. Can't help. Need assistance!",
        "Attack happening. Not armed. Someone help!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Fenerox supportive. Providing support. Win battle!",
        "Eager helper. Providing advice. Win fight!",
        "Feeling eager. Contributing support. Win fight!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Danger gone. Feeling exhausting. Scary experience!",
        "Peril over. Survived encounter. Still shaken!",
        "Danger passed. Not dead. Good outcome!",
        "Not dead. Danger over. Need rest!"
      ]
    }
  }
}