{
  "helpme" : {
    "default" : {
      "default" : [
        "Oh no! Help me!",
        "Help!",
        "Uh-oh.",
        "I'm unarmed! Help!",
        "I need help! I can't defend myself!",
        "Ah! Stop it!",
        "What!? What did I do!?"
      ]
    },
    "apex" : {
      "default" : [
        "I need help!",
        "Stop!",
        "I am under attack!",
        "Sound the alarm! Sound all of the alarms!",
        "Somebody help me!",
        "Sound the alarm!"
      ]
    },
    "avian" : {
      "default" : [
        "I'm unarmed!",
        "Help!",
        "I'm being chased! Somebody, help me!",
        "By my feathers, I'm under attack!",
        "Somebody help me!",
        "Ah! Help!"
      ]
    },
    "glitch" : {
      "default" : [
        "Scared. Gaaah! Help me!",
        "Frightened. Don't hurt me!",
        "Astounded. Why is this happening!?",
        "Afraid. Get away from me! Help!",
        "Terrified. Save me!",
        "Shocked. What's happening!? Stop it!"
      ]
    },
    "floran" : {
      "default" : [
        "Ow! Stop it!",
        "Sstop hurting Floran!",
        "Floran needs sspear!",
        "Floran not ready for hunt!",
        "Floran will tell greenfinger on you!",
        "Floran has no ssspear! Floran can't stab!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Phew, I think I got away.",
        "Thank goodness that's over.",
        "Is it over?",
        "Is it safe now?",
        "I made it!"
      ]
    },
    "avian" : {
      "default" : [
        "That ruffled my feathers a little.",
        "What an ordeal.",
        "Well, at least I'm safe now.",
        "That was close.",
        "I'm alright!"
      ]
    },
    "glitch" : {
      "default" : [
        "Relieved. I got away!",
        "Joyful. I'm alive!",
        "Tired. That was exhausting.",
        "Hopeful. Am I safe?",
        "Embarrassed. I think I leaked a little oil."
      ]
    },
    "floran" : {
      "default" : [
        "Floran sssafe!",
        "Floran lives to hunt another day.",
        "Them lucky Floran not have weapon...",
        "Floran go get spear now.",
        "Floran livesss!"
      ]
    }
  }
}