{
  "converse" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "...!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "start" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "end" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "follow" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "welcome" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "tout" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  }
}