{
  "beacon" : {
    "default" : {
    	"default" : [
        "I was gathering. Did you need me?",
        "I've been out scavenging - Did you need me for something?",
        "You have need of me? I've been gathering supplies."
      ]
    }
  },
  "rent" : {
    "default" : {
    	"default" : [
        "Here's something I found while I was out gathering supplies!",
        "I came across this whilst out hunting and gathering!",
        "This is for you, from my recent scavenging trip!"
      ]
    }
  },
  "converse" : {
    "default" : {
    	"default" : [
    		"I'm a hunter-gatherer. I'll bring you some of the things I find!"
    	]
  	},
    "apex" : {
      "default" : [
        "I'm a hunter-gatherer. I'll bring you some of the things I find!",
        "Life under the Miniknog is too restrained, I prefer to live with more freedom!",
        "Why live as a slave with the rest of my people when I can be one with nature?"
      ]
    },
    "human" : {
      "default" : [
        "I'm a hunter-gatherer. I'll bring you some of the things I find!",
        "I'm planning my next gathering trip! I'll bring some nice things back for you.",
        "Technology is overrated, the life of the hunter-gatherer is the one for me!"
      ]
    }
  },
  "helpme" : {
    "default" : {
    	"default" : [
	      "Flee, like the wolf!",
	      "I will escape!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
    	"default" : [
	      "Oh no!"
      ]
    }
  },
  "encourage" : {
    "default" : {
    	"default" : [
	      "Get 'em!",
	      "Avenge me!",
	      "Stick 'em once for me!",
	      "Don't let 'em get away!"
      ]
    }
  },
  "safe" : {
    "default" : {
    	"default" : [
	      "Phew, I think I got away.",
	      "I've escaped with my life!",
	      "Am I safe now?"
      ]
    }
  }
}