{
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something in my place has changed, I don't like it!" 
      ]
    },
    "human" : {
      "default" : [
        "Things have changed... Either you've messed things up, or I'm being haunted.",
        "The arrangement of my house has changed, this isn't alright...",
        "Has something moved in here? It feels off..."
      ]
    },
    "floran" : {
      "default" : [
        "Ssstop taking away my nice ssstuff.",
        "Put Floran's home back how it wasss.",
        "Floran's house was great before. Make it right again!"
      ]
    },
    "glitch" : {
      "default" : [
        "Confused. My home is different.",
        "Discontent. I dislike these changes, put things back how they were.",
        "Wistful. I wish my house was how it used to be."
      ]
    },
    "avian" : {
      "default" : [
        "Um, this isn't what my home was like before...",
        "I don't like this, can you put things back how they were?",
        "Please put my things back where they were."
      ]
    },
    "apex" : {
      "default" : [
        "These changes are unsettling, please put my things back.",
        "Stop taking things... You need to fix my home now.",
        "I need you to put things back where you got them please."
      ]
    },
    "hylotl" : {
      "default" : [
        "Something is unbalanced in the flow of my home...",
        "Please return what you've taken.",
        "There is something disquieting about the current layout of my home..."
      ]
    },
    "novakid" : {
      "default" : [
        "Somethin's up round here...",
        "This ol' place don't feel right just now. You been messin' around in here.",
        "It ain't right to go stealin' from a person. Now, you just return what you took."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "My home could use some repairs!"
      ]
    },
    "human" : {
      "default" : [
        "My home could use some repairs...",
        "Can you sort out the damage in here?",
        "I need some repairs done!"
      ]
    },
    "floran" : {
      "default" : [
        "Please fix Floran's wallsss.",
        "Floran's house is broken. Can you fix it?",
        "Floran likess walls without holes. Can you fix Floran's house?"
      ]
    },
    "glitch" : {
      "default" : [
        "Despondent. My poor house - the walls are damaged. Could you fix things up?",
        "Concerned. There is a need for repairs here.",
        "Hopeful. Can you fix my home? I'm sure it's salvageable."
      ]
    },
    "avian" : {
      "default" : [
        "Would you mind fixing my walls?",
        "I'd really appreciate if you could repair the damages to my home.",
        "Hmm, this damage isn't great. Could you fix it?"
      ]
    },
    "apex" : {
      "default" : [
        "There is a hole in my house...",
        "I need you to mend my walls before the roof falls in on top of us.",
        "Please fix up these walls, the house is no good to me like this."
      ]
    },
    "hylotl" : {
      "default" : [
        "My home is open to the elements, I'd be grateful if you'd mend the damage.",
        "I would be incredibly grateful if you could mend my walls.",
        "I noticed a damaged wall here, perhaps you could assist with repairs?"
      ]
    },
    "novakid" : {
      "default" : [
        "I'm not the only one feelin' a breeze in here, am I?",
        "This place has got more holes in it than a sheriff at a shoot out.",
        "Looks like you set a crazed capricoat loose in here! You gonna fix up these walls?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "I thought this place was for me!"
      ]
    },
    "human" : {
      "default" : [
        "I thought this was single tenancy!? I can't share my home!",
        "Are you trying to have someone move in here?!",
        "Why did you place another deed here?!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran needs all this space, not sharing with some random ssstranger.",
        "If you move in sssomeone else, Floran will eat them.",
        "Floran's not sharing home! Take ssecond deed down."
      ]
    },
    "glitch" : {
      "default" : [
        "Shocked. Are you trying to move a stranger into my home?",
        "Confused. But this is my home, I can't share it...",
        "Sad. I thought this place was my very own home, but you want me to share it."    
      ]
    },
    "avian" : {
      "default" : [
        "Why's someone else trying to move into my house?",
        "Did you put my house up for rent? This must be a mistake...",
        "There's another deed in my house - Surely this isn't intentional."
      ]
    },
    "apex" : {
      "default" : [
        "Why is there another deed here? What are you trying to pull?",
        "This is my home. I rent it from you. You can not move someone else in.",
        "It is not ok to do this. I will not share my home."
      ]
    },
    "hylotl" : {
      "default" : [
        "I don't wish to share my home with a stranger.",
        "Passive or not, I cannot stand by as you ensconce a second tenant in my home.",
        "There is another deed in my home? Surely a mistake has been made?"
      ]
    },
    "novakid" : {
      "default" : [
        "This here's my land, don't make no sense to go movin' someone else in here.",
        "This ol' haunt ain't for sharing. Better take that second deed down.",
        "This is my house dagnabbit, I ain't sharing it with no one."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I can't live in these conditions!"
      ]
    },
    "human" : {
      "default" : [
        "I can't live in these conditions!",
        "Living here is pretty horrible right now...",
        "It's impossible to live like this!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran can't live like thisss!",
        "Floran is angry, fix Floran's house.",
        "You sssstill haven't fixed things in Floran's house!"
      ]
    },
    "glitch" : {
      "default" : [
        "Aggravated. I need you to fix my home.",
        "Frustrated. I wish my requests were listened to.",
        "Unhappy. The fixes to my home haven't been made."
      ]
    },
    "avian" : {
      "default" : [
        "This has gone too far, I need you to fix things!",
        "I can't put up with this much longer - look at the state of my home.",
        "My usually resilient patience is beginning to wear thin. Fix my home."
      ]
    },
    "apex" : {
      "default" : [
        "Look at this place! Fix my home, or I leave.",
        "I cannot cope with your indifference much longer...",
        "It is foolish to ignore an angry Apex. I suggest you fix up my home."
      ]
    },
    "hylotl" : {
      "default" : [
        "My requests are left unanswered, my entreaties fall on deaf ears... Shameful. ",
        "These conditions are deplorable, and your behaviour reprehensible.",
        "This is simply disgraceful, I demand you fix my house."
      ]
    },
    "novakid" : {
      "default" : [
        "Seems to me you might wanna fix this shack up 'fore I leave.",
        "Well ain't this place mighty disappointin'... You fixin' to fix it or what?",
        "This shack ain't what it used to be. You better make it right."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I've had enough of this!"
      ]
    },
    "human" : {
      "default" : [
        "I've had enough of this!",
        "That's it, I give up. Time to leave!",
        "I give up, I'm moving out!"
      ]
    },
    "floran" : {
      "default" : [
        "That'sss it, Floran is leaving!",
        "Floran givess up! Floran can't live like this!",
        "Floran iss going, can't live here anymore!"
      ]
    },
    "glitch" : {
      "default" : [
        "Overwhelmed. This is beyond me. I'm taking my leave.",
        "Outraged. I deserve a better home than this",
        "Upset. I didn't want it to come to this, but I can't stay here any longer."
      ]
    },
    "avian" : {
      "default" : [
        "Enough is enough. I deserve a proper home.",
        "That's it. I'm leaving. I can't stand living here anymore.",
        "I try to be respectful of others, it's a shame you don't make the same effort."
      ]
    },
    "apex" : {
      "default" : [
        "I moved here for a better life... What a disappointment.",
        "I deserve better living conditions than this!",
        "That's it. I must leave. You are a terrible landlord."
      ]
    },
    "hylotl" : {
      "default" : [
        "I can't abide this any longer. I'm going.",
        "I've lost all respect for you. I hope one day you will see the error of your ways.",
        "These surroundings are detrimental to my very being. I must leave."
      ]
    },
    "novakid" : {
      "default" : [
        "I'd be better off beddin' down in a nest of crutters than stickin' round here.",
        "I'd rather sleep on a cactus than stay here one more night.",
        "Crimany! This place is a mess! Time I skedaddle."
      ]
    }
  }
}
