{
  "hail" : {
    "default" : {
    	"default" : [
	      "I've got my eye on you.",
	      "Keep on the straight and narrow, you.",
	      "We don't tolerate miscreants here.",
	      "Move along."
      ]
    },
    "glitch" : {
      "default" : [
        "Cautious. Behave yourself.",
        "Suspicious. What is your purpose here?",
        "Inexperienced. Eep!",
        "Alert. Who are you?",
        "Optimistic. I'm sure you won't be any trouble.",
        "Reticent. You won't be a problem...",
        "Stern. You behave yourself.",
        "Insincere. Have an absolutely wonderful day.",
        "Dismissive. Try not to get yourself killed.",
        "Concerned. Should you be here?"
      ]
    },
    "human" : {
      "default" : [
        "Watch yourself, stranger.",
        "Stay out of trouble.",
        "Don't... Just don't do anything.",
        "Try not to destroy anything.",
        "I'm watching you.",
        "You better not try anything.",
        "I'm super tough, better not cross me.",
        "Hi! I mean... Grrr.",
        "What's your business here?",
        "What are you lookin' at?"
      ]
    },
    "floran" : {
      "default" : [
        "Sstay out of trouble.",
        "Floran does not like your face.",
        "No ssilliness.",
        "Behave yourssself.",
        "Floran wantsss to stab sssomething...",
        "Floran is hungry...",
        "Give Floran a reassson.",
        "Don't tempt Floran.",
        "Keep moving, sstranger.",
        "Troublemakers are tasty."
      ]
    },
    "apex" : {
      "default" : [
        "Stay silent, traveller, and do not cause any trouble.",
        "Obey the Miniknog.",
        "Big Ape is watching you.",
        "Acts of aggression will not be tolerated.",
        "Every act has repercussions.",
        "All hail Big Ape! Celebrate his glorious rule!",
        "I love Big Ape.",
        "Big Ape loves us all, except the ones he doesn't.",
        "Mouth shut, eyes forward.",
        "Bow to the Miniknog."
      ]
    },
    "hylotl" : {
      "default" : [
        "Let us be peaceful, and have tranquility reign over our encounter.",
        "I hope that we can each keep our steel sheathed and chambered.",
        "Walk well, stranger.",
        "We ask only that you behave respectfully within our jurisdiction.",
        "Cross me and I will be forced to strike.",
        "I hope the serenity of our surroundings will influence your actions.",
        "A Hylotl warrior is trained from birth.",
        "I ask that you do not blemish this place with unnecessary aggression.",
        "Do not test me.",
        "Welcome, stranger. Are you here to admire our culture?"
      ]
    },
    "avian" : {
      "default" : [
        "Don't try me.",
        "If we fight, you will lose.",
        "I'm afraid I must ask you to move along.",
        "I hope your time here is pleasant.",
        "Just try not to put a cat amongst the pigeons.",
        "You're welcome here, as long as you respect our home.",
        "I can't spar right now...",
        "I hope we can get along.",
        "As long as you don't break anything or kill anyone, you are welcome here.",
        "Avians have been great warriors since time immemorial."
      ]
    },
    "novakid" : {
      "default" : [
        "Don't cause no fuss around here, partner.",
        "If you don't intend to cause trouble, then we'll get on jus' fine.",
        "We're mighty fine with strangers, as long as they aren't trouble.",
        "I forget, have we seen you round here before?",
        "Hope you enjoy our ol' village, partner. Jus' don't cause no trouble.",
        "There's been thieves around these parts lately. We don't take kindly to stealin'.",
        "Howdy!"
      ]
    }
  }
}