{
  "merchantStart" : {
    "default" : {
    	"default" : [
	      "Welcome to my shop!",
	      "See anything you like?",
	      "What can I help you with?"
      ]
    },
    "apex" : {
      "default" : [
        "You break it you buy it.",
        "What is it you need?",
        "What can I do to hasten this trade?",
        "Please do not sell me anything illegal, I don't need that kind of trouble."
      ]
    },
    "avian" : {
      "default" : [
        "Welcome, What can I sell you?",
        "What can I help you with today?",
        "Hey there. See anything you like?"
      ]
    },
   
    "floran" : {
      "default" : [
        "Floran welcomes you to ssstore.",
        "What can Floran get for you?",
        "You give Floran pixels, Floran gives you sstuff."
      ]
    },
   
    "glitch" : {
      "default" : [
        "Ingratiating. Welcome to my store.",
        "Genial. You know you want to buy everything!",
        "Pleased. A customer!."
      ]
    },
   
    "hylotl" : {
      "default" : [
        "I hope we can make an exchange that contributes to your happiness.",
        "Perhaps you might find some of my stock enriching.",
        "Please feel free to peruse my wares."
      ]
    },
   
    "novakid" : {
      "default" : [
        "Howdy, friend. Need any wares?",
        "Greetings, partner! You need to buy anythin'?",
        "I got goods to spare - you interested?"
      ]
    }     
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
        "See you next time!",
        "Come again!",
        "Your pixels are always good here.",
        "Pleasure doing business with you!",
        "Thanks for visiting.",
        "Great to see you!",
        "Let's do business again."
      ]
    },
    "human" : {
      "default" : [
        "See you next time!",
        "Come again.",
        "Your pixels are always good here.",
        "Pleasure doing business with you!",
        "Thanks for visiting.",
        "Great to see you!",
        "Let's do business again."
      ]
    },
    "avian" : {
      "default" : [
        "What a flying visit. I hope to see you again soon.",
        "Many thanks for your patronage.",
        "Thank you for your custom. Come again soon.",
        "I look forward to seeing you again."
      ]
    },
    "glitch" : {
      "default" : [
        "Insistent. Return soon!",
        "Pleased. Thank you for your patronage.",
        "Disappointed. You're not going to buy more?",
        "Melancholy. Until next time, customer."
      ]
    },
    "hylotl" : {
      "default" : [
        "Please come again.",
        "Thank you for your custom, please return soon.",
        "I hope to see you again soon.",
        "Thank you for your visit, I very much look forward to our future transactions."
      ]
    },
    "apex" : {
      "default" : [
        "Come again. Stay safe.",
        "I will see you again, save your pixels for me.",
        "I hope to see you again, my friend.",
        "Come back when you can."
      ]
    },
    "floran" : {
      "default" : [
        "Come back, stay here, ssspend more!",
        "Floran hopess you come back soon.",
        "Floran sells besst things, you come back soon.",
        "Floran pleased, hopes you come again."
      ]
    },
    "novakid" : {
      "default" : [
        "I hope I'll be seein' you again soon, friend!",
        "You take care of yourself out there!",
        "Come say hi next time you're around, partner!",
        "Be seein' you, partner!"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "Come with me, we can do business in my shop!",
	      "Come in, come in and see what I've got!"
      ]
    },
    "glitch" : {
    	"default" : [
	      "Cordial. Please follow me to my shop.",
	      "Enticing. Please allow me to lead you to my shop."
      ]
    },
    "avian" : {
    	"default" : [
	      "Follow me, I can lead you to my shop.",
	      "We can do business at my store. Please follow me."
      ]
    },
    "apex" : {
    	"default" : [
	      "My wares are in my shop. Follow me, I'll show you.",
	      "If you follow me to my store, we can trade."
      ]
    },
    "hylotl" : {
    	"default" : [
	      "Allow me to lead you to my store.",
	      "Can I show you to my shop? It's this way."
      ]
    },
    "floran" : {
    	"default" : [
	      "Follow Floran to shop.",
	      "Sstore is thisss way, follow Floran."
      ]
    },
    "novakid" : {
      "default" : [
        "Right this way, partner.",
        "Follow me, I'll show you my store."
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
	      "Welcome to my store!",
	      "Here we are. Now, how can I help you?"
      ]
    },
    "human" : {
    	"default" : [
        "Welcome to my store!",
        "Here we are. Now, how can I help you?"
      ]
    },
    "glitch" : {
    	"default" : [
        "Excited. Now we can do business.",
        "Pleased. Now we can trade to our hearts' content."
      ]
    },
    "avian" : {
    	"default" : [
        "Alright, now we're here, what can I get you?",
        "Now we're here you can browse and find what you like."
      ]
    },
    "apex" : {
    	"default" : [
        "Now we are in private, we can talk business.",
        "Ok, now we can trade."
      ]
    },
    "hylotl" : {
    	"default" : [
        "Here we are, and welcome. What did you wish to buy?",
        "Welcome to the seclusion of my store, I hope we can find what you need."
      ]
    },
    "floran" : {
    	"default" : [
        "Here'sss my shop. What did you need?",
        "We're here! What can Floran get you?"
      ]
    },
    "novakid" : {
      "default" : [
        "Now we're here, care to make some trades?",
        "Now we're at my store, you feelin' like makin' some trades?"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Goods for sale!",
	      "Hey you, come check out my amazing wares!",
	      "Best deals around!",
	      "Cheap buys!"
      ]
    },
    "apex" : {
      "default" : [
        "Come and see my wares.",
        "Goods for sale, come and see!",
        "Come here, customer.",
        "Come! Buy things!"
      ]
    },
    
    "avian" : {
      "default" : [
        "Come and trade!",
        "Can I sell you anything? I buy too.",
        "If you need to buy anything, I have a great selection.",
        "Hey there. Need to buy or sell anything?"
      ]
    },
    
    "floran" : {
      "default" : [
        "Buy things! Sssell things!",
        "Come see Floran's waresss.",
        "Floran's store is the best! Come and buy!",
        "Many things for sssale!"
      ]
    },
    
    "glitch" : {
      "default" : [
        "Enticing. Come, buy!",
        "Excited. Are you a customer?",
        "Welcoming. Come and view my wares!",
        "Proud. Come and buy from this merchant of great renown!"
      ]
    },
    
    "hylotl" : {
      "default" : [
        "My shop is resplendent with wares. Come and see.",
        "I would be most pleased to sell you what you need.",
        "Please feel welcome to peruse my wares.",
        "I have many goods available, I'm sure you'd find something to please you."
      ]
    },
    
    "novakid" : {
      "default" : [
        "Y'all want any goods?",
        "You feelin' lucky? You should be, 'cause I got some fine wares!",
        "I got some mighty fine merch, right here!",
        "If you have some pixels to spend, then I'm your friend!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Something in my place has changed, I don't like it!"
      ]
    },
    "human" : {
      "default": [
        "Have you stolen something from my shop?",
        "The arrangement of my shop has changed, this isn't alright...",
        "How can I sell stuff when my store is being changed?"
      ]
    },
    "floran" : {
      "default": [
        "Ssstop sstealing stuff...",
        "Put my shop back how it wasss.",
        "Floran's sstore was great before. Make it right again!"
      ]
    },
    "glitch" : {
      "default": [
        "Confused. My shop is different.",
        "Discontent. I dislike the changes you have made, restore my shop.",
        "Wistful. I wish my shop was how it used to be."
      ]
    },
    "avian" : {
      "default": [
        "Um, this isn't what my shop was like before...",
        "I don't like this, can you put things back how they were?",
        "Please put my things back where they were."
      ]
    },
    "apex" : {
      "default": [
        "Please put my things back.",
        "Stop taking things... You need to fix my store.",
        "I need you to put things back where you got them please."
      ]
    },
    "hylotl" : {
      "default": [
        "Why have you disrupted my shop? Please fix what you have broken.",
        "This is my store! Why would someone take things from it?",
        "It is profoundly upsetting and thoroughly immoral to dismantle my shop in this way."
      ]
    },
    "novakid" : {
      "default" : [
        "Somethin's up round here...",
        "This ol' store don't feel right just now. You been messin' around in here.",
        "It ain't right to go rearrangin' a store like this."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "My home could use some repairs!"
      ]
    },
    "human" : {
      "default": [
        "Can you fix the walls? The damage is putting off customers.",
        "I need the wall fixed if I want customers to shop here. Can you help?",
        "My shop needs to be in top condition! Can you help fix it?"
      ]
    },
    "floran" : {
      "default": [
        "Please fix Floran's wallsss.",
        "Floran's shop is broken. Can you fix it?",
        "Floran likess pixels, can't get pixelss with walls like this. Can you fix walls?"
      ]
    },
    "glitch" : {
      "default": [
        "Despondent. The walls are damaged and custom is down. Could you fix up the shop?",
        "Concerned. These broken walls a putting off trade, I need them fixed.",
        "Hopeful. Can you fix my shop? Then my customers might come back."
      ]
    },
    "avian" : {
      "default": [
        "It's hard to trade in a shop with no walls. Can you repair the damage?",
        "Would you mind fixing my walls?",
        "That wall is badly damaged, I'm worried I'll lose custom... Can you fix it?"
      ]
    },
    "apex" : {
      "default": [
        "There is a hole in my shop...",
        "I need you to mend my walls before the roof falls in on top of us.",
        "Please fix up these walls, the shop is no good to me like this."
      ]
    },
    "hylotl" : {
      "default": [
        "My shop is open to the elements, I can't maintain a business with damaged walls.",
        "I would be incredibly grateful if you could mend my walls.",
        "Understandably, this damage is putting of my customers - Please fix my walls."
      ]
    },
    "novakid" : {
      "default" : [
        "I'm not the only one feelin' a breeze in here, am I?",
        "This place has got more holes in it than a sheriff at a shoot out.",
        "I ain't gonna get no customers with a store that has holes in it!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "I thought this place was for me!"
      ]
    },
    "human" : {
      "default": [
        "I thought this was single tenancy!? I can't share the store!",
        "Are you trying to have someone move in here?!",
        "Why did you place another deed here?!"
      ]
    },
    "floran" : {
      "default": [
        "Floran needs all this space, not sharing with some random ssstranger.",
        "If you move in sssomeone else, Floran will eat them.",
        "Floran's not sharing shop! Take ssecond deed down."
      ]
    },
    "glitch" : {
      "default": [
        "Shocked. Are you trying to move another merchant into my store?",
        "Confused. But this is my shop, I can't share it...",
        "Sad. I thought I had this shop exclusively for myself."
      ]
    },
    "avian" : {
      "default": [
        "Why is someone else attempting to move into my store?",
        "Did you put my shop up for rent? This must be a mistake...",
        "There is another deed in my shop - Surely this isn't intentional."
      ]
    },
    "apex" : {
      "default": [
        "Why is there another deed here? What are you trying to pull?",
        "This is my shop. I rent it from you. You can not move someone else in.",
        "It is not ok to do this. I will not share my store."
      ]
    },
    "hylotl" : {
      "default": [
        "I don't wish to share my shop with a stranger.",
        "Passive or not, I cannot stand by as you ensconce a second merchant in my shop.",
        "There is another deed in my shop? Surely a mistake has been made?"
      ]
    },
    "novakid" : {
      "default" : [
        "This here's my store, don't make no sense to go movin' someone else in here.",
        "This ol' haunt ain't for sharing. Better take that second deed down.",
        "This is my store dagnabbit, I ain't sharing it with no one."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "I can't sell my wares in these conditions!"
      ]
    },
    "human" : {
      "default": [
        "I can't sell my wares in these conditions!",
        "These are unacceptable working conditions...",
        "It's impossible to work like this!"
      ]
    },
    "floran" : {
      "default": [
        "Floran can't work like thisss!",
        "Floran is angry, fix Floran's shop.",
        "You sssstill haven't fixed things in Floran's shop!"
      ]
    },
    "glitch" : {
      "default": [
        "Aggrevated. You need to improve these conditions, it is impossible to work here.",
        "Frustrated. I wish my requests were listened to.",
        "Unhappy. The fixes to my store haven't been made."
      ]
    },
    "avian" : {
      "default": [
        "This has gone too far, I need you to fix things!",
        "I can't put up with this much longer - look at the state of my shop.",
        "My usually resilient patience is beginning to wear thin. Fix my shop."
      ]
    },
    "apex" : {
      "default": [
        "Look at this place! Fix my shop, or I leave.",
        "I cannot cope with your indifference much longer...",
        "It is foolish to ignore an angry Apex. I suggest you fix my store."
      ]
    },
    "hylotl" : {
      "default": [
        "My requests are left unanswered, my entreaties fall on deaf ears... Shameful. ",
        "These conditions are deplorable, and your behaviour reprehensible.",
        "This is simply disgraceful, I demand you fix my shop."
      ]
    },
    "novakid" : {
      "default" : [
        "Seems to me you might wanna fix this shack up 'fore I leave.",
        "Well ain't this place mighty disappointin'... You fixin' to fix it or what?",
        "My store jus' ain't what it used to be. You better make it right."
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "I've had enough of this!"
      ]
    },
    "human" : {
      "default": [
        "I've had enough of this!",
        "That's it, I give up. Time to take my business elsewhere!",
        "I give up, I'm going to sell my wares in some other place!"
      ]
    },
    "floran" : {
      "default": [
        "That'sss it, Floran is leaving!",
        "Floran givess up! Floran can't work like this!",
        "Thisss is unprofessional, Floran will sssell on some other planet!"
      ]
    },
    "glitch" : {
      "default": [
        "Overwhelmed. This is beyond me. I'm taking my leave.",
        "Outraged. I deserve a better shop to do business in!",
        "Upset. I didn't want it to come to this, but I can't stay here any longer."
      ]
    },
    "avian" : {
      "default": [
        "A merchant like myself deserves better. Enough is enough.",
        "That's it. I'm leaving. It's time I found a better shop.",
        "I try to be respectful of others, it's a shame you don't make the same effort."
      ]
    },
    "apex" : {
      "default": [
        "I moved here for a better life... What a disappointment.",
        "I deserve better working conditions than this!",
        "That's it. I must leave. You are a terrible landlord."
      ]
    },
    "hylotl" : {
      "default": [
        "I can't do this any longer. I'm going.",
        "I've lost all respect for you. I hope one day you will see the error of your ways.",
        "These surroundings are detrimental to my very being. I must leave."
      ]
    },
    "novakid" : {
      "default" : [
        "This store is more run down than a Fluffalo's waterin' hole! I'm leavin' any minute now.",
        "I'd rather sleep on a cactus than work here one more night.",
        "Crimany! This place is a mess! Time I skedaddle."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "I'm home!"
      ]
    },
    "human" : {
      "default" : [
        "You called?",
        "Is there something you need to buy?",
        "Hi! Do you want to buy something?"
      ]
    },
    "floran" : {
      "default" : [
        "You need Floran to sell you sssomething?",
        "Do you need me for sssomething?",
        "Were you sssearching for me?"
      ]
    },
    "glitch" : {
      "default" : [
        "Jovial. Here I am! Are you buying or selling?",
        "Friendly. What can I do for you?",
        "Polite. What did you need to purchase?"
      ]
    },
    "avian" : {
      "default" : [
        "Hi, nice to see you. You hoping to buy something?",
        "Hello again! What can I help you with?",
        "Always glad to see a friendly face. What can I get you?"
      ]
    },
    "apex" : {
      "default" : [
        "You needed me and I came, what can I do for you?",
        "What is it, my friend? Do you want to buy something?",
        "Are you buying maybe, or do you hope to sell?"
      ]
    },
    "hylotl" : {
      "default" : [
        "What would you like to discuss? Or is there something you're looking for?",
        "Warm greetings. Were you hoping to trade with me?",
        "What can I get for you?"
      ]
    },
    "novakid" : {
      "default" : [
        "What can I do for ya'?",
        "You needin' to do some tradin'?",
        "You called and I came a-running. You need to buy somethin'?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's a gift for all your help with my shop!"
      ]
    },
    "human" : {
      "default" : [
        "I thought you might like this.",
        "Here's a gift for all your help with my shop!",
        "I really appreciate everything you've done, here have a gift."
      ]
    },
    "floran" : {
      "default" : [
        "Here isss a present for you!",
        "Floran got you this to ssay thank you.",
        "Floran likes shop, Floran ssay thank you with present."
      ]
    },
    "glitch" : {
      "default" : [
        "Friendly. Take this, for your continued patronage.",
        "Grateful. Please take this gift as a thank you for helping with my shop.",
        "Optimistic. This is going very well! Here's a gift to say thank you."
      ]
    },
    "avian" : {
      "default" : [
        "This present is a thank you for all your help.",
        "I bought a gift for you to say thank you, I hope you like it.",
        "I hope you like the gift!"
      ]
    },
    "apex" : {
      "default" : [
        "This present is for you, to say thank you.",
        "Business is good. This is your thank you present.",
        "My business is flourishing! Please take this gift, with my thanks."
      ]
    },
    "hylotl" : {
      "default" : [
        "Please take this gift as a token of my thanks.",
        "Please accept this gift with my gratitude.",
        "I hope this humble gift conveys my appreciation for your help."
      ]
    },
    "novakid" : {
      "default" : [
        "Here's a little somethin' for your troubles. Thank you kindly.",
        "It's a mighty fine store you've helped me secure. I gotta thank you for it.",
        "Thanks for helping me get by. You've earned this.",
        "Don't know how to thank you properly, but for now take this.",
        "That's for you, to do as you please with."
      ]
    }
  }
}
