{
  "attack" : {
    "default" : {
    	"default" : [
      "Stand sharp, soldier!"
      ]
    },
    "apex" : {
      "default" : [
            "Enemies of the Miniknog!",
            "Glory to Big Ape! Destroy the agitator!",
            "Hostile sighted! Eliminate them!",
            "For our glorious leader!",
            "Enemy sighted! Fire at will!",
            "Hostiles in sight!",
            "Kill the dissident, get a promotion!"
      ]
    }
  }
}