{
  "converse" : {
    "default" : {
    	"default" : [
      "Big Ape is watching you, outsider.",
      "Independence is slavery. Subservience is strength.",
      "As long as you don't make a scene, you won't get hurt around here.",
      "Don't alarm anyone here. In fact, try not to make much noise at all.",
      "The Miniknog are strong, and Big Ape is watching.",
      "No force in this universe can equal the Miniknog!",
      "You can pass through, stranger. Just don't cause any trouble.",
      "The Miniknog are powerful, stranger. You'd do well to respect us.",
      "I'm watching you, just as Big Ape watches us all!"
      ]
    }
  }
}