{
  "reattack" : {
    "default" : {
      "default" : [
        "Rarrgh!",
        "Rrrr!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Rargh!",
        "Rrrrr!",
        "Grargh!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Rarrgh! Rarrgh!",
        "Raaaargh!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Rarrgh?",
        "Rrrrr..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Rarrgh?",
        "Grargh?!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Rarrgh!",
        "Grargh!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Grargh!",
        "Rrrr!",
        "Rarrgh!"
      ]
    }
  }
}