{
  "merchantStart" : {
    "default" : {
    	"default" : [
	      "So what materials are you looking for?",
        "I've got all the ore you could ever need.",
        "Why labour underground when I can do that for you?"
      ]
    },
    "human" : {
      "default" : [
        "So what materials are you looking for?",
        "I've got all the ore you could ever need.",
        "Why labour underground when I can do that for you?"
      ]
    }   
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
        "See ya next time!",
        "Come again.",
        "Your pixels are always good here.",
        "Pleasure doing business with you!",
        "Great to see you!",
        "Let's do business again."
      ]
    },
    "human" : {
      "default" : [
        "See you next time!",
        "Come again.",
        "Your pixels are always good here.",
        "Pleasure doing business with you!",
        "Great to see you!",
        "Let's do business again."
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "Need materials? Right this way!",
	      "Come on over and see what I've got!"
      ]
    },
    "human" : {
    	"default" : [
	      "Need materials? Right this way!",
        "Come on over and see what I've got!"
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
        "Let's see what materials I have in stock.",
        "So what kind of materials were you after?",
        "Here we are. Now, how can I help you?"
      ]
    },
    "human" : {
    	"default" : [
        "Let's see what materials I have in stock.",
        "So what kind of materials were you after?",
        "Here we are. Now, how can I help you?"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "Get all your essential crafting materials here!",
	      "Everything you need, right here.",
	      "I've got every ore, metal and alloy you'll ever need right here!",
	      "Best deals around!",
	      "You won't find these goods anywhere else!",
	      "I acquire these precious materials so you don't have to!"
      ]
    },
    "human" : {
      "default" : [
        "Get all your essential crafting materials here!",
        "Everything you need, right here.",
        "I've got every ore, metal and alloy you'll ever need right here!",
        "Best deals around!",
        "You won't find these goods anywhere else!",
        "I acquire these precious materials so you don't have to!"
      ]
    }
  },
  "helpme" : {
    "default" : {
    	"default" : [
	      "I'm outta here!",
	      "Help! I'm being attacked!",
	      "I'm under attack!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
    	"default" : [
      	"Help!"
      ]
    }
  },
  "encourage" : {
    "default" : {
    	"default" : [
	      "Get 'em!",
	      "Avenge me!",
	      "Stick 'em once for me!",
	      "Don't let 'em get away!"
      ]
    }
  },
  "safe" : {
    "default" : {
    	"default" : [
	      "I think I got away.",
	      "Phew!",
	      "A close call!",
	      "That was close..."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "Something in my place has changed, I don't like it!"
      ]
    },
    "human" : {
      "default": [
        "Has something been stolen from my store?",
        "The arrangement of my store has changed, this isn't alright...",
        "How can I sell stuff when my store is being changed?"
      ]
    },
    "floran" : {
      "default": [
        "Have you taken ssstuff from my ssstore?",
        "My store hasss changed, I'm not happy with that!",
        "Can you help me get my ssstore looking like how it usssed to?"
      ]
    },
    "glitch" : {
      "default": [
        "Confused. My store is different.",
        "Discontent. I liked my store before it was changed.",
        "Wishful. I wish my store was how it used to be."
      ]
    },
    "avian" : {
      "default": [
        "The arrangement of my store is not the same...",
        "Something is unsettlingly different in here.",
        "Can you restore my store to its original arrangement for me?"
      ]
    },
    "apex" : {
      "default": [
        "I would appreciate if you could restore my store's original decor.",
        "Can you assist in the restoration of my store's original layout?",
        "I liked how my store was laid out previously. Can you restore it please?"
      ]
    },
    "hylotl" : {
      "default": [
        "Something is unbalanced in the flow of my store...",
        "This is my store! Why would someone take things from it?",
        "I wish my store was how it was before, it is no doubt turning away customers..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "My home could use some repairs!"
      ]
    },
    "human" : {
      "default": [
        "Can you fix the walls? It'll put off new customers like this.",
        "No-one is going to shop here with these damages! Can you help?",
        "My shop needs to be in top condition! Can you help fix it?"
      ]
    },
    "floran" : {
      "default": [
        "There's damagesss to the walls here!",
        "Could you fix my ssstore?",
        "My store could use some fixesss!"
      ]
    },
    "glitch" : {
      "default": [
        "Unhappy. The damage to my store is going to turn off customers.",
        "Concerned. Broken walls might be turning away potential customers.",
        "Needy. Can you fix my store before it gets worse?"
      ]
    },
    "avian" : {
      "default": [
        "The damage to my store is causing much concern to me...",
        "The damage to my store is causing much concern to me...",
        "I would appreciate if you could repair the damages to my home.",
        "Hmm, there appears to be a broken wall in my home. Can you fix it?"
      ]
    },
    "apex" : {
      "default": [
        "Can you assist in the repairs of my store?",
        "There are some damages to my store I wish to report.",
        "The damaged structure of my store is no doubt turning away customers."
      ]
    },
    "hylotl" : {
      "default": [
        "My store has been damaged. This is unpleasant.",
        "Do you feel something strange with my store? It feels damaged...",
        "I noticed a damaged wall here, perhaps you could assist with repairs?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "I thought this place was for me!"
      ]
    },
    "human" : {
      "default": [
        "Wasn't this location for me? I can't share the store!",
        "Are you trying to have someone move in to my store?!",
        "Why did you place another deed here?!"
      ]
    },
    "floran" : {
      "default": [
        "Sssomeone else can't move here!",
        "Why isss someone else trying to move in?",
        "I can't ssshare my store space with someone else!"
      ]
    },
    "glitch" : {
      "default": [
        "Shocked. Are you trying to move another merchant into my store?",
        "Confused. How come someone else is trying to move in?",
        "Sad. I thought I had this shop exclusively for myself."
      ]
    },
    "avian" : {
      "default": [
        "Why is someone else attempting to move into my store?",
        "Did you put my shop up for rent? This must be a mistake...",
        "There is another deed in my shop - Surely this isn't intentional."
      ]
    },
    "apex" : {
      "default": [
        "Why is there another deed here? I am meant to have exclusive rights to this store!",
        "Was this home not intended for me? Why is it up for rent again?",
        "I thought this home was exclusively for me. How upsetting."
      ]
    },
    "hylotl" : {
      "default": [
        "Is a rival merchant trying to move into my shop?",
        "How can I remain calm when another deed is in my shop?",
        "There is another deed in my shop? Surely a mistake has been made?"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "I can't sell my wares in these conditions!"
      ]
    },
    "human" : {
      "default": [
        "I can't sell my wares in these conditions!",
        "These are unacceptable conditions for me to work in...",
        "It is too difficult to sell my products like this!"
      ]
    },
    "floran" : {
      "default": [
        "I can't sssell like thisss!",
        "These conditionsss aren't okay!",
        "You still haven't fixed thingsss in my shop!"
      ]
    },
    "glitch" : {
      "default": [
        "Annoyed. I wish to sell my wares, but it is difficult under these circumstances.",
        "Frustrated. I wish my requests were listened to.",
        "Unhappy. The fixes to my store haven't been made yet."
      ]
    },
    "avian" : {
      "default": [
        "This has gone too far, I am greatly discontent with these conditions.",
        "I don't wish to work in these conditions.",
        "Why is my store in the state that it is in?!"
      ]
    },
    "apex" : {
      "default": [
        "My cries for improvements have gone unanswered...",
        "This shop is not how it was when I moved in...",
        "The condition of my shop is disgraceful, and I feel I am being ignored!"
      ]
    },
    "hylotl" : {
      "default": [
        "I try to remain calm but it is hard when my requests are left unanswered.",
        "The state of this store is not something I feel is acceptable.",
        "I cannot remain working in a shop with such imperfections..."
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "I've had enough of this!"
      ]
    },
    "human" : {
      "default": [
        "I've had enough of this!",
        "That's it, I give up. Time to take my business elsewhere!",
        "I give up, I'm going to sell my wares in some other place!"
      ]
    },
    "floran" : {
      "default": [
        "Thisss has gone on long enough!",
        "I am going to sssell somewhere else!",
        "Thisss is unprofessional, I'm going to sssell on another planet!"
      ]
    },
    "glitch" : {
      "default": [
        "Overwhelmed. Time to find a better shop to sell my wares.",
        "Outraged. I deserve a better shop to do business with.",
        "Upset. With these conditions, it is time that I left to sell somewhere else."
      ]
    },
    "avian" : {
      "default": [
        "A merchant like myself deserves better. Enough is enough.",
        "It is time I found a better shop.",
        "This store is not how it was when I moved in. It's time I left to find another."
      ]
    },
    "apex" : {
      "default": [
        "I moved here for a better life, but I can't work like this anymore.",
        "I deserve better working conditions than this!",
        "It saddens me to leave, but my complaints are being ignored."
      ]
    },
    "hylotl" : {
      "default": [
        "It is time I move on, this shop is not to my standards anymore.",
        "I wished hard that this shop would be good enough, but it simply is not anymore.",
        "Perhaps I shall find another shop that I can sell my beautiful products in."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "I'm home!"
      ]
    },
    "human" : {
      "default" : [
        "You called?",
        "Is there something you need to buy?",
        "Hi! Did you alert me because you want to buy something?"
      ]
    },
    "floran" : {
      "default" : [
        "You needsss me to sell me sssomething?",
        "Do you need me for sssomething?",
        "Were you sssearching for me?"
      ]
    },
    "glitch" : {
      "default" : [
        "Quizzical. Did you need to buy something, or perhaps sell something?",
        "Friendly. Did you want to chat or buy things from me?",
        "Polite. Did you just come to say hello?"
      ]
    },
    "avian" : {
      "default" : [
        "Did you wish to do business?",
        "Hello again, friend! May Kluex hold you in favour.",
        "I am always glad to see a friendly face."
      ]
    },
    "apex" : {
      "default" : [
        "Did you alert me for business reasons? Perhaps you wished to buy something?",
        "Do you have need of me?",
        "Greetings. Do you have something you wanted to buy?"
      ]
    },
    "hylotl" : {
      "default" : [
        "What would you like to discuss?",
        "Did you wish to trade with me, friend?",
        "Did you need me for my wares?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's a gift for all your help with my shop!"
      ]
    },
    "human" : {
      "default" : [
        "I thought you might like this, friend!",
        "Here's a gift for all your help with my shop!",
        "Take this, for your continued patronage!"
      ]
    },
    "floran" : {
      "default" : [
        "Here isss a present for you!",
        "Here'sss something I picked up for you!",
        "Thanksss for your help with my ssstore!"
      ]
    },
    "glitch" : {
      "default" : [
        "Thankful. Here is a gift for your assistance with my business.",
        "Grateful. I got you a gift for helping me with my store.",
        "Hopeful. I hope you like the gift I picked up for you whilst trading!"
      ]
    },
    "avian" : {
      "default" : [
        "Here is a token of my gratitude for your help.",
        "I have brought you a gift.",
        "I hope this offering brings you happiness."
      ]
    },
    "apex" : {
      "default" : [
        "Please accept this gift, for all your assistance.",
        "I have a gift for you for all your help with my business.",
        "For all you have done for my business, take this."
      ]
    },
    "hylotl" : {
      "default" : [
        "My shop is as peaceful as I could hope for. Here is a gift for all you have done.",
        "Accept this as a token of my thanks for your assistance.",
        "I hope this humble gift conveys my appreciation for your help."
      ]
    }
  }
}