{
  "converse": {
    "default" : {
      "default": [ 
        "I have nothing to say to you"
      ]
    },
    "apex" : {
      "default" : [
        "You don't LOOK like Miniknog..."
      ],
      "human" : [
        "Ah, lovely to see humans in our midst."
      ],
      "apex" : [
        "You take a risk coming back here, pariah."
      ],
      "avian" : [
        "Greetings, Avian."
      ],
      "floran" : [
        "A Floran. Oh."
      ],
      "glitch" : [
        "Hello there, Glitch."
      ],
      "hylotl" : [
        "Hello there, Hylotl."
      ]
    },
    "hylotl" : {
      "default" : [
        "I'm not sure I want to know what you are."
      ],
      "human" : [
        "Oh, hello smoothskin."
      ],
      "apex" : [
        "Don't get too close, ape. You stink."
      ],
      "avian" : [
        "Greetings, Avian."
      ],
      "floran" : [
        "Ghurk!"
      ],
      "glitch" : [
        "Oh, a robot."
      ],
      "hylotl" : [
        "Ahh, finally someone who will appreciate me."
      ]
    },
    "avian" : {
      "default" : [
        "Have a blessed day, stranger."
      ],
      "human" : [
        "Greetings, human."
      ],
      "apex" : [
        "Greetings, ape."
      ],
      "avian" : [
        "Greetings, fellow Avian."
      ],
      "floran" : [
        "Oh... a Floran."
      ],
      "glitch" : [
        "Hello there, Glitch."
      ],
      "hylotl" : [
        "Oh, a Hylotl."
      ]
    },
    "human" : {
      "default" : [
        "Have an awesome day!"
      ],
      "human" : [
        "Yo!",
        "Hey, great to see you."
      ],
      "apex" : [
        "A talking monkey. Cool."
      ],
      "avian" : [
        "Hey, it's a big bird!"
      ],
      "floran" : [
        "A triffid!"
      ],
      "glitch" : [
        "Whoa, nice, a robot."
      ],
      "hylotl" : [
        "Oh hey, a giant fish."
      ]
    },
    "floran" : {
      "default" : [
        "Ssstrange thing."
      ],
      "human" : [
        "Meatman!"
      ],
      "apex" : [
        "Floran want cuddle from monkey man!"
      ],
      "avian" : [
        "Birdman!"
      ],
      "floran" : [
        "Floran!"
      ],
      "glitch" : [
        "Floran greet metal man!"
      ],
      "hylotl" : [
        "Hsssss!"
      ]
    },
    "glitch" : {
      "default" : [
        "Confusion. What manner of being are you?"
      ],
      "human" : [
        "Superiority. Puny human."
      ],
      "apex" : [
        "Shocked. Such a hairy creature!"
      ],
      "avian" : [
        "Query. Does your plumage self-assemble, or is it constructed by artisans?"
      ],
      "floran" : [
        "Friendly. Greetings plantman."
      ],
      "glitch" : [
        "Friendly. Greetings friend."
      ],
      "hylotl" : [
        "Sceptical. For a species that lives underwater, you don't smell very clean."
      ]
    }
  },
  "flee" : {
    "helpme" : {
      "default" : {
        "default" : [
          "Help me!",
          "Help!",
          "I've been accosted!"
        ]
      },
      "glitch" : {
        "default" : [
        "Fear. Help me!",
          "Intimidated. Please don't hurt me!",
          "Abused. I've been accosted!",
          "Afraid. Get away from me!",
          "Terrified. Save me!",
          "Shocked. No! Get away from me!"
        ]
      },
      "floran" : {
        "default" : [
          "Ssstabby time for me!",
          "Floran being hurted!",
          "Floran not ready for hunt!"
        ]
      }
    },
    "helpthem" : {
      "default" : {
        "default" : [
          "What have you done!?"
        ]
      },
      "glitch" : {
        "default" : [
          "Fear. Somebody help!",
          "Intimidated. Please don't hurt me!",
          "Afraid. Leave me be!",
          "Terrified. Save me!",
          "Shocked. What have you done?!",
          "Righteous. I will write an electronic letter in protest!"
        ]
      },
      "floran" : {
        "default" : [
          "Ssstabby time for me!",
          "Floran being hurted!",
          "Floran not ready for hunt!"
        ]
      }
    },
    "encourage" : {
      "default" : {
        "default" : [
          "Get 'em!",
          "Avenge me!",
          "Stick 'em once for me!",
          "Don't let 'em get away!"
        ]
      },
      "glitch" : {
        "default" : [
          "Encourage. Put 'em to the sword!",
          "Excitement. Avenge me!",
          "Aggressive. Strike him down!",
          "Vengeful. Don't let 'em get away!"
        ]
      },
      "floran" : {
        "default" : [
          "Ssstabb the intruders!",
          "Floran get revenge now!",
          "Ssslice them!"
        ]
      }
    },
    "safe" : {
      "default" : {
        "default" : [
          "Phew, I think I got away.",
          "I've escaped with my life!",
          "Is this the safe zone?"
        ]
      },
      "glitch" : {
        "default" : [
          "Relieved. Phew, I think I got away.",
          "Thankful. I've escaped with my life!",
          "Wishful. If only I could afford a keep.",
          "Hopeful. Am I safe?",
          "Embarrassed. I think I leaked a little oil."
        ]
      },
      "floran" : {
        "default" : [
          "Floran sssafe now.",
          "Floran not get ssstabbed after all.",
          "Them lucky Floran not have weapon.",
          "Sssalvation!"
        ]
      }
    }
  }
}