{
  "share_secret" : {
    "pleaseTakeReply" : {
      "default" : {
        "default" : [
          "Please take this reply back to <questGiver>."
        ]
      },
      "human" : {
        "default" : [
          "Please take this reply back to <questGiver>."
        ]
      },
      "apex" : {
        "default" : [
          "Please take this reply back to <questGiver>."
        ]
      },
      "avian" : {
        "default" : [
          "Please take this reply back to <questGiver> for me."
        ]
      },
      "floran" : {
        "default" : [
          "Take thisss reply to <questGiver>."
        ]
      },
      "glitch" : {
        "default" : [
          "Grateful. Please take this reply back to <questGiver>."
        ]
      },
      "hylotl" : {
        "default" : [
          "Would you kindly take this reply to <questGiver>?"
        ]
      }
    }
  },

  "intimidate" : {
    "intimidated" : {
      "default" : {
        "default" : [
          "Don't hurt me with that <item>! Tell <questGiver> I'll do anything!"
        ]
      },
      "human" : {
        "default" : [
          "Don't point that <item> at me! Tell <questGiver> I'll do anything!"
        ]
      },
      "apex" : {
        "default" : [
          "Don't hurt me with that <item>! Tell <questGiver> I will comply!"
        ]
      },
      "avian" : {
        "default" : [
          "Don't hurt me with that <item>! Tell <questGiver> I'll do anything!"
        ]
      },
      "floran" : {
        "default" : [
          "Don't hurt Floran with <item>! Tell <questGiver> Floran will obey!"
        ]
      },
      "glitch" : {
        "default" : [
          "Alarmed. Don't hurt me with that <item> - Tell <questGiver> I'll do anything!"
        ]
      },
      "hylotl" : {
        "default" : [
          "Don't hurt me with that <item>! Tell <questGiver> I'll do anything!"
        ]
      }
    },
    "notIntimidated" : {
      "default" : {
        "default" : [
          "Why should I do what <questGiver> wants?"
        ]
      },
      "human" : {
        "default" : [
          "Why should I do what <questGiver> wants?",
          "You don't scare me, and neither does <questGiver>!"

        ]
      },
      "apex" : {
        "default" : [
          "Has <questGiver> sent you to intimidate me?",
          "Has <questGiver> sent you to intimidate me?"
        ]
      },
      "avian" : {
        "default" : [
          "Why should I do what <questGiver> wants?",
          "I'm not afraid of <questGiver>!"
        ]
      },
      "floran" : {
        "default" : [
          "Floran not sscared of <questGiver>!",
          "Floran not sscared of you, or <questGiver>!"
        ]
      },
      "glitch" : {
        "default" : [
          "Unafraid. Why should I do what <questGiver> wants?",
          "Confused. Are you trying to intimidate me on behalf of <questGiver>?"
        ]
      },
      "hylotl" : {
        "default" : [
          "<questGiver> cannot disquiet me, and neither can you.",
          "Why should I do what <questGiver> wants?"
        ]
      }
    }
  },

  "bribe" : {
    "giftAccepted" : {
      "default" : {
        "default" : [
          "Is this a bribe? Ah, who cares... Please give my thanks to <questGiver>."
        ]
      },
      "human" : {
        "default" : [
          "Is this a bribe? Ah, who cares... Please give my thanks to <questGiver>!",
          "Is this bribery? Oh well! Please give my thanks to <questGiver>!",
          "Being bribed is pretty great! Please give my thanks to <questGiver>."

        ]
      },
      "apex" : {
        "default" : [
          "I am fairly certain I'm being bribed, but give my thanks to <questGiver>.",
          "Is this a gift from <questGiver>? Or is it more of a bribe?"
        ]
      },
      "avian" : {
        "default" : [
          "<questGiver> may be trying to bribe me, but I'm grateful anyway!",
          "<questGiver> may be trying to win my favour, but this is still a nice gesture!"
        ]
      },
      "floran" : {
        "default" : [
          "Floran doesn't mind bribes. Say thanksss to <questGiver>!",
          "Floran likes bribes! Say thanksss to <questGiver>."
        ]
      },
      "glitch" : {
        "default" : [
          "Pleased. A bribe! Give my thanks to <questGiver>.",
          "Impressed. Thank <questGiver> for this gift on my behalf!"

        ]
      },
      "hylotl" : {
        "default" : [
          "My loyalty is swayed! Give my thanks to <questGiver>.",
          "Gifts are a potent form of persuasion! Give my thanks to <questGiver>."
        ]
      }
    },
    "giftAccepted2" : {
      "default" : {
        "default" : [
          "I wonder what <questGiver> wants from me though..."
        ]
      },
      "human" : {
        "default" : [
          "I wonder what <questGiver> wants from me though..."
        ]
      },
      "apex" : {
        "default" : [
          "I wonder what <questGiver> wants from me though..."
        ]
      },
      "avian" : {
        "default" : [
          "I wonder what <questGiver> wants from me though..."
        ]
      },
      "floran" : {
        "default" : [
          "Floran wonders what <questGiver> wantsss..."
        ]
      },
      "glitch" : {
        "default" : [
          "Curious. I wonder what <questGiver> wants from me?",
          "Concerned. I wonder why <questGiver> wanted to bribe me?"
        ]
      },
      "hylotl" : {
        "default" : [
          "I wonder what <questGiver> may want from me..."
        ]
      }
    },
    "requestAdditionToHouse" : {
      "default" : {
        "default" : [
          "This gift would look good in my home. Can you place it in there for me?"
        ]
      },
      "human" : {
        "default" : [
          "This gift would look good in my home. Can you place it in there for me?",
          "What a nice gift! Could you place it in my home, so I can show it off?"
        ]
      },
      "apex" : {
        "default" : [
          "This is a generous gift - perhaps it should be on display in my home?",
          "This gift would look good displayed in my home. Will you put it there for me?"
        ]
      },
      "avian" : {
        "default" : [
          "What a lovely gift! Would you be able to place it in my home, so I can enjoy it all the time?",
          "What a nice gift! Would you be able to put it somewhere in my home?"
        ]
      },
      "floran" : {
        "default" : [
          "Floran likesss gift! Can you put it in Floran's house please?",
          "Gift is perfect for Floran! Can you put it in Floran's home?"
        ]
      },
      "glitch" : {
        "default" : [
          "Delighted. What a wonderful gift! Perhaps you could place it in my home for me?",
          "Appreciative. This gift is so nice, I should show it off. Could you place it in my home for me?"
        ]
      },
      "hylotl" : {
        "default" : [
          "How kind of you to deliver this gift! Could you place it in my home for me?",
          "This gift is exquisite. Would you be able to place it somewhere in my home for me?"
        ]
      },
      "novakid" : {
        "default" : [
          "Well shucks, this gift is jus' lovely! Could you place it in my home for me, partner?",
          "What a mighty fine gesture this gift is! Could you place it in my home for me?"
        ]
      }
    }
  },

  "gift" : {
    "giftAccepted" : {
      "default" : {
        "default" : [
          "Oh, wow! Please thank <questGiver> for me!"
        ]
      },
      "human" : {
        "default" : [
          "Oh, wow! Please thank <questGiver> for me!",
          "How nice! Please thank <questGiver> for me!"
        ]
      },
      "apex" : {
        "default" : [
          "How kind of <questGiver>. Please thank them for me.",
          "Please tell <questGiver> how happy this gift has made me!"
        ]
      },
      "avian" : {
        "default" : [
          "Please thank <questGiver> for this lovely gift!",
          "What a kind gesture. Please thank <questGiver> for me."
        ]
      },
      "floran" : {
        "default" : [
          "Floran likesss gift! Tell <questGiver> for Floran!",
          "A present for Floran! Give Floran's thanksss to <questGiver>!"
        ]
      },
      "glitch" : {
        "default" : [
          "Appreciative. Please thank <questGiver> on my behalf!",
          "Happy. Tell <questGiver> that I appreciate their gift!"
        ]
      },
      "hylotl" : {
        "default" : [
          "<questGiver> has a kind spirit! Please tell them for me!",
          "A gift! <questGiver> deserves my thanks for such a gesture."
        ]
      },
      "novakid" : {
        "default" : [
          "<questGiver> is an ace-high friend! Give them thanks on my behalf next time you can, partner!",
          "This gift is mighty fine! Can you thank <questGiver> for me?"
        ]
      }
    },
    "giftAccepted2" : {
      "default" : {
        "default" : [
          "<questGiver> is a great friend."
        ]
      },
      "human" : {
        "default" : [
          "<questGiver> is pretty nice!",
          "<questGiver> is a good friend."
        ]
      },
      "apex" : {
        "default" : [
          "<questGiver> is clearly someone I can trust.",
          "<questGiver> is a good friend to me."
        ]
      },
      "avian" : {
        "default" : [
          "<questGiver> is a great friend.",
          "<questGiver> is a great friend."
        ]
      },
      "floran" : {
        "default" : [
          "Floran likesss <questGiver>!",
          "Floran hasss decided that <questGiver> is a good friend."
        ]
      },
      "glitch" : {
        "default" : [
          "Pleased. <questGiver> is a good friend.",
          "Cheerful. <questGiver> is a kind person."
        ]
      },
      "hylotl" : {
        "default" : [
          "<questGiver> has earned my true friendship.",
          "<questGiver> has my trust."
        ]
      },
      "novakid" : {
        "default" : [
          "<questGiver> is an ace-high friend! They've earned my respect, that's for sure!",
          "This gift is mighty fine! <questGiver> certainly has my trust!"
        ]
      }
    },
    "requestAdditionToHouse" : {
      "default" : {
        "default" : [
          "This gift would look good in my home. Can you place it in there for me?"
        ]
      },
      "human" : {
        "default" : [
          "This gift would look good in my house. Can you place it in there for me?",
          "What a nice gift! Could you place it in my home, so I can show it off?"
        ]
      },
      "apex" : {
        "default" : [
          "This is a generous gift - perhaps it should be on display in my home.",
          "This gift would look good displayed in my home. Will you put it there for me?"
        ]
      },
      "avian" : {
        "default" : [
          "What a lovely gift! Would you be able to place it in my home, so I can enjoy it all the time?",
          "What a nice gift! Would you be able to put it somewhere in my home?"
        ]
      },
      "floran" : {
        "default" : [
          "Floran likesss gift! Can you put it in Floran's house please?",
          "Gift is perfect for Floran! Can you put it in Floran's home?"
        ]
      },
      "glitch" : {
        "default" : [
          "Delighted. What a wonderful gift! Perhaps you could place it in my home for me?",
          "Appreciative. This gift is so nice, I should show it off. Could you place it in my home for me?"
        ]
      },
      "hylotl" : {
        "default" : [
          "How kind of you to deliver this gift! Could you place it in my home for me?",
          "This gift is exquisite. Would you be able to place it somewhere in my home for me?"
        ]
      },
      "novakid" : {
        "default" : [
          "Well shucks, this gift is jus' lovely! Could you place it in my home for me, partner?",
          "What a mighty fine gesture this gift is! Could you place it in my home for me?"
        ]
      }
    }
  },

  "return_stolen" : {
    "objectTaken" : {
      "default" : {
        "default" : [
          "I assure you, that <item> was acquired legally!"
        ]
      },
      "human" : {
        "default" : [
          "I assure you, that <item> was acquired legally!",
          "Fine, take the <item> - I don't need it anyway!"
        ]
      },
      "apex" : {
        "default" : [
          "Fine, take back the <item> - Just don't get me into trouble!",
          "That <item> was acquired legitimately - I swear!"
        ]
      },
      "avian" : {
        "default" : [
          "I had permission to borrow that <item>, it wasn't stolen!"
        ]
      },
      "floran" : {
        "default" : [
          "You can take that <item> back, just don't get Floran in trouble!"
        ]
      },
      "glitch" : {
        "default" : [
          "Nervous. I have no idea how that <item> got here!",
          "Worried. That <item> wasn't stolen, it only looks that way!"
        ]
      },
      "hylotl" : {
        "default" : [
          "I didn't steal that <item>, I was simply borrowing it.",
          "That <item> was acquired fairly, I promise you!"
        ]
      },
      "novakid" : {
        "default" : [
          "Jus' to let you know, I have no idea where that <item> came from!",
          "I won that <item> in a game o' cards, it's mine! Honest!"
        ]
      }
    }
  },

  "collect_fine" : {
    "fineCollected" : {
      "default" : {
        "default" : [
          "Fine, fine, I'll pay the fine. Don't judge me!"
        ]
      },
      "human" : {
        "default" : [
          "Fine, fine, I'll pay the fine. Don't judge me!",
          "You caught me! I'll play fair."
        ]
      },
      "apex" : {
        "default" : [
          "Fine, I'll pay up. Just do not report this to the MiniKnog!",
          "You caught me - I will pay the fine. Just don't get me in bigger trouble."
        ]
      },
      "avian" : {
        "default" : [
          "There's no need to keep hassling me, I've decided to pay up!"
        ]
      },
      "floran" : {
        "default" : [
          "Floran got caught, ssso Floran will pay fine.",
          "You caught Floran! Floran impressed, here isss the fine."
        ]
      },
      "glitch" : {
        "default" : [
          "Defeated. I guess I should pay the fine, I don't want to get into further trouble!",
          "Annoyed. I'll pay the fine - What's the use in quibbling?"
        ]
      },
      "hylotl" : {
        "default" : [
          "I'll pay the fine! No need to disturb the peace any further.",
          "Stay calm! I'll pay the fine!"
        ]
      },
      "novakid" : {
        "default" : [
          "I won't be a varmint, I'll pay yer fine.",
          "Alright alright, I'll pay up! Yer cornered me!"
        ]
      }
    }
  },

  "collect_gift" : {
    "giftProvided" : {
      "default" : {
        "default" : [
          "Here you go! One <item>, just for <questGiver>!"
        ]
      },
      "human" : {
        "default" : [
          "Here you go! One <item>, just for <questGiver>!",
          "Here's the <item> you need!"
        ]
      },
      "apex" : {
        "default" : [
          "Here is the <item> you need. I hope it is what's needed.",
          "Here is the <item> that <questGiver> needs."
        ]
      },
      "avian" : {
        "default" : [
          "Here is the <item>!  I hope it serves <questGiver> well.",
          "This <item> is what <questGiver> needed, correct?"
        ]
      },
      "floran" : {
        "default" : [
          "Here isss the <item>, give it to <questGiver> for me!",
          "Here isss the <item> for <questGiver>!"
        ]
      },
      "glitch" : {
        "default" : [
          "Cheerful. I hope <questGiver> likes their new <item>!",
          "Friendly. Please take this <item> to <questGiver> - I hope they like it!"
        ]
      },
      "hylotl" : {
        "default" : [
          "Here is the <item> - I hope it brings <questGiver> happiness.",
          "I hope this <item> brings you and <questGiver> peace."
        ]
      },
      "novakid" : {
        "default" : [
          "Here's the ol' <item> - jus' for <questGiver>!",
          "Here's the <item>. Run it over to <questGiver>, if you can."
        ]
      }
    }
  },

  "request_craft" : {
    "giftProvided" : {
      "default" : {
        "default" : [
          "Here's one I made earlier!"
        ]
      },
      "human" : {
        "default" : [
          "Here's the <item> you needed me to make!",
          "Here's one I made earlier!"
        ]
      },
      "apex" : {
        "default" : [
          "You need me to make something? One <item>, coming right up.",
          "Here's the <item> you needed me to make for you."
        ]
      },
      "avian" : {
        "default" : [
          "Here's the <item> you needed me to make!",
          "<item>? Here, I made one already. Feel free to take it."
        ]
      },
      "floran" : {
        "default" : [
          "Floran made thisss <item> for you, as requested!",
          "Here isss the <item> you wanted Floran to make!"
        ]
      },
      "glitch" : {
        "default" : [
          "Generous. You're in luck - I made this <item> earlier. Take it.",
          "Efficient. I've already made the <item> - Please take it."
        ]
      },
      "hylotl" : {
        "default" : [
          "I've made you the <item> you need - Crafted with true Hylotl skill.",
          "<item>? I can craft one of those for you. Here, for you."
        ]
      },
      "novakid" : {
        "default" : [
          "Y'all wanted this <item> I made? Here, take it!",
          "Well ain't you in luck? I made this <item> earlier, go ahead an' take it."
        ]
      }
    }
  },

  "borrow" : {
    "giftProvided" : {
      "default" : {
        "default" : [
          "Fine, <questGiver> can borrow my <item>."
        ]
      },
      "human" : {
        "default" : [
          "Fine, <questGiver> can borrow my <item>. Will you bring it back eventually?",
          "Sure, I can lend <questGiver> my <item>. "
        ]
      },
      "apex" : {
        "default" : [
          "Here is the <item> <questGiver> wants to borrow. I suspect I won't be getting it back.",
          "<questGiver> can borrow my <item>, I just hope I get it back..."
        ]
      },
      "avian" : {
        "default" : [
          "I don't mind <questGiver> borrowing my <item> as long as they bring it back eventually!",
          "<questGiver> can borrow my <item>! As long as they give it back to me when they're done."
        ]
      },
      "floran" : {
        "default" : [
          "Floran can lend <questGiver> <item>, as long as Floran getsss it back ssoon.",
          "Here iss the <item> for <questGiver>, Floran doesn't mind lending it."
        ]
      },
      "glitch" : {
        "default" : [
          "Reasonable. Here is my <item> - Just tell <questGiver> to give it back soon.",
          "Friendly. <questGiver> can borrow my <item> if they need it!"
        ]
      },
      "hylotl" : {
        "default" : [
          "I will gladly lend <questGiver> my <item>.",
          "<questGiver> can borrow my <item> if they have need of it!"
        ]
      },
      "novakid" : {
        "default" : [
          "Yeah, I can let <questGiver> borrow my ol' <item>.",
          "<questGiver> can borrow my <item> if they ain't gonna take if for long!"
        ]
      }
    }
  },

  "extort" : {
    "giftProvided" : {
      "default" : {
        "default" : [
          "H-here, take my <item>. Just d-don't hurt me!"
        ]
      },
      "human" : {
        "default" : [
          "H-here, take my <item>. Just don't h-hurt me!",
          "<questGiver> can have my <item>, just don't hurt me!"
        ]
      },
      "apex" : {
        "default" : [
          "Extortion is not new to me. Take my <item>...",
          "Just take the <item> - I value my safety."
        ]
      },
      "avian" : {
        "default" : [
          "No need to be so menacing! Just take my <item>!",
          "Stop tormenting me and just take the <item>!"
        ]
      },
      "floran" : {
        "default" : [
          "Floran doesn't want to fight right now! Take <item>.",
          "Fine! Floran will help <questGiver>! Take Floran's <item>!"
        ]
      },
      "glitch" : {
        "default" : [
          "Petrified. I don't want to get hurt! Take my <item> if that's what you need!",
          "Terrified. Just take my <item>! <questGiver> can have it!"
        ]
      },
      "hylotl" : {
        "default" : [
          "Take my <item>, and leave me in peace, I beg of you!",
          "Stop terrorising me! Take my <item> if you need it!"
        ]
      },
      "novakid" : {
        "default" : [
          "No need to cause a mighty scene! Jus' take my <item> if it means that much to you!",
          "Is this a holdup?! Fine, I don't wanna fight, jus' take my <item>."
        ]
      }
    }
  },

  "hat" : {
    "crafting" : {
      "default" : {
        "default" : [
          "Oh, you have the items we need? Hold on a second..."
        ]
      },
      "human" : {
        "default" : [
          "Oh, you have the items we need? Hold on a second...",
          "You brought the materials? Great, hold on a moment then... "
        ]
      },
      "apex" : {
        "default" : [
          "You've secured the materials? Wait one moment, I just need to make this...",
          "Thank you for bringing me the materials - Give me a moment and I can make this..."
        ]
      },
      "avian" : {
        "default" : [
          "You brought the items? Great, hold on a moment...",
          "You brought the materials? Let me just craft this then, give me a moment..."
        ]
      },
      "floran" : {
        "default" : [
          "You brought Floran materials! Floran craft now, hold on...",
          "Thank you for thingss! Floran just take a moment to craft..."
        ]
      },
      "glitch" : {
        "default" : [
          "Eager. You have brought me the materials! Hold on one moment...",
          "Pleased. You brought me the items we need! Just give me moment to craft this..."
        ]
      },
      "hylotl" : {
        "default" : [
          "Thank you for bringing me the items, I will just take a short time to craft what <questGiver> needs.",
          "Thank you so much for bringing the items, I'm eager to begin crafting. Here, give me a moment..."
        ]
      },
      "novakid" : {
        "default" : [
          "You brought the supplies? Ace-high! Now hold on a moment so I can throw this together...",
          "You got the materials, I got the skills. Hold up a moment so I can make this..."
        ]
      }
    },
    "crafted" : {
      "default" : {
        "default" : [
          "Here you go! Take this parcel to <questGiver> for me."
        ]
      },
      "human" : {
        "default" : [
          "Here you go! You can take this parcel to <questGiver> for me.",
          "And... Finished! Take this parcel to <questGiver>."
        ]
      },
      "apex" : {
        "default" : [
          "Thank you for waiting. Here, take this to <questGiver>.",
          "I am done! Thank you for waiting. Now, please take this parcel to <questGiver>..."
        ]
      },
      "avian" : {
        "default" : [
          "Thank you for waiting! Can you deliver <questGiver>'s parcel to them for me?",
          "Here it is! Please take this parcel to <questGiver>."
        ]
      },
      "floran" : {
        "default" : [
          "Finished! Pleasse take parcel to <questGiver> for Floran.",
          "Here iss thing! Take it to <questGiver>."
        ]
      },
      "glitch" : {
        "default" : [
          "Pleased. I have finished crafting. Can you deliver this to <questGiver> for me?",
          "Satisfied. I have finished! Now please take this package to <questGiver> for me."
        ]
      },
      "hylotl" : {
        "default" : [
          "An exquisite job, if I say so myself! Would you take this parcel to <questGiver> for me?",
          "Wonderful! Don't you admire my craftsmanship? Now, could you take the parcel to <questGiver>?"
        ]
      },
      "novakid" : {
        "default" : [
          "An ace-high job, if I say so myself! Could you run this parcel to <questGiver> for me, partner?",
          "What a mighty fine craftin' job I did! Be a star an' run this down to <questGiver> for me?"
        ]
      }
    }
  },

  "helmet" : {
    "crafting" : {
      "default" : {
        "default" : [
          "Oh, you have the items we need? Hold on a second..."
        ]
      },
      "human" : {
        "default" : [
          "Oh, you have the items we need? Hold on a second...",
          "You brought the materials? Great, hold on a moment then... "
        ]
      },
      "apex" : {
        "default" : [
          "You've secured the materials? Good. Wait one moment, I just need to make this...",
          "Thank you for bringing me the materials - Give me a moment and I can make this..."
        ]
      },
      "avian" : {
        "default" : [
          "You brought the items? Great, hold on a moment...",
          "You brought the materials? Let me just craft this then, give me a moment..."
        ]
      },
      "floran" : {
        "default" : [
          "You brought Floran materials! Floran craft now, hold on...",
          "Thank you for thingss! Floran just take a moment to craft..."
        ]
      },
      "glitch" : {
        "default" : [
          "Eager. You have brought me the materials! Hold on one moment...",
          "Pleased. You brought me the items we need! Just give me moment to craft this..."
        ]
      },
      "hylotl" : {
        "default" : [
          "Thank you for bringing me the items, I will just take a short time to craft what <questGiver> needs.",
          "Thank you so much for bringing the items, I'm eager to begin crafting. Here, give me a moment..."
        ]
      },
      "novakid" : {
        "default" : [
          "You brought the supplies? Ace-high! Now hold on a moment so I can throw this together...",
          "You got the materials, I got the skills. Hold up a moment so I can make this..."
        ]
      }
    },
    "crafted" : {
      "default" : {
        "default" : [
          "Here you go! Take this parcel to <questGiver> for me."
        ]
      },
      "human" : {
        "default" : [
          "Here you go! You can take this parcel to <questGiver> for me.",
          "And... Finished! Take this parcel to <questGiver>."
        ]
      },
      "apex" : {
        "default" : [
          "Thank you for waiting. Here, take this to <questGiver>.",
          "I am done! Thank you for waiting. Now, please take this parcel to <questGiver>..."
        ]
      },
      "avian" : {
        "default" : [
          "Thank you for waiting! Can you deliver <questGiver>'s parcel to them for me?",
          "Here it is! Please take this parcel to <questGiver>."
        ]
      },
      "floran" : {
        "default" : [
          "Finished! Pleasse take parcel to <questGiver> for Floran.",
          "Here iss thing! Take it to <questGiver>."
        ]
      },
      "glitch" : {
        "default" : [
          "Pleased. I have finished crafting. Can you deliver this to <questGiver> for me?",
          "Satisfied. I have finished! Now please take this package to <questGiver> for me."
        ]
      },
      "hylotl" : {
        "default" : [
          "An exquisite job, if I say so myself! Would you take this parcel to <questGiver> for me?",
          "Wonderful! Don't you admire my craftsmanship? Now, could you take the parcel to <questGiver>?"
        ]
      },
      "novakid" : {
        "default" : [
          "An ace-high job, if I say so myself! Could you run this parcel to <questGiver> for me, partner?",
          "What a mighty fine craftin' job I did! Be a star an' run this down to <questGiver> for me?"
        ]
      }
    }
  },
  "new_stock" : {
    "trade" : {
      "default" : {
        "default" : [
          "Thanks for the goods, here's <questGiver>'s parcel. Pass on my regards!"
        ]
      },
      "human" : {
        "default" : [
          "Thanks for the goods, here's <questGiver>'s parcel. Pass on my regards!"
        ]
      },
      "apex" : {
        "default" : [
          "Are you here on behalf of <questGiver>? Here's the parcel. Thank you for these goods."
        ]
      },
      "avian" : {
        "default" : [
          "Thank you for delivering this. Here's <questGiver>'s order!"
        ]
      },
      "floran" : {
        "default" : [
          "Thank you for the sstuff. Here's <questGiver>'s parcel, don't lose it!"
        ]
      },
      "glitch" : {
        "default" : [
          "Wary. This seems like the right stuff... Ok. Let's trade. Take this parcel to <questGiver>."
        ]
      },
      "hylotl" : {
        "default" : [
          "I'm pleased that we could carry out this transaction - my thanks for the goods. Please take this parcel to <questGiver>."
        ]
      },
      "novakid" : {
        "default" : [
          "You here to pick up <questGiver>'s parcel? Here you go, thanks for the supplies, partner!"
        ]
      }
    }
  },
  "kidnapping" : {
    "kidnappersDead" : {
      "default" : {
        "default" : [
          "You saved me! You're my hero!",
          "Is it over? My life was flashing before my eyes!"
        ]
      },
      "human" : {
        "default" : [
          "Don't kill me, I have so much to give... Wait, you're saving me? Thank you!",
          "I'm still alive? You saved my life! Thank you!"
        ]
      },
      "apex" : {
        "default" : [
          "I don't know how I keep getting into situations like that...",
          "Thank you! I don't know where I would be now if you had not come along."
        ]
      },
      "avian" : {
        "default" : [
          "Thank you, I was so scared! My heart is racing!",
          "You saved me! Thank you so much!"
        ]
      },
      "floran" : {
        "default" : [
          "You saved Floran! Floran is relieved!",
          "Floran could have won the fight if Floran had a ssspear, but Floran still appreciates help."
        ]
      },
      "glitch" : {
        "default" : [
          "Grateful. You saved me! My hero!",
          "Relieved. Thank goodness you saved me!"
        ]
      },
      "hylotl" : {
        "default" : [
          "You saved me! I am forever grateful!",
          "Is it.. Is it over? Oh, thank goodness! Thank you, thank you, thank you!"
        ]
      },
      "novakid" : {
        "default" : [
          "I thought that was the end of the line for me!",
          "An' here I was, with my life flashin' before me! I thought I was a goner!"
        ]
      }
    },
    "followHome" : {
      "default" : {
        "default" : [
          "I'm still frightened. Can you take me home to <questGiver>?"
         ]
      },
      "human" : {
        "default" : [
          "Um. I'm still pretty frightened. Can you take me home to <questGiver>?",
          "I'm still pretty shook up - can you take me home to <questGiver>?",
          "Can you take me home to <questGiver>? Just to be on the safe side..."
        ]
      },
      "apex" : {
        "default" : [
          "I am very shaken - Please, would you take back to <questGiver>?",
          "That was most terrifying. Could you take me back to <questGiver>?"
        ]
      },
      "avian" : {
        "default" : [
          "I don't feel safe alone right now. Can you take me home to <questGiver>?",
          "That really ruffled my feathers... Could you take me back to <questGiver>?"
        ]
      },
      "floran" : {
        "default" : [
          "Floran doess not want to be alone. Can you take Floran home to <questGiver>?",
          "Can you take Floran home to <questGiver>? Floran doesn't feel sssafe."
        ]
      },
      "glitch" : {
        "default" : [
          "Terrified. Um, could you take me back to <questGiver>?",
          "Worried. Perhaps you could escort me back to <questGiver>?"
        ]
      },
      "hylotl" : {
        "default" : [
          "Don't leave me! Take me home to <questGiver>.",
          "Can you take me back to <questGiver>? I don't feel confident in myself right now..."
        ]
      },
      "novakid" : {
        "default" : [
          "Could you accompany me back to <questGiver>? I ain't feel too sharp right now...",
          "I still don't know if I can make it back alone. Can you take me back to <questGiver>, partner?"
        ]
      }
    }
  },
  "escort" : {
    "found" : {
      "default" : {
        "default" : [
          "I'm so lost. Can you take me back to <questGiver>?",
          "I... Am very lost right now. Would you be able to take me to <questGiver>?",
          "I didn't intend to get quite this lost! Would you be able to escort me to <questGiver>?"
        ]
      },
      "human" : {
        "default" : [
          "I'm so lost. Can you take me back to <questGiver>?",
          "I am incredibly lost right now. Would you mind taking me to <questGiver>?"
        ]
      },
      "apex" : {
        "default" : [
          "I have no idea where I am. Please take me back to <questGiver>.",
          "I am so lost. Can you take me back to <questGiver>?"
        ]
      },
      "avian" : {
        "default" : [
          "I always thought I had a pretty good sense on direction... I guess not. Would you mind taking me to <questGiver>?",
          "How did I get so lost? Well, I'm glad you found me. Would you take me back to <questGiver>?"
        ]
      },
      "floran" : {
        "default" : [
          "Floran is lossst. Could you help Floran find <questGiver>?",
          "Floran sssomehow got lost... Please take Floran back to <questGiver>?"
        ]
      },
      "glitch" : {
        "default" : [
          "Flustered. I appear to be lost. Help me - take me back to <questGiver>?",
          "Confused. I think I might be lost. Er, can you take me back to <questGiver>?"
        ]
      },
      "hylotl" : {
        "default" : [
          "Oh, could you take me back to <questGiver>? I'm hopelessly lost.",
          "I wondered while I wandered, and so I wandered off... Please, take me back to <questGiver>."
        ]
      },
      "novakid" : {
        "default" : [
          "Howdy there! Could you accompany me on the trail back to <questGiver>? I forgot the way.",
          "My head was in the clouds, an' I forgot the trail I took here. Could you take me bac to <questGiver>, partner?"
        ]
      }
    }
  },
  "barter" : {
    "trade" : {
      "default" : {
        "default" : [
          "Thanks for the goods, here's <questGiver>'s <receivedItems>."
        ]
      },
      "human" : {
        "default" : [
          "Thanks for the goods, here's <questGiver>'s <receivedItems>. Pass on my regards!"
        ]
      },
      "apex" : {
        "default" : [
          "Are you here on behalf of <questGiver>? Here is their <receivedItems>. Thank you for these goods."
        ]
      },
      "avian" : {
        "default" : [
          "Thank you for delivering this. Here's <questGiver>'s <receivedItems>."
        ]
      },
      "floran" : {
        "default" : [
          "Thanksss for the ssstuff, here's <questGiver>'s <receivedItems>."
        ]
      },
      "glitch" : {
        "default" : [
          "Amicable. Thank you for the goods, here's <questGiver>'s <receivedItems>."
        ]
      },
      "hylotl" : {
        "default" : [
          "I'm pleased that we could carry out this transaction - my thanks for the goods. Here is <questGiver>'s <receivedItems>."
        ]
      },
      "novakid" : {
        "default" : [
          "Mighty fine thanks for the goods - Here's <questGiver>'s <receivedItems>."
        ]
      }
    }
  },
  "escort_trade" : {
    "collectDelivery" : {
      "default" : {
        "default" : [
          "Do you have a delivery for me?",
          "Hey, do you have the delivery?"
        ]
      },
      "floran" : {
        "default" : [
          "Do you have a delivery for Floran?"
        ]
      },
      "glitch" : {
        "default" : [
          "Interested. Do you have a delivery for me?"
        ]
      },
      "novakid" : {
        "default" : [
          "Howdy! I suppose you have a deliver for me?"
        ]
      }
    },
    "provideDelivery" : {
      "default" : {
        "default" : [
          "Here's your goods. Enjoy!"
        ]
      },
      "human" : {
        "default" : [
          "Here's your goods. Enjoy!"
        ]
      },
      "apex" : {
        "default" : [
          "This is yours."
        ]
      },
      "avian" : {
        "default" : [
          "Here's your goods. Enjoy!"
        ]
      },
      "floran" : {
        "default" : [
          "Here'sss your stuff. Enjoy!"
        ]
      },
      "glitch" : {
        "default" : [
          "Cheerful. Here are your goods! Enjoy!"
        ]
      },
      "hylotl" : {
        "default" : [
          "Here are your goods, for you to enjoy."
        ]
      },
      "novakid" : {
        "default" : [
          "Here are your goods, partner."
        ]
      }
    }
  },
  "kill_npcs" : {
    "assistantIntro" : {
      "default" : {
        "default" : [
          "Hi! <questGiver> contracted me to help you fight the <enemy>."
        ]
      },
      "human" : {
        "default" : [
          "Hi! <questGiver> contracted me to help you fight the <enemy>.",
          "Hey there! <questGiver> is a friend of mine, and wanted me to help you fight the <enemy>."
        ]
      },
      "apex" : {
        "default" : [
          "Hello. <questGiver> contracted me to help you fight the <enemy>.",
          "Greetings. <questGiver> contracted me to help you fight the <enemy>."
        ]
      },
      "avian" : {
        "default" : [
          "Hi! <questGiver> contracted me to help you fight the <enemy>.",
          "Hello! <questGiver> contracted me to help you fight the <enemy>."
        ]
      },
      "floran" : {
        "default" : [
          "<questGiver> contracted Floran to help you ssstab the <enemy>.",
          "Floran friend of <questGiver>, here to help you fight the <enemy>."
        ]
      },
      "glitch" : {
        "default" : [
          "Amicable. <questGiver> has contracted me to aid you in your battle with the <enemy>!",
          "Friendly. I have been hired by <questGiver> to help you in your quest."
        ]
      },
      "hylotl" : {
        "default" : [
          "Greetings. <questGiver> contracted me to assist you against the <enemy>.",
          "Hello there - we are to battle side-by-side, as <questGiver> requested I help you on your quest."
        ]
      },
      "novakid" : {
        "default" : [
          "Howdy! <questGiver> asked me to meet you here to help fight the <enemy>.",
          "Howdy! My ol' friend <questGiver> asked me to come an' help you fight the <enemy>."
        ]
      }
    }
  },
  "kill_npc" : {
    "surrender" : {
      "default" : {
        "default" : [
          "I surrender! Put away your weapon!",
          "I know when I've been beaten! Put your weapon away, please!",
          "Okay, okay, I surrender! Please, put your weapon away!"
        ]
      },
      "floran" : {
        "default" : [
          "Floran sssurrenders! Put weapon away!",
          "Floran admitsss defeat! Put weapon away!"
        ]
      },
      "glitch" : {
        "default" : [
          "Judicious. I surrender, put away your weapon.",
          "Afraid. I surrender! Please, put away your weapon."
        ]
      }
    },
    "betray" : {
      "default" : {
        "default" : [
          "You fool!",
          "My web of lies has ensnared you!",
          "Haha, I tricked you!",
          "I've rused you!"
        ]
      },
      "apex" : {
        "default" : [
          "You fool!",
          "You're a fool!"
        ]
      },
      "avian" : {
        "default" : [
          "Haha, you've been tricked!"
        ]
      },
      "floran" : {
        "default" : [
          "Floran hasss tricked you!",
          "Floran tricked you!",
          "Why would you do what Floran asked?"
        ]
      },
      "glitch" : {
        "default" : [
          "Mischevious. You fool!",
          "Surprised. You actually fell for that?",
          "Shocked. You actually fell for that?"
        ]
      },
      "hylotl" : {
        "default" : [
          "It is a mistake to trust your enemy!",
          "You are too quick to trust your enemy!"
        ]
      }
    }
  }
}
