{
  "attack" : {
    "default" : {
    	"default" : [
      "The Miniknog is not so easily overcome"
      ]
    },
    "apex" : {
      "default" : [
        "Rebel soldiers are infiltrating! Alert!",
        "Rebel scum!",
        "You will meet a swift end at our hands!",
        "Your uprising will fall, rebel!",
        "Rebels are sneaking in!",
        "Do not think you can defeat us!",
        "I've seen you, rebel!",
        "Perish, vile agitator!",
        "Rebel soldiers, trying to sneak by!",
        "You shall not leave this place alive, rebel scum!",
        "Alert! Rebels trying to sneak by!"
      ]
    }
  }
}