{
  "converse" : {
      "default" : {
          "human" : [
            "Hello there, fellow earthling! Wait, too soon?",
            "You aren't ex-USCM, are you? No? Phew.",
            "Working on a ship can be a tough career, but it did mean I wasn't on Earth when... It happened.",
            "Hey, a visitor? We don't get many visitors way out here! Stay a while!",
            "Do you have your own ship? That's pretty cool!",
            "Wow, I, uh, didn't expect to see anyone new around here.",
            "Did you come all the way out into deep space just to meet us? That's awesome!",
            "You're welcome to stick around for a while, but don't make a mess - I just finished tidying."
          ],
          "default" : [
            "Hey, a visitor? We don't get many visitors way out here! Stay a while!",
            "Do you come in peace?",
            "Do you have your own ship? That's pretty cool!",
            "Wow, I, uh, didn't expect to see anyone new around here.",
            "Did you come all the way out into deep space just to meet us? That's awesome!",
            "You're welcome to stick around for a while, but don't make a mess - I just finished tidying."
          ]
        },
        "apex" : {
          "apex" : [
            "Greetings, fellow Apex! I hope you have also escaped the gaze of the Miniknog.",
            "You aren't an undercover Miniknog inspector, are you?",
            "A life on a spacefaring vessel is a better life than oppression under the rule of Big Ape.",
            "I would rather be here maintaining cargo than on my home planet, living under the rule of the Miniknog.",
            "I'm trying to live a quiet life - maybe this way the Miniknog won't track me down.",
            "It is difficult to maintain a beard when you spend so long maintaining a spaceship."
          ],
          "default" : [
            "Are you a member of the Terrene Protectorate? We used to deliver shipments for them, until... Recently.",
            "A life on a spacefaring vessel is a better life than oppression under the rule of Big Ape.",
            "I would rather be here maintaining cargo than on my home planet, living under the rule of the Miniknog.",
            "I'm trying to live a quiet life - maybe this way the Miniknog won't track me down.",
            "It is difficult to maintain a beard when you spend so long maintaining a spaceship."
          ]
        },
        "hylotl" : {
          "hylotl" : [
            "It is always calming to see a friendly, three-eyed face. Make yourself at home.",
            "I will always be welcoming to one of my own kind.",
            "Maintaining the integrity of the hull is an important priority aboard this ship.",
            "Sailing through the stars makes me feel like a fish swimming through a vast, endless ocean.",
            "When you fly your ship out into the great unknown... There is no feeling like it, is there?",
            "Alone among stars.\nIn a sea of endless night.\nTogether we sail.",
            "What do you think waits for us, out there in the stars?"
          ],
          "default" : [
            "Maintaining the integrity of the hull is an important priority aboard this ship.",
            "Sailing through the stars makes me feel like a fish swimming through a vast, endless ocean.",
            "When you fly your ship out into the great unknown... There is no feeling like it, is there?",
            "Alone among stars.\nIn a sea of endless night.\nTogether we sail.",
            "What do you think waits for us, out there in the stars?"
          ]
        },
        "floran" : {
          "floran" : [
            "Another Floran friend for Floran! Ssspace gets lonely, Floran should ssstay!",
            "Floran likesss new Floransss!",
            "Floran hasss steady job on ship! Floran jussst has to not eat anyone.",
            "Floran secretly afraid of heights. Ship isss ssscary.",
            "Floran doesssn't get to hunt much in ssspace. Sssad.",
            "Did you come jussst to say hi to Floran?",
            "Floran not made for ssspace travel. Floran always feeling sssick."
          ],
          "default" : [
            "Floran hasss steady job on ship! Floran jussst has to not eat anyone.",
            "Floran secretly afraid of heights. Ship isss ssscary.",
            "Floran doesssn't get to hunt much in ssspace. Sssad.",
            "Did you come jussst to say hi to Floran?",
            "Floran not made for ssspace travel. Floran always feeling sssick."
          ]
        },
        "glitch" : {
          "glitch" : [
            "Surprised. A fellow Glitch! My name is <selfname> - it's a pleasure to make your acquaintance.",
            "Welcoming. Visitors here are rare, and fellow Glitch visitors are even rarer!",
            "Pleased. The low-moisture atmosphere on board this ship is good for preventing rust.",
            "Bored. Maintaining a spaceship is mind-numbing work - I want to play a game of clunkey jacks!",
            "Exhausted. I think I frayed a few wires after moving heavy cargo around...",
            "Overwhelmed. I didn't know space travel even existed for many years. Isn't it exciting?",
            "Eager. We don't get visitors often! Are you staying for long?"

          ],
          "default" : [
            "Pleased. The low-moisture atmosphere on board this ship is good for preventing rust.",
            "Bored. Maintaining a spaceship is mind-numbing work - I want to play a game of chess!",
            "Exhausted. I think I frayed a few wires after moving heavy cargo around...",
            "Overwhelmed. I didn't know space travel even existed for many years. Isn't it exciting?",
            "Eager. We don't get visitors often! Are you staying for long?"
          ]
        },
        "avian" : {
          "avian" : [
            "A fellow Avian! Hopefully the influence of the Stargazers does not spread this far...",
            "Hello, my equally-feathered friend!",
            "Welcome to our humble spacefaring vessel!",
            "Welcome, stranger! How kind of you to visit.",
            "I think I got liquid Erchius in my feathers after refueling the ship earlier... This will stain.",
            "My name is <selfname>. Are you visiting us for long?",
            "A visitor? I hope you've been screened for space parasites."
          ],
          "default" : [
            "Welcome to our humble spacefaring vessel!",
            "Welcome, stranger! How kind of you to visit.",
            "I think I got liquid Erchius in my feathers after refueling the ship earlier... This will stain.",
            "My name is <selfname>. Are you visiting us for long?",
            "A visitor? I hope you've been screened for space parasites."
          ]
        },
        "novakid" : {
          "novakid" : [
            "Hey, another shinin' face! Do you get them strange dreams about the stars as well, stranger?",
            "I ain't think I was expectin' a new face up here on this ol' ship! Welcome, partner!",
            "Welcome to our ol' rust bucket of a ship!",
            "You here for a bit o' tradin', or just comin' to see what all the fuss is about?",
            "Howdy there, partner! The name's <selfname>, pleasure t' make your acquaintance.",
            "Gettin' closer to the stars makes me sleep better. No idea why, though...",
            "You ever get the feelin' you were meant for somethin' bigger?"
          ],
          "default" : [
            "I ain't think I was expectin' a new face up here on this ol' ship! Welcome, partner!",
            "Welcome to our ol' rust bucket of a ship!",
            "You here for a bit o' tradin', or just comin' to see what all the fuss is about?",
            "Howdy there, partner! The name's <selfname>, pleasure t' make your acquaintance.",
            "Gettin' closer to the stars makes me sleep better. No idea why, though...",
            "You ever get the feelin' you were meant for somethin' bigger?"
          ]
        },
        "penguin" : {
          "default" : [
            "Hey there, fella! How do you like our ship?",
            "Well it's a lucky thing here that you fit on our ship, huh?",
            "I can't chat for too long - this bird's gotta grease some axels to keep us all afloat!",
            "This sure is the gig of a lifetime. A ship full of fine feathered folks like myself, and all the loot to boot!",
            "You got that look in your eye like you're about to loot all our crates. Don't worry pal, I won't snitch.",
            "You lookin' for friends? Nah, the glint in your eye says you're just here for some loot.",
            "Hey, how'd you even fly out here? You got one of them space mechs?",
            "Don't bump your head on the ceiling, pal!",
            "I got some pals lookin' for mercenary work. You should get yourself some dubloons!",
            "You come here in a mech? I think we have some mech part blueprints on this ship, now I think about it...",
            "What's with all those angry asteroid lookin' things flyin' around? Things sure ain't how they used to be.",
            "Don't think just 'cause you're taller than me that you got the drop on me!",
            "They call me <selfname>. The name runs in the family.",
            "Bein' part of the crew of a cargo ship means there's a lot of liftin' to do. My flippers are tired already!",
            "Hey there, ol' buddy ol' pal! ...We haven't met before, have we?"
          ]
        }
  }
}