{
  "accuse" : {
    "default" : {
      "default" : [
        "No thief habito shroom!",
        "Thief weepa no hoom shroom!",
        "Halhoom no thief smashroom!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Smashroom thief! Smash!",
        "Thief weepa!",
        "Smashroom thief!"
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "Hoom! Feesle the mushroom habito!"
      ]
    },
    "floran" : {
      "default" : [
        "Hoom! Feesle the mushroom habito!"
      ],
      "human" : [
        "Hoom! Meat habble person nab fry!",
        "Hoom meat. Seemo bizarra stamper!",
        "Halhoom smooth! Chop deka halberdeen cartography!",
        "Hoomah! Mesti hop smashroom danger!",
        "Hoom! Halhoom!",
        "Halmarr, spike circular deka bizarra!",
        "Meat hoom! Enjoy house choka smashroom?",
        "Halhalhoom! Tentacrush weepa no meat."
      ],
      "avian" : [
        "Hoom flap! Bizarra no Kluex fry!",
        "Halhoom sillypeck. Choka smashroom nab house.",
        "Halhalhoom, weepa cantara swoop nab cloudchaser.",
        "Hoomay, flap! Halberdeen habble fluffy peck. Shree!",
        "Haba hoom, sillyflap! Hehehe! swoop bizarra!",
        "Hoom! Hoom hoom! Chop smashroom nab peace kisser!",
        "Hoom habba flap flap, deka nab peck?",
        "Hoom? Scratchy mesti cuddle?"
      ],
      "floran" : [
        "Hoom! Hoom hoom shroom! Plant naturra kissface!",
        "Halhoom! Nab feara deka plant!",
        "Hoom. Halb weepa nab smashroom.",
        "Kissface plant! Nab halb squishfish! Hahahahahaha!",
        "Halhalhalhoom, carpa house fry plant! Seemingly.",
        "Habahoom squishfish, nab oaken smashroom cantaloupe!",
        "Plant hoom! Kissface chop growa, halb!?",
        "Hoom. Hoom plant. Nabi spike cutshroom, plesta?"
      ],
      "apex" : [
        "Hoom. Plesta mesti hairthing.",
        "Humfah. Hairthing chop nab feara.",
        "Hoom! Nab chop Giant Hairthing. Weepa?",
        "Halhoom, hairthing. Nab smashroom, plesta.",
        "Hoom. Hairthing hairface carpa woodshroom.",
        "Plesti cantara, shroomy workest!",
        "Hoom. Mesti nab chop hairthing. Halhoom!",
        "Hoom! Hop chop, hairthing! Halb squishfish?"
      ],
      "hylotl" : [
        "Huh huh hoom? Squishfish...",
        "Nab! Nab!",
        "Nab halb smashroom, squishfish! Cantara nab house, chop!",
        "Kissface plant nab cutshroom, squishfish. Threaten!",
        "Squeak. Hoom nab.",
        "Hoom. Mesti nab disbravada, squishfish.",
        "Nabnabnabnabnabnab.",
        "Nab house, squishfish! Nab nab nab."
      ],
      "glitch" : [
        "Hoom, clankbeast. Habba nab cartography spaceshroom.",
        "Halhoom, okay. Nab chop weepa, deka hairthing? Flap?",
        "Halhalhoom. Smashroom nab plant?",
        "Hurm. Hoom. Clankbeast house fry, shroomy halb.",
        "Clankbeast! Chop carpa, cantara.",
        "Hoom clankbeast. Halb plesti cantara, nab?",
        "Hoom. Shroomy nab clankbeast feara. Mesti bravada!",
        "Hoom. Clankbeast halb mesti, deka plant?"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "No shopshroom chop!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Chop!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Chop no shopshroom! Chop!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Halhoom megaclinker!",
        "Halhalhoom!"
      ]
    }
  },
  "start" : {
    "default" : {
      "default" : [
        "Hoom! Exchanga habble pixels! Clink clink!",
        "Hoom clinker. Habba shopshroom deka plesta?",
        "Halhoom megaclinker. Habba chop chop workest!"
      ],
      "floran" : [
        "Halhalhoom, plant! Exchanga habble pixels! Chop clink!",
        "Hoom, nab feara plant! Habble pixels, mesta clink clink.",
        "Hoom. Plant clinker habba shopshroom plesta?"
      ],
      "hylotl" : [
        "Hum. Hoom. Squishfish nab feara halb clink.",
        "Squishfish. Mesta nab tetrana chop clinker.",
        "Hoom, squishfish. Nab smashroom habba clinker house. Okay?"
      ]
    }
  },
  "end" : {
    "default" : {
      "default" : [
        "Foom. Clink remore!",
        "Fanfoom! Habba clink okay.",
        "Foomfoom. Clink nab feara pixels!",
        "Foom! Clink mesta plesta!"
      ]
    }
  },
  "follow" : {
    "default" : {
      "default" : [
        "Nay halhoom clink! Come!",
        "Nab clink, come hoom shropshroom!"
      ]
    }
  },
  "welcome" : {
    "default" : {
      "default" : [
        "Halhalhoom, clinker! Exchanga habble pixels! Chop clink!",
        "Halhoom megaclinker. Habba chop chop workest!"
      ]
    }
  },
  "tout" : {
    "default" : {
      "default" : [
        "Clink!",
        "Chop workest!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "No shroom habba homshroom?"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Nay homshroom fix!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Nay shropshroom mesta shropshroom!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Nay clink! Nay plesta!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Nay foom, nuva shropshroom nay!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Clink?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Foomfoom plesta shropshroom!"
      ]
    }
  }
}