{
  "attack" : {
    "default" : {
      "default" : [
        "Outsider!"
      ]
    },
    "novakid" : {
      "default" : [
        "Target practice!",
        "I'm gonna fill you fulla holes!",
        "Eat lead!",
        "Why can't my gun hold more bullets?",
        "Pew pew pew!",
        "I want a bigger gun!",
        "Get back here! I wanna shoot you!",
        "Travellers are perfect target practice!",
        "Die faster, I'm getting bored.",
        "Bang bang bang!",
        "You're gonna have more holes than a colander when I'm through!",
        "Argh! I want a bigger gun!",
        "I'm gonna explode you!",
        "Finally, something to shoot!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran shoot outsssider!",
        "You can't escape!",
        "Floran fill you with holesss!",
        "Stranger not fast enough to outrun bulletss!",
        "You can't hide from Floran! Floran hunt you down!",
        "Outsssider!",
        "Floran kill outsssider!",
        "You won't sssurvive! Floran won't let you!"
      ]
    }
  }
}