{
  "converse" : {
    "default" : {
      "default" : [
        "I must hone my fighting skills every week... No, every DAY!",
        "I must philosophise twice a day about the true nature of battle. It's the best way to stay strong.",
        "I cannot sleep if I know there is injustice occuring somewhere in the universe. I... Never sleep.",
        "A warrior is no warrior at all without a memorable battle cry. Always remember this."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "This is... A REMATCH!",
        "This time, our duel shall not... BE DELAYED!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "BATTLE... BREAK! FOR GREAT JUSTICE!",
        "Let's fight together... FOR JUSTICE!",
        "With our power combined, no force can stop us!",
        "Imperial STRENGTH!",
        "You shall be BANISHED! POWER OF THE JUSTICE BLADE!",
        "BATTLE CRY!",
        "INFINITE BLADE BREAK!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "You cannot defeat the true heart of justice!",
        "Friendshiip prevails once more!",
        "Justice and friendships are forces, like gravity! You can't defeat them, OR gravity!"
      ]
    }
  }
}