{
  "accuse" : {
    "default" : {
      "default" : [
        "Hey, that doesn't belong to you!"
      ]
    },
    "apex" : {
      "default" : [
        "You know, the consequences for stealing are quite severe.",
        "How can you justify this thievery?",
        "Why are you taking things that aren't yours?",
        "Stop that! Why are you stealing these things!?",
        "These things don't belong to you!"
      ]
    },
    "avian" : {
      "default" : [
        "Hey, that doesn't belong to you!",
        "Will you really be able to enjoy something if you acquired it by theft?",
        "Please don't take things from us.",
        "That's not yours!",
        "Stealing isn't a victimless crime you know."
      ]
    },
    "floran" : {
      "default" : [
        "Ssstop stealing Floran's stuff!",
        "That isn't yoursss!",
        "Floran won't put up with sstealing!",
        "Floran iss not impressed! Stop stealing!",
        "Bad sstranger! Stealing will be punished!"
      ]
    },
    "human" : {
      "default" : [
        "Hey! That stuff doesn't belong to you!",
        "What're you playing at? You can't go about stealing!",
        "What!? What are you doing!? That's theft!",
        "Woa woa woa, who told you you could take that?",
        "That's not okay! Stop stealing!!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Please cease this thievery at once!",
        "It's wrong to take what is not yours!",
        "Shame on you, these items are not yours to take!",
        "This thievery is an indictment of your character.",
        "I plead with you to desist, please stop stealing from us!"
      ]
    },
    "glitch" : {
      "default" : [
        "Aghast. You are stealing!",
        "Angry. You are taking things that aren't yours!",
        "Disappointed. I assumed you were a nice person, not a thief.",
        "Bewildered. Those aren't yours, why are you taking them?",
        "Appalled. A thief!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Guards! There is a criminal here!"
        
      ]
    },
    "avian" : {
      "default" : [
        "Guards! Stop this criminal!",
        "You're a thief! Guards, come quickly!",
        "The guards will stop your thievery!",
        "Guards! Catch this thief!",
        "Stop stealing! Guards, help!"
      ]
    },
    "apex" : {
      "default" : [
        "Guards! There is a criminal here!",
        "Thievery! Guards!",
        "I will not suffer a crook! Guards!",
        "Things are being stolen! Guards, come quickly!",
        "You must stop taking things! Guards!"
      ]
    },
    "human" : {
      "default" : [
        "Stop pilfering! Guards, help!",
        "Guards! Catch this terrible robber!",
        "Ah! Guards, catch that thief!",
        "Oh no, oh no! A Robber! Guards!",
        "Guards, capture this criminal!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Guards! There is a criminal here!",
        "Burglar! Crook! Thief! Guards, I need you!",
        "Larceny! Guards, help!",
        "This will not be endured! Guards, catch this thief!",
        "Guards, capture this miscreant!"
      ]
    },
    "floran" : {
      "default" : [
        "Guardsss! Floran found a thief!",
        "The guards will hunt you down for thiss!",
        "You are a criminal! Guardsss!",
        "Floran won't let you get away with thiss! Guardsss!",
        "That'ss it - Floran's telling guards on you!"
      ]
    },
    "glitch" : {
      "default" : [
        "Incensed. Guards, seize this criminal!",
        "Panicked. Guards, guards! A thief!",
        "Indignant. How can you do this!? Guards, help!",
        "Irate. You thieving scoundrel! Guards!",
        "Enraged. Stop this thievery! Guards, help me!"
      ]
    }
  }
}
