{
  "actionBarSelectOffset" : [-1, -1],
  "countMidAnchor" : [10, -6],
  "linkCursor" : "/cursors/link.cursor",

  "sounds" : {
    "switch" : [
      "/sfx/interface/actionbar_select.ogg"
    ]
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "CenterTop"
    },

    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/actionbar/actionbarbg.png",
      "fileFooter" : ""
    },

    "customBar1L" : {
      "type" : "itemslot",
      "position" : [14, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar1LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [14, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar1R" : {
      "type" : "itemslot",
      "position" : [31, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar1ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [31, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar2L" : {
      "type" : "itemslot",
      "position" : [57, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar2LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [57, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar2R" : {
      "type" : "itemslot",
      "position" : [74, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar2ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [74, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar3L" : {
      "type" : "itemslot",
      "position" : [100, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar3LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [100, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar3R" : {
      "type" : "itemslot",
      "position" : [117, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar3ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [117, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar4L" : {
      "type" : "itemslot",
      "position" : [227, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar4LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [227, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar4R" : {
      "type" : "itemslot",
      "position" : [244, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar4ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [244, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar5L" : {
      "type" : "itemslot",
      "position" : [270, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar5LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [270, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar5R" : {
      "type" : "itemslot",
      "position" : [287, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar5ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [287, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar6L" : {
      "type" : "itemslot",
      "position" : [313, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar6LOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [313, 6],
      "visible" : false,
      "zlevel" : 2
    },
    "customBar6R" : {
      "type" : "itemslot",
      "position" : [330, 6],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "customBar6ROverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbaroverlay.png",
      "position" : [330, 6],
      "visible" : false,
      "zlevel" : 2
    },

    "customSelect" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-custom.png",
      "position" : [-20, -20]
    },

    "essentialBar1" : {
      "type" : "itemslot",
      "position" : [144, 3],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2
    },
    "essentialBar2" : {
      "type" : "itemslot",
      "position" : [163, 3],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2
    },
    "essentialBar3" : {
      "type" : "itemslot",
      "position" : [182, 3],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2
    },
    "essentialBar4" : {
      "type" : "itemslot",
      "position" : [201, 3],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "rightClickCallback" : "null",
      "zlevel" : 2
    },

    "essentialSelect" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-essential.png",
      "visible" : false
    },

    "pickupToActionBar" : {
      "type" : "button",
      "position" : [349, 14],
      "base" : "/interface/actionbar/actionbarpickup.png:unchecked",
      "baseImageChecked" : "/interface/actionbar/actionbarpickup.png:checked",
      "checkable" : true
    },

    "swapCustomBar" : {
      "type" : "button",
      "position" : [4, 18],
      "base" : "/interface/actionbar/swapcustombarone.png",
      "baseImageChecked" : "/interface/actionbar/swapcustombartwo.png",
      "checkable" : true
    }
  }
}
