{
  "paneLayout" : "/interface/windowconfig/warpout.config:paneLayout",

  "title" : "Exit Mission",
  "subtitle" : "Teleport back to your ship",
  "icon" : "/interface/warning.png",
  "message" : "Leaving this mission will reset your progress for this area. Are you sure you want to teleport?",
  "okCaption" : "Okay",
  "cancelCaption" : "Cancel"
}