{
  "background" : {
    "type" : "background",
    "fileHeader" : "",
    "fileBody" : "/interface/title/charselectionbackground.png",
    "fileFooter" : ""
  },

  "bgShine" : {
    "type" : "image",
    "file" : "/interface/title/shine.png",
    "position" : [0, 0],
    "zlevel" : -10
  },

  "playerDownButton" : {
    "type" : "button",
    "base" : "/interface/title/chardown.png",
    "position" : [110, 27],
    "pressedOffset" : [0, 0]
  },

  "playerUpButton" : {
    "type" : "button",
    "base" : "/interface/title/charup.png",
    "position" : [110, 241],
    "pressedOffset" : [0, 0]
  },

  "charSelector1" : {
    "type" : "largeCharPlate",
    "position" : [23, 194]
  },

  "charSelector2" : {
    "type" : "largeCharPlate",
    "position" : [23, 144]
  },

  "charSelector3" : {
    "type" : "largeCharPlate",
    "position" : [23, 94]
  },

  "charSelector4" : {
    "type" : "largeCharPlate",
    "position" : [23, 44]
  }
}
