{
  "speciesOrdering" : ["human", "avian", "apex", "floran", "hylotl", "glitch", "novakid"],
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/title/charactercreation.png",
      "fileFooter" : "/interface/title/charactercreationfooter.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/title/charactercreationshine.png",
      "position" : [18, 0],
      "zlevel" : -10
    },
    "labelSpeciesRadio" : {
      "type" : "label",
      "position" : [69, 309],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;SPECIES"
    },
    "labelGender" : {
      "type" : "label",
      "position" : [69, 241],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;GENDER"
    },
    "labelCustomise" : {
      "type" : "label",
      "position" : [119, 201],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;CUSTOMISE"
    },
    "labelName" : {
      "type" : "label",
      "position" : [119, 125],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;NAME"
    },
    "labelDifficulty" : {
      "type" : "label",
      "position" : [119, 97],
      "hAnchor" : "mid",
      "value" : "^#8d8d8d;DIFFICULTY"
    },
    "labelRandomise" : {
      "type" : "label",
      "position" : [159, 230],
      "hAnchor" : "mid",
      "value" : "RANDOMISE:"
    },
    "labelToggleClothing" : {
      "type" : "label",
      "position" : [171, 215],
      "hAnchor" : "mid",
      "value" : "Show clothing"
    },
    "btnToggleClothing" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [130, 215],
      "callback" : "toggleClothing"
    },
    "labelPortrait" : {
      "type" : "label",
      "position" : [168, 309],
      "hAnchor" : "mid",
      "value" : "HUMAN",
      "color" : [141, 141, 141]
    },
    "labelMainSkinColor" : {
      "type" : "label",
      "position" : [27, 188],
      "hAnchor" : "left"
    },
    "mainSkinColor" : {
      "type" : "spinner",
      "position" : [93, 188],
      "zlevel" : 1
    },
    "labelHairStyle" : {
      "type" : "label",
      "position" : [27, 176],
      "hAnchor" : "left"
    },
    "hairStyle" : {
      "type" : "spinner",
      "position" : [93, 176],
      "zlevel" : 1
    },
    "labelShirt" : {
      "type" : "label",
      "position" : [27, 164],
      "hAnchor" : "left"
    },
    "shirt" : {
      "type" : "spinner",
      "position" : [93, 164],
      "zlevel" : 1
    },
    "labelPants" : {
      "type" : "label",
      "position" : [27, 152],
      "hAnchor" : "left"
    },
    "pants" : {
      "type" : "spinner",
      "position" : [93, 152],
      "zlevel" : 1
    },
    "labelPersonality" : {
      "type" : "label",
      "position" : [27, 139],
      "hAnchor" : "left"
    },
    "personality" : {
      "type" : "spinner",
      "position" : [93, 139],
      "zlevel" : 1
    },
    "labelAlty" : {
      "type" : "label",
      "position" : [125, 188],
      "hAnchor" : "left"
    },
    "alty" : {
      "type" : "spinner",
      "position" : [192, 188],
      "zlevel" : 1
    },
    "labelHeady" : {
      "type" : "label",
      "position" : [125, 176],
      "hAnchor" : "left"
    },
    "heady" : {
      "type" : "spinner",
      "position" : [192, 176],
      "zlevel" : 1
    },
    "labelShirtColor" : {
      "type" : "label",
      "position" : [125, 164],
      "hAnchor" : "left"
    },
    "shirtColor" : {
      "type" : "spinner",
      "position" : [192, 164],
      "zlevel" : 1
    },
    "labelPantsColor" : {
      "type" : "label",
      "position" : [125, 152],
      "hAnchor" : "left"
    },
    "pantsColor" : {
      "type" : "spinner",
      "position" : [192, 152],
      "zlevel" : 1
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [188, 226]
    },
    "randomName" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [165, 110]
    },
    "saveChar" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [137, 30],
      "caption" : "Done"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [50, 30],
      "caption" : "Cancel"
    },
    "species" : {
      "type" : "radioGroup",
      "position" : [28, 279],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "position" : [-5, 0]
        },
        {
          "id" : 1,
          "image" : "",
          "position" : [17, 0]
        },
        {
          "id" : 2,
          "image" : "",
          "position" : [39, 0]
        },
        {
          "id" : 3,
          "image" : "",
          "position" : [61, 0]
        },
        {
          "id" : 4,
          "image" : "",
          "position" : [5, -26]
        },
        {
          "id" : 5,
          "image" : "",
          "position" : [27, -26]
        },
       {
          "id" : 6,
          "image" : "",
          "position" : [49, -26]
        }
      ]
    },
    "gender" : {
      "type" : "radioGroup",
      "position" : [39, 183],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/male.png",
          "position" : [6, 32]
        },
        {
          "id" : 1,
          "image" : "/interface/title/female.png",
          "selected" : true,
          "position" : [28, 32]
        }
      ]
    },
    "labelMode" : {
      "type" : "label",
      "position" : [120, 70],
      "hAnchor" : "mid",
      "zlevel" : 1
    },
    "labelCasualMode" : {
      "type" : "label",
      "position" : [41, 85],
      "zlevel" : 1,
      "value" : "CASUAL"
    },
    "labelSurvivalMode" : {
      "type" : "label",
      "position" : [105, 85],
      "zlevel" : 1,
      "value" : "SURVIVAL"
    },
    "labelHardcoreMode" : {
      "type" : "label",
      "position" : [169, 85],
      "zlevel" : 1,
      "value" : "HARDCORE"
    },
    "mode" : {
      "type" : "radioGroup",
      "position" : [47, 85],

      "baseImage" : "/interface/title/checkboxnocheck.png",
      "hoverImage" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "",
          "text" : "",
          "position" : [-17, 0],
          "data" : {
            "description" : "No need to eat and no death penalties."
          }
        },
        {
          "id" : 1,
          "image" : "",
          "text" : "",
          "selected" : true,
          "position" : [47, 0],
          "data" : {
            "description" : "Eat to survive, drop items on death."
          }
        },
        {
          "id" : 2,
          "image" : "",
          "text" : "",
          "position" : [111, 0],
          "data" : {
            "description" : "When you die your character stays dead!"
          }
        }
      ]
    },
    "charPreview" : {
      "type" : "portrait",
      "position" : [167, 278],
      "scale" : 1.5
    },
    "name" : {
      "type" : "textbox",
      "regex" : "[a-zA-Z0-9 '-]{0,16}",
      "position" : [62, 114],
      "hint" : "Name",
      "maxWidth" : 120,
      "enterKey" : "saveChar",
      "escapeKey" : "cancel",
      "focus" : true
    },
    "btnSkipIntro" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false,
      "position" : [78, 54],
      "callback" : "null"
    },
    "lblSkipIntro" : {
      "type" : "label",
      "position" : [90, 54],
      "hAnchor" : "left",
      "value" : "Skip intro mission",
      "color" : [190, 190, 190]
    }
  }
}
