{
  "selectText" : "Choose <species> Codex",

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/codex/header.png",
      "fileBody" : "/interface/codex/body_blank.png",
      "fileFooter" : "/interface/codex/footer.png"
    },
    "speciesTabs" : {
      "type" : "radioGroup",
      "callback" : "updateSpecies",
      "zlevel" : 2,
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 183],
          "baseImage" : "/interface/codex/tab_apex.png",
          "baseImageChecked" : "/interface/codex/tab_apex_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "apex"
          }
        },
        {
          "position" : [4, 158],
          "baseImage" : "/interface/codex/tab_avian.png",
          "baseImageChecked" : "/interface/codex/tab_avian_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "avian"
          }
        },
        {
          "position" : [4, 133],
          "baseImage" : "/interface/codex/tab_floran.png",
          "baseImageChecked" : "/interface/codex/tab_floran_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "floran"
          }
        },
        {
          "position" : [4, 108],
          "baseImage" : "/interface/codex/tab_glitch.png",
          "baseImageChecked" : "/interface/codex/tab_glitch_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "glitch"
          }
        },
        {
          "position" : [4, 83],
          "baseImage" : "/interface/codex/tab_human.png",
          "baseImageChecked" : "/interface/codex/tab_human_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "human"
          }
        },
        {
          "position" : [4, 58],
          "baseImage" : "/interface/codex/tab_hylotl.png",
          "baseImageChecked" : "/interface/codex/tab_hylotl_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "hylotl"
          }
        },
        {
          "position" : [4, 33],
          "baseImage" : "/interface/codex/tab_other.png",
          "baseImageChecked" : "/interface/codex/tab_other_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "species" : "other"
          }
        }
      ]
    },
    "selectLabel" : {
      "type" : "label",
      "position" : [118, 208],
      "hAnchor" : "mid",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [370, 227]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Codex Library",
      "subtitle" : "^#b9b5b2;Books found on your travels ^green;[L]",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/codex/iconBook.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/codex/shine.png",
      "position" : [1, 10],
      "zlevel" : 6,
      "mouseTransparent" : true
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/codex/scrollbg.png",
      "position" : [29, 25],
      "zlevel" : -5
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [33, 35, 205, 205],
      "children" : {
        "bookList" : {
          "type" : "list",
          "callback" : "selectCodex",
          "position" : [1, -1],
          "schema" : {
            "selectedBG" : "/interface/codex/booktitle_selected.png",
            "unselectedBG" : "/interface/codex/booktitle_bg.png",
            "spacing" : [0, 0],
            "memberSize" : [162, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/codex/booktitle_bg.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "bookIcon" : {
                "type" : "image",
                "file" : "",
                "position" : [2, 2],
                "zlevel" : 1
              },
              "bookName" : {
                "type" : "label",
                "position" : [22, 10],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "wrapWidth" : 140,
                "value" : ""
              }
            }
          }
        }
      }
    },
    "browseBG" : {
      "type" : "image",
      "file" : "/interface/codex/browsebg.png",
      "position" : [207, 9],
      "zlevel" : -5
    },
    "titleLabel" : {
      "type" : "label",
      "position" : [296, 208],
      "hAnchor" : "mid",
      "value" : ""
    },
    "pageText" : {
      "type" : "label",
      "position" : [214, 202],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 160,
      "value" : ""
    },
    "pageNum" : {
      "type" : "label",
      "position" : [293, 26],
      "hAnchor" : "mid",
      "value" : "0 of 0"
    },
    "pageLabel" : {
      "type" : "label",
      "position" : [293, 35],
      "hAnchor" : "mid",
      "value" : "Page"
    },
    "prevButton" : {
      "type" : "button",
      "caption" : "< Previous",
      "base" : "/interface/codex/readSelected.png",
      "hover" : "/interface/codex/readSelected-hover.png",
      "position" : [210, 28]
    },
    "nextButton" : {
      "type" : "button",
      "caption" : "Next >",
      "textAlign" : "center",
      "base" : "/interface/codex/readSelected.png",
      "hover" : "/interface/codex/readSelected-hover.png",
      "position" : [322, 28]
    }
  }
}
