{
  "background" : {
    "type" : "background",
    "fileHeader" : "/interface/title/delete/header.png",
    "fileBody" : "/interface/title/delete/body.png",
    "fileFooter" : "/interface/title/delete/footer.png"
  },

  "areYouSure" : {
    "type" : "label",
    "position" : [102, 44],
    "hAnchor" : "mid",
    "value" : "Are you sure you want\nto delete your character?"
  },

  "delete" : {
    "type" : "button",
    "caption" : "Delete",
    "base" : "/interface/title/delete/delete.png",
    "down" : "/interface/title/delete/deleteDown.png",
    "position" : [22, 26],
    "pressedOffset" : [2, -2]
  },

  "cancel" : {
    "type" : "button",
    "caption" : "Cancel",
    "base" : "/interface/title/delete/cancel.png",
    "down" : "/interface/title/delete/cancelDown.png",
    "position" : [108, 26],
    "pressedOffset" : [2, -2]
  }
}
