{
  "backdropImages" : [
    [ [0, -30], "/interface/title/blackbar.png", 0.5],
    [ [0, 10], "/interface/title/firstlogo.png", 0.5]
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "positionLocked" : true,
      "anchor" : "Center"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/errorpopup/header.png",
      "fileBody" : "/interface/errorpopup/body.png",
      "fileFooter" : "/interface/errorpopup/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/errorpopup/erroricon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/errorpopup/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "btnOk" : {
      "type" : "button",
      "base" : "/interface/errorpopup/acceptUp.png",
      "hover" : "/interface/errorpopup/acceptOver.png",
      "position" : [110, 38],
      "caption" : "Okay"
    },
    "labelError" : {
      "type" : "label",
      "position" : [140, 105],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 180,
      "lineSpacing" : 1.0,
      "value" : "Error occured",
      "color" : [255,255,255]
    }
  }
}
