{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
        "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/graphicsmenu/header.png",
      "fileBody" : "/interface/graphicsmenu/body.png",
      "fileFooter" : "/interface/graphicsmenu/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/graphicsmenu/shine.png",
      "position" : [16, 8],
      "zlevel" : 1
    },
    "title" : {
      "type" : "label",
      "position" : [119, 170],
      "hAnchor" : "mid",
      "fontSize" : 16,
      "value" : "GRAPHICS"
    },
    "accept" : {
      "type" : "button",
      "position" : [141, 26],
      "caption" : "Apply",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "cancel" : {
      "type" : "button",
      "position" : [42, 26],
      "caption" : "Back",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "fullscreenLabel" : {
      "type" : "label",
      "position" : [123, 84],
      "hAnchor" : "left",
      "value" : "FULLSCREEN"
    },
    "fullscreenCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [203, 84],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false
    },
    "borderlessLabel" : {
      "type" : "label",
      "position" : [123, 73],
      "hAnchor" : "left",
      "value" : "BORDERLESS WINDOW"
    },
    "borderlessCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [203, 73],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false
    },
    "monochromeLabel" : {
      "type" : "label",
      "position" : [123, 62],
      "hAnchor" : "left",
      "value" : "MONOCHROME LIGHTS"
    },
    "monochromeCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [203, 62],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false
    },
    "interactiveHighlightLabel" : {
      "type" : "label",
      "position" : [25, 73],
      "hAnchor" : "left",
      "value" : "TARGET HIGHLIGHT"
    },
    "interactiveHighlightCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [104, 73],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "speechBubbleLabel" : {
      "type" : "label",
      "position" : [25, 84],
      "hAnchor" : "left",
      "value" : "SPEECH BUBBLES"
    },
    "speechBubbleCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [104, 84],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "textureLimitLabel" : {
      "type" : "label",
      "position" : [25, 62],
      "hAnchor" : "left",
      "value" : "TEXTURE LIMIT"
    },
    "textureLimitCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [104, 62],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "resLabel" : {
      "type" : "label",
      "position" : [119, 154],
      "hAnchor" : "mid",
      "value" : "FULLSCREEN RESOLUTION"
    },
    "resValueLabel" : {
      "type" : "label",
      "position" : [119, 125],
      "hAnchor" : "mid",
      "value" : "Replace Me"
    },
    "zoomLabel" : {
      "type" : "label",
      "position" : [70, 112],
      "hAnchor" : "mid",
      "value" : "ZOOM LEVEL"
    },
    "zoomValueLabel" : {
      "type" : "label",
      "position" : [102, 99],
      "hAnchor" : "mid",
      "value" : "Replace Me"
    },
    "resSlider" : {
      "type" : "slider",
      "position" : [62, 138],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "zoomSlider" : {
      "type" : "slider",
      "position" : [26, 98],
      "gridImage" : "/interface/optionsmenu/smallselection.png"
    }
  },

  "resolutionList" : [
    [832, 624],
    [960, 640],
    [960, 720],
    [1024, 640],
    [1024, 600],
    [1024, 768],
    [1024, 800],
    [1024, 1024],
    [1120, 832],
    [1136, 640],
    [1152, 720],
    [1152, 768],
    [1152, 864],
    [1152, 900],
    [1280, 720],
    [1280, 768],
    [1280, 800],
    [1280, 854],
    [1280, 960],
    [1280, 1024],
    [1366, 768],
    [1440, 900],
    [1440, 960],
    [1400, 1050],
    [1440, 1024],
    [1440, 1080],
    [1600, 768],
    [1600, 900],
    [1600, 1024],
    [1680, 1050],
    [1600, 1200],
    [1920, 1080],
    [1920, 1200],
    [2560, 1440]
  ],

  "zoomList" : [
    2,
    3,
    4
  ]
}
