{
  "maxBindings" : 2,
  "keyActions" : {
    "player" : [
      {
        "label" : "Move Up",
        "action" : "PlayerUp"
      },
      {
        "label" : "Move Left",
        "action" : "PlayerLeft"
      },
      {
        "label" : "Move Right",
        "action" : "PlayerRight"
      },
      {
        "label" : "Duck",
        "action" : "PlayerDown"
      },
      {
        "label" : "Jump",
        "action" : "PlayerJump"
      },
      {
        "label" : "Walk / MM Precision",
        "action" : "PlayerShifting"
      },
      {
        "label" : "Interact",
        "action" : "PlayerInteract"
      },
      {
        "label" : "Drop Item",
        "action" : "PlayerDropItem"
      },
      {
        "label" : "Interface Modifier",
        "action" : "GuiShifting"
      },
      {
        "label" : "Activate Head Tech",
        "action" : "PlayerTechAction1"
      },
      {
        "label" : "Blabbering Expression",
        "action" : "EmoteBlabbering"
      },
      {
        "label" : "Shouting Expression",
        "action" : "EmoteShouting"
      },
      {
        "label" : "Happy Expression",
        "action" : "EmoteHappy"
      },
      {
        "label" : "Sad Expression",
        "action" : "EmoteSad"
      },
      {
        "label" : "Neutral Expression",
        "action" : "EmoteNeutral"
      },
      {
        "label" : "Laugh Expression",
        "action" : "EmoteLaugh"
      },
      {
        "label" : "Annoyed Expression",
        "action" : "EmoteAnnoyed"
      },
      {
        "label" : "Oh Expression",
        "action" : "EmoteOh"
      },
      {
        "label" : "Oooh Expression",
        "action" : "EmoteOooh"
      },
      {
        "label" : "Blink Expression",
        "action" : "EmoteBlink"
      },
      {
        "label" : "Wink Expression",
        "action" : "EmoteWink"
      },
      {
        "label" : "Eat Expression",
        "action" : "EmoteEat"
      },
      {
        "label" : "Sleep Expression",
        "action" : "EmoteSleep"
      }
    ],
    "toolbar" : [
      {
        "label" : "Change Action Bar",
        "action" : "InterfaceChangeBarGroup"
      },
      {
        "label" : "Deselect Hands",
        "action" : "InterfaceDeselectHands"
      },
      {
        "label" : "Select Slot 1",
        "action" : "InterfaceBar1"
      },
      {
        "label" : "Select Slot 2",
        "action" : "InterfaceBar2"
      },
      {
        "label" : "Select Slot 3",
        "action" : "InterfaceBar3"
      },
      {
        "label" : "Select Slot 4",
        "action" : "InterfaceBar4"
      },
      {
        "label" : "Select Slot 5",
        "action" : "InterfaceBar5"
      },
      {
        "label" : "Select Slot 6",
        "action" : "InterfaceBar6"
      },
      {
        "label" : "Matter Manipulator",
        "action" : "EssentialBar1"
      },
      {
        "label" : "Wire Mode",
        "action" : "EssentialBar2"
      },
      {
        "label" : "Paint Mode",
        "action" : "EssentialBar3"
      },
      {
        "label" : "Inspect / Scan Mode",
        "action" : "EssentialBar4"
      }
    ],
    "game" : [
      {
        "label" : "Highlight Interactable",
        "action" : "ShowLabels"
      },
      {
        "label" : "Camera Look",
        "action" : "CameraShift"
      },
      {
        "label" : "Chat Page Up",
        "action" : "ChatPageUp"
      },
      {
        "label" : "Chat Page Down",
        "action" : "ChatPageDown"
      },
      {
        "label" : "Chat Previous Line",
        "action" : "ChatPreviousLine"
      },
      {
        "label" : "Chat Next Line",
        "action" : "ChatNextLine"
      },
      {
        "label" : "Chat Send Line",
        "action" : "ChatSendLine"
      },
      {
        "label" : "Begin Chat",
        "action" : "ChatBegin"
      },
      {
        "label" : "Begin Chat Command",
        "action" : "ChatBeginCommand"
      },
      {
        "label" : "Repeat Last Command",
        "action" : "InterfaceRepeatCommand"
      },
      {
        "label" : "Toggle Fullscreen",
        "action" : "InterfaceToggleFullscreen"
      },
      {
        "label" : "Open Inventory",
        "action" : "InterfaceInventory"
      },
      {
        "label" : "Open Codex",
        "action" : "InterfaceCodex"
      },
      {
        "label" : "Open Quest",
        "action" : "InterfaceQuest"
      },
      {
        "label" : "Open Crafting",
        "action" : "InterfaceCrafting"
      },
      {
        "label" : "Hide Hud",
        "action" : "InterfaceHideHud"
      }
    ]
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
        "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/keybindings/header.png",
      "fileBody" : "/interface/keybindings/body.png",
      "fileFooter" : "/interface/keybindings/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/keybindings/shine.png",
      "position" : [5, 12],
      "zlevel" : 1
    },
    "bgimage" : {
      "type" : "image",
      "file" : "/interface/keybindings/scrollmenu.png",
      "position" : [13, 29]
    },
    "accept" : {
      "type" : "button",
      "position" : [141, 30],
      "caption" : "Accept",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "cancel" : {
      "type" : "button",
      "position" : [19, 30],
      "caption" : "Back",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "setDefault" : {
      "type" : "button",
      "position" : [80, 30],
      "caption" : "Default",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "categories" : {
      "type" : "tabSet",
      "tabButtonBaseImage" : "/interface/tabs/tabbase.png",
      "tabButtonHoverImage" : "/interface/tabs/tabover.png",
      "tabButtonBaseImageSelected" : "/interface/tabs/tabselected.png",
      "tabButtonHoverImageSelected" : "/interface/tabs/tabselectedover.png",
      "tabButtonPressedOffset" : [0, 0],
      "tabButtonTextOffset" : [0, -1],
      "tabButtonSpacing" : [-1, 0],
      "rect" : [13, 29, 203, 205],
      "zlevel" : 9,
      "tabs" : [
        {
          "tabName" : "player",
          "tabTitle" : "PLAYER",
          "children" : {
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [2, 26, 189, 156],
              "children" : {
                "keyList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/keybindings/listbg.png",
                    "unselectedBG" : "/interface/keybindings/listbg.png",
                    "spacing" : [0, 3],
                    "memberSize" : [185, 13],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/keybindings/listbg.png",
                        "position" : [2, 1],
                        "zlevel" : -1
                      },
                      "actionName" : {
                        "type" : "label",
                        "value" : "replace me",
                        "position" : [54, 2],
                        "hAnchor" : "mid"
                      },
                      "boundKeys" : {
                        "type" : "button",
                        "callback" : "activateBinding",
                        "base" : "/interface/keybindings/option.png",
                        "hover" : "/interface/keybindings/optionOver.png",
                        "press" : "/interface/keybindings/optionActive.png",
                        "position" : [105, 2.5]
                      },
                      "deleteBinding" : {
                        "type" : "button",
                        "base" : "/interface/keybindings/garbage.png",
                        "press" : "/interface/keybindings/garbageDown.png",
                        "position" : [165, 1]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "toolbar",
          "tabTitle" : "TOOL BAR",
          "children" : {
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [2, 26, 189, 156],
              "children" : {
                "keyList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/keybindings/listbg.png",
                    "unselectedBG" : "/interface/keybindings/listbg.png",
                    "spacing" : [0, 3],
                    "memberSize" : [185, 13],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/keybindings/listbg.png",
                        "position" : [2, 1],
                        "zlevel" : -1
                      },
                      "actionName" : {
                        "type" : "label",
                        "value" : "replace me",
                        "position" : [54, 2],
                        "hAnchor" : "mid"
                      },
                      "boundKeys" : {
                        "type" : "button",
                        "callback" : "activateBinding",
                        "base" : "/interface/keybindings/option.png",
                        "hover" : "/interface/keybindings/optionOver.png",
                        "press" : "/interface/keybindings/optionActive.png",
                        "position" : [105, 2.5]
                      },
                      "deleteBinding" : {
                        "type" : "button",
                        "base" : "/interface/keybindings/garbage.png",
                        "press" : "/interface/keybindings/garbageDown.png",
                        "position" : [165, 1]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "game",
          "tabTitle" : "GAME",
          "children" : {
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [2, 26, 189, 156],
              "children" : {
                "keyList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/keybindings/listbg.png",
                    "unselectedBG" : "/interface/keybindings/listbg.png",
                    "spacing" : [0, 3],
                    "memberSize" : [185, 13],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/keybindings/listbg.png",
                        "position" : [2, 1],
                        "zlevel" : -1
                      },
                      "actionName" : {
                        "type" : "label",
                        "value" : "replace me",
                        "position" : [54, 2],
                        "hAnchor" : "mid"
                      },
                      "boundKeys" : {
                        "type" : "button",
                        "callback" : "activateBinding",
                        "base" : "/interface/keybindings/option.png",
                        "hover" : "/interface/keybindings/optionOver.png",
                        "press" : "/interface/keybindings/optionActive.png",
                        "position" : [105, 2.5]
                      },
                      "deleteBinding" : {
                        "type" : "button",
                        "base" : "/interface/keybindings/garbage.png",
                        "press" : "/interface/keybindings/garbageDown.png",
                        "position" : [165, 1]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      ]
    }
  }
}
