{
  "background" : {
    "type" : "background",
    "fileHeader" : "",
    "fileBody" : "/interface/title/multiplayerbackground.png",
    "fileFooter" : ""
  },
  "connect" : {
    "type" : "button",
    "base" : "/interface/title/joinserverUp.png",
    "hover" : "/interface/title/joinserverOver.png",
    "position" : [82.5, 32],
    "caption" : "Join server"
  },
  "address" : {
    "type" : "textbox",
    "position" : [35, 85],
    "hint" : "server address",
    "border" : true,
    "textAlign" : "center",
    "vAnchor" : "mid",
    "enterKey" : "connect",
    "maxWidth" : 128,
    "focus" : true,
    "nextFocus" : "port",
    "prevFocus" : "password"
  },
  "port" : {
    "type" : "textbox",
    "position" : [173, 85],
    "hint" : "port",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 23,
    "nextFocus" : "account",
    "prevFocus" : "address"
  },
  "account" : {
    "type" : "textbox",
    "position" : [35, 69],
    "hint" : "server account",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 160,
    "nextFocus" : "password",
    "prevFocus" : "port"
  },
  "password" : {
    "type" : "textbox",
    "position" : [35, 53],
    "hint" : "server password",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 160,
    "nextFocus" : "address",
    "prevFocus" : "account"
  }
}
