{
  "trashBurnTimeout" : 1.0,
  "subtitle" : "^#b9b5b2;Your inventory and equipment ^green;[I]",

  "sounds" : {
    "pickup" : [
      "/sfx/interface/inventory_pickup1.ogg"
    ],
    "putdown" : [
      "/sfx/interface/inventory_putdown1.ogg"
    ]
  },

  "defaultPetNameLabel" : "^#b9b5b2;PET STATS",

  "bagConfig" : {
    "mainBag" : {
      "order" : 1,
      "tabButtonData" : "showMainGrid",
      "itemGrid" : "mainItemGrid",
      "newItemMarker" : "newGeneralItems"
    },
    "materialBag" : {
      "order" : 2,
      "tabButtonData" : "showTileGrid",
      "itemGrid" : "tileItemGrid",
      "newItemMarker" : "newTileItems"
    },
    "objectBag" : {
      "order" : 3,
      "tabButtonData" : "showObjectGrid",
      "itemGrid" : "objectItemGrid",
      "newItemMarker" : "newObjectItems"
    },
    "reagentBag" : {
      "order" : 4,
      "tabButtonData" : "showReagentGrid",
      "itemGrid" : "reagentItemGrid",
      "newItemMarker" : "newReagentItems"
    },
    "foodBag" : {
      "order" : 5,
      "tabButtonData" : "showFoodGrid",
      "itemGrid" : "foodItemGrid",
      "newItemMarker" : "newFoodItems"
    }
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/inventory/inventoryheader.png",
      "fileBody" : "/interface/inventory/inventorybody.png",
      "fileFooter" : "/interface/inventory/inventoryfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [185, 259]
    },
    "sort" : {
      "type" : "button",
      "base" : "/interface/inventory/sort.png",
      "hover" : "/interface/inventory/sorthover.png",
      "press" : "/interface/inventory/sortpress.png",
      "position" : [182, 9]
    },
    "imgMoneyIcon" : {
      "type" : "image",
      "position" : [8, 12],
      "centered" : false,
      "file" : "/interface/inventory/money.png"
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [20, 11],
      "value" : "0"
    },
    "imgEssenceIcon" : {
      "type" : "image",
      "position" : [80, 11],
      "centered" : false,
      "file" : "/interface/inventory/essenceicon.png"
    },
    "lblEssence" : {
      "type" : "label",
      "position" : [95, 11],
      "value" : "0"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/inventory/shine.png",
      "position" : [-50, 6],
      "zlevel" : -10
    },
    "newGeneralItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [30, 112]
    },
    "newTileItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [57, 112]
    },
    "newObjectItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [84, 112]
    },
    "newReagentItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [111, 112]
    },
    "newFoodItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [138, 112]
    },
    "gridModeSelector" : {
      "type" : "radioGroup",
      "position" : [5, 109],

      "buttons" : [
        {
          "id" : 0,
          "baseImage" : "/interface/inventory/bigbag.png:base",
          "baseImageChecked" : "/interface/inventory/bigbag.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigbag.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigbag.png:pressedChecked",
          "position" : [4, 2],
          "data" : "showMainGrid",
          "selected" : true,
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigcart.png:base",
          "baseImageChecked" : "/interface/inventory/bigcart.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigcart.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigcart.png:pressedChecked",
          "position" : [31, 2],
          "data" : "showTileGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigobj.png:base",
          "baseImageChecked" : "/interface/inventory/bigobj.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigobj.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigobj.png:pressedChecked",
          "position" : [58, 2],
          "data" : "showObjectGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigrea.png:base",
          "baseImageChecked" : "/interface/inventory/bigrea.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigrea.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigrea.png:pressedChecked",
          "position" : [85, 2],
          "data" : "showReagentGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigfood.png:base",
          "baseImageChecked" : "/interface/inventory/bigfood.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigfood.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigfood.png:pressedChecked",
          "position" : [112, 2],
          "data" : "showFoodGrid",
          "pressedOffset" : [0,0]
        }
      ]
    },
    "portrait" : {
      "type" : "portrait",
      "position" : [57.5, 211.5],
      "scale" : 1.5
    },
    "mainItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 29],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "tileItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 29],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "objectItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 29],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "reagentItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 29],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "foodItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 29],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "head" : {
      "type" : "itemslot",
      "position" : [90, 220],
      "backingImage" : "/interface/inventory/backingimagehead.png",
      "data" : {
        "tooltipText" : "Head Armour"
      }
    },
    "chest" : {
      "type" : "itemslot",
      "position" : [90, 200],
      "backingImage" : "/interface/inventory/backingimagechest.png",
      "data" : {
        "tooltipText" : "Chest Armour"
      }
    },
    "legs" : {
      "type" : "itemslot",
      "position" : [90, 180],
      "backingImage" : "/interface/inventory/backingimagelegs.png",
      "data" : {
        "tooltipText" : "Leg Armour"
      }
    },
    "back" : {
      "type" : "itemslot",
      "position" : [5, 210],
      "backingImage" : "/interface/inventory/backingimageback.png",
      "data" : {
        "tooltipText" : "Back Armour"
      }
    },
    "headCosmetic" : {
      "type" : "itemslot",
      "position" : [110, 220],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Cosmetic"
      }
    },
    "chestCosmetic" : {
      "type" : "itemslot",
      "position" : [110, 200],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Cosmetic"
      }
    },
    "legsCosmetic" : {
      "type" : "itemslot",
      "position" : [110, 180],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Cosmetic"
      }
    },
    "backCosmetic" : {
      "type" : "itemslot",
      "position" : [5, 190],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Cosmetic"
      }
    },
    "techHead" : {
      "type" : "image",
      "position" : [19, 153],
      "centered" : true
    },
    "techHeadDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [10, 145],
      "zlevel" : 2
    },
    "techBody" : {
      "type" : "image",
      "position" : [49, 153],
      "centered" : true
    },
    "techBodyDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [40, 145],
      "zlevel" : 2
    },
    "techLegs" : {
      "type" : "image",
      "position" : [79, 153],
      "centered" : true
    },
    "techLegsDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [70, 145],
      "zlevel" : 2
    },
    "companionSlot" : {
      "type" : "image",
      "centered" : true,
      "file" : "",
      "position" : [117, 153],
      "maxSize" : [30, 30],
      "minSize" : [20, 20]
    },
    "companionHealthBar" : {
      "type" : "progress",
      "position" : [154, 142],
      "background" : "/interface/inventory/monsterhealthempty.png",
      "progressSet" : {
        "inner" : "/interface/inventory/monsterhealth.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "companionAttackStat" : {
      "type" : "label",
      "position" : [175, 159],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "42"
    },
    "companionDefenseStat" : {
      "type" : "label",
      "position" : [175, 150],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "42"
    },
    "healthtext" : {
      "type" : "label",
      "position" : [158, 232],
      "hAnchor" : "left",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "energytext" : {
      "type" : "label",
      "position" : [158, 214],
      "hAnchor" : "left",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "defensetext" : {
      "type" : "label",
      "position" : [158, 180],
      "hAnchor" : "left",
      "value" : "--",
      "color" : [255, 255, 255]
    },
    "weapontext" : {
      "type" : "label",
      "position" : [158, 197],
      "hAnchor" : "left",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "trash" : {
      "type" : "itemslot",
      "position" : [172, 110],
      "backingImage" : "/interface/inventory/backingimagetrash.png",
      "data" : {
        "tooltipText" : "Trash"
      }
    },
    "labelappearance" : {
      "type" : "label",
      "position" : [59, 243],
      "hAnchor" : "mid",
      "value" : "ARMOUR SLOTS",
      "color" : [185, 181, 178]
    },
    "labelstats" : {
      "type" : "label",
      "position" : [166, 243],
      "hAnchor" : "mid",
      "value" : "STATS",
      "color" : [185, 181, 178]
    },
    "companionName" : {
      "type" : "label",
      "position" : [150, 168],
      "hAnchor" : "mid",
      "value" : "PET STATS",
      "color" : [185, 181, 178]
    },
    "labeltech" : {
      "type" : "label",
      "position" : [50, 168],
      "hAnchor" : "mid",
      "value" : "ACTIVE TECHS",
      "color" : [185, 181, 178]
    },
    "labelinventory" : {
      "type" : "label",
      "position" : [50, 129],
      "hAnchor" : "mid",
      "value" : "INVENTORY",
      "color" : [185, 181, 178]
    }
  }
}
