{
  "onShowSound" : [
    "/sfx/cinematics/quest_event.ogg"
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/popup/header.png",
      "fileBody" : "/interface/popup/body.png",
      "fileFooter" : "/interface/popup/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "ATTENTION",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/popup/warning.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/popup/acceptup.png",
      "hover" : "/interface/popup/acceptover.png",
      "position" : [108, 30],
      "caption" : "Okay"
    },
    "message" : {
      "type" : "label",
      "position" : [15, 92],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 240,
      "lineSpacing" : 1.0,
      "value" : "",
      "color" : "white"
    }
  }
}
