{
  "trackLabel" : "Track Quest",
  "untrackLabel" : "Stop Tracking",

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/questlog/header.png",
      "fileBody" : "/interface/quests/questlog/body.png",
      "fileFooter" : "/interface/quests/questlog/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [318, 279]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Quest Journal",
      "subtitle" : "^#b9b5b2;Keep track of your quests ^green;[J]",
      "position" : [-2, 260],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/shine.png",
      "position" : [1, 9],
      "zlevel" : -10
    },
    "btnToggleTracking" : {
      "type" : "button",
      "base" : "/interface/quests/questlog/toggleTrackingUp.png",
      "hover" : "/interface/quests/questlog/toggleTrackingOver.png",
      "position" : [184, 27],
      "caption" : "Toggle Tracking"
    },
    "btnAbandon" : {
      "type" : "button",
      "base" : "/interface/quests/questlog/abandonUp.png",
      "hover" : "/interface/quests/questlog/abandonOver.png",
      "position" : [269, 27],
      "disabledImage" : "/interface/quests/questlog/abandonUp.png",
      "caption" : "Abandon"
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [219, 57],
      "dimensions" : [2, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png",
      "zlevel" : 1
    },
    "lblRewards" : {
      "type" : "label",
      "position" : [177, 61],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    },
    "imgPolaroid" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroid.png",
      "position" : [268, 45],
      "zlevel" : -1
    },
    "imgPortrait" : {
      "type" : "image",
      "position" : [287, 70],
      "maxSize" : [31, 31],
      "minSize" : [31, 31],
      "centered" : true
    },
    "lblPortraitTitle" : {
      "type" : "label",
      "position" : [287, 47],
      "hAnchor" : "mid",
      "fontSize" : 4,
      "charLimit" : 12,
      "color" : "black"
    },
    "imgPolaroidBack" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroidBackground.png",
      "position" : [268, 45],
      "zlevel" : -2
    },
    "lblQuestTitle" : {
      "type" : "label",
      "position" : [250, 261],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 150,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : "white"
    },
    "lblQuestBody" : {
      "type" : "label",
      "position" : [177, 245],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 150,
      "lineSpacing" : 1.1,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [6, 32, 167, 253],
      "children" : {
        "verticalLayout" : {
          "type" : "layout",
          "layoutType" : "vertical",
          "vAnchor" : "top",
          "hAnchor" : "mid",
          "fillDown" : true,
          "spacing" : 3,
          "children" : {
            "mainQuestHeader" : {
              "type" : "label",
              "position" : [0, 4], // only for sorting
              "hAnchor" : "left",
              "vAnchor" : "mid",
              "size" : [100, 15],
              "fontSize" : 9,
              "value" : "MAIN QUESTS"
            },
            "mainQuestList" : {
              "type" : "list",
              "position" : [0, 3], // only for sorting
              "schema" : {
                "selectedBG" : "/interface/quests/questlog/entry_selected.png",
                "unselectedBG" : "/interface/quests/questlog/entry_bg.png",
                "spacing" : [0, 1],
                "memberSize" : [150, 19],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/interface/quests/questlog/entry_bg.png",
                    "position" : [1, 0],
                    "zlevel" : -1
                  },
                  "imgNew" : {
                    "type" : "image",
                    "file" : "/interface/quests/questlog/new.png",
                    "position" : [138, 0],
                    "zlevel" : 2
                  },
                  "imgTracked" : {
                    "type" : "image",
                    "file" : "/interface/quests/questlog/tracked.png",
                    "position" : [138, 0],
                    "zlevel" : 1
                  },
                  "lblQuestEntry" : {
                    "type" : "label",
                    "position" : [82, 9],
                    "hAnchor" : "mid",
                    "vAnchor" : "mid",
                    "wrapWidth" : 100,
                    "lineSpacing" : 1.0,
                    "value" : "",
                    "color" : "white"
                  },
                  "imgPortrait" : {
                    "type" : "image",
                    "scale" : 1.0,
                    "offset" : [25, 10],
                    "position" : [1, 0]
                  }
                }
              }
            },
            "sideQuestHeader" : {
              "type" : "label",
              "position" : [0, 2], // only for sorting
              "hAnchor" : "left",
              "vAnchor" : "mid",
              "size" : [100, 15],
              "fontSize" : 9,
              "value" : "SIDE QUESTS"
            },
            "sideQuestList" : {
              "type" : "list",
              "position" : [0, 1], // only for sorting
              "schema" : {
                "selectedBG" : "/interface/quests/questlog/entry_selected.png",
                "unselectedBG" : "/interface/quests/questlog/entry_bg.png",
                "spacing" : [0, 1],
                "memberSize" : [150, 19],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/interface/quests/questlog/entry_bg.png",
                    "position" : [1, 0],
                    "zlevel" : -1
                  },
                  "imgNew" : {
                    "type" : "image",
                    "file" : "/interface/quests/questlog/new.png",
                    "position" : [138, 0],
                    "zlevel" : 2
                  },
                  "imgTracked" : {
                    "type" : "image",
                    "file" : "/interface/quests/questlog/tracked.png",
                    "position" : [138, 0],
                    "zlevel" : 1
                  },
                  "lblQuestEntry" : {
                    "type" : "label",
                    "position" : [82, 9],
                    "hAnchor" : "mid",
                    "vAnchor" : "mid",
                    "wrapWidth" : 100,
                    "lineSpacing" : 1.0,
                    "value" : "",
                    "color" : "white"
                  },
                  "imgPortrait" : {
                    "type" : "image",
                    "scale" : 1.0,
                    "offset" : [25, 10],
                    "position" : [1, 0]
                  }
                }
              }
            }
          }
        }
      }
    },
    "filter" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "position" : [3, 253],
          "baseImage" : "/interface/quests/questlog/inProgress.png",
          "hoverImage" : "/interface/quests/questlog/inProgressOver.png",
          "baseImageChecked" : "/interface/quests/questlog/inProgressSelected.png",
          "selected" : true,
          "data" : "inProgress",
          "text" : "Active",
          "pressedOffset" : [0, 0]
        },
        {
          "position" : [55, 253],
          "baseImage" : "/interface/quests/questlog/completed.png",
          "hoverImage" : "/interface/quests/questlog/completedOver.png",
          "baseImageChecked" : "/interface/quests/questlog/completedSelected.png",
          "data" : "completed",
          "text" : "Completed",
          "pressedOffset" : [0, 0]
        }
      ]
    }
  }
}
