{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/header.png",
      "fileBody" : "/interface/party/body2.png",
      "fileFooter" : "/interface/party/footer.png"
    },
    "titleLabel" : {
      "type" : "label",
      "position" : [90, 76],
      "fontSize" : 16,
      "hAnchor" : "mid",
      "value" : "PARTY INVITATION"
    },
    "inviteLabel" : {
      "type" : "label",
      "position" : [90, 50],
      "hAnchor" : "mid",
      "value" : "Would you like to join their party?"
    },
    "inviterName" : {
      "type" : "label",
      "position" : [90, 63],
      "hAnchor" : "mid",
      "color" : [0, 255, 0],
      "text" : "Red Leader"
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/title/delete/cancelDown.png",
      "hover" : "/interface/title/delete/cancel.png",
      "position" : [96, 31],
      "caption" : "Accept"
    },
    "close" : {
      "type" : "button",
      "caption" : "Decline",
      "base" : "/interface/party/declineUp.png",
      "hover" : "/interface/party/declineOver.png",
      "press" : "/interface/party/declineOver.png",
      "position" : [12, 31]
    }
  }
}
