{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/header.png",
      "fileBody" : "/interface/party/body.png",
      "fileFooter" : "/interface/party/footer.png"
    },
    "titleLabel" : {
      "type" : "label",
      "position" : [90, 76],
      "fontSize" : 16,
      "hAnchor" : "mid",
      "value" : "INVITE TO PARTY"
    },
    "name" : {
      "type" : "textbox",
      "position" : [39, 54],
      "hint" : "Player name",
      "enterKey" : "ok",
      "escapeKey" : "close",
      "maxWidth" : 82
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/title/delete/cancelDown.png",
      "hover" : "/interface/title/delete/cancel.png",
      "position" : [96, 31],
      "caption" : "Invite"
    },
    "close" : {
      "type" : "button",
      "caption" : "Cancel",
      "base" : "/interface/title/delete/cancelDown.png",
      "hover" : "/interface/title/delete/cancel.png",
      "press" : "/interface/title/delete/cancel.png",
      "position" : [12, 31]
    }
  }
}
