{
  "removeSelfText" : "Leave",
  "removeOtherText" : "Remove",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/menuheader.png",
      "fileBody" : "/interface/party/menubody.png",
      "fileFooter" : "/interface/party/menufooter.png"
    },
    "beamToShip" : {
      "type" : "button",
      "base" : "/interface/party/beamtoshipbutton.png",
      "hover" : "/interface/party/beamtoshipbutton_hover.png",
      "pressedOffset" : [0, 0],
      "position" : [3, 47],
      "textAlign" : "center",
      "textOffset" : [6, 0],
      "caption" : "Beam to ship"
    },
    "makeLeader" : {
      "type" : "button",
      "base" : "/interface/party/makeleaderbutton.png",
      "hover" : "/interface/party/makeleaderbutton_hover.png",
      "pressedOffset" : [0, 0],
      "position" : [3, 31],
      "textAlign" : "center",
      "textOffset" : [6, 0],
      "caption" : "Make Leader"
    },
    "removeFromTeam" : {
      "type" : "button",
      "base" : "/interface/party/removebutton.png",
      "hover" : "/interface/party/removebutton_hover.png",
      "pressedOffset" : [0, 0],
      "position" : [3, 15],
      "textAlign" : "center",
      "textOffset" : [6, 0],
      "caption" : "Remove"
    },
    "name" : {
      "type" : "label",
      "position" : [51, 64],
      "hAnchor" : "mid",
      "color" : [255, 255, 255]
    }
  }
}
