{
  "cannotTeleportText" : "CANNOT TELEPORT:",
  "cannotTeleportColor" : [173, 244, 230],
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/teleportfailsafe/header.png",
      "fileBody" : "/interface/teleportfailsafe/body.png",
      "fileFooter" : "/interface/teleportfailsafe/footer.png"
    },
    "paneFeature" : {
      "type" : "panefeature",
      "anchor" : "center",
      "positionLocked" : true
    },
    "banner" : {
      "type" : "image",
      "file" : "/interface/teleportfailsafe/banner.png",
      "position" : [6, 152],
      "zlevel" : -5
    },
    "details" : {
      "type" : "image",
      "file" : "/interface/teleportfailsafe/details.png",
      "position" : [3, 37],
      "zlevel" : -5
    },
    "shine" : {
      "type" : "image",
      "file" : "/interface/teleportfailsafe/shine.png",
      "position" : [0, 34],
      "zlevel" : -6
    },
    "messages" : {
      "zlevel" : 99,
      "type" : "scrollArea",
      "rect" : [3, 62, 274, 140],
      "children" : {
        "list" : { 
          "type" : "list",
          "schema" : {
            "spacing" : [0, 1],
            "memberSize" : [268, 10],
            "listTemplate" : {
              "message" : {
                "type" : "label",
                "position" : [134, 0],
                "hAnchor" : "mid",
                "wrapWidth" : 268,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },
    "dismiss" : {
      "type" : "button",
      "callback" : "close",
      "position" : [103, 48],
      "base" : "/interface/teleportfailsafe/cancelUp.png",
      "hover" : "/interface/teleportfailsafe/cancel.png"
    }
  }
}  
