{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/warping/warpheader.png",
      "fileBody" : "/interface/warping/warpbody.png",
      "fileFooter" : "/interface/warping/warpfooter.png"
    },
    "close" : {
      "type" : "button",
      "callback" : "dismiss",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [171, 161]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Teleporter",
      "subtitle" : "Choose a destination",
      "icon" : {
        "type" : "image",
        "file" : "/interface/warping/icon.png",
        "zlevel" : -1
      }
    },
    "btnTeleport" : {
      "type" : "button",
      "base" : "/interface/warping/buttonup.png",
      "hover" : "/interface/warping/buttonover.png",
      "position" : [68, 25],
      "caption" : "Teleport",
      "callback" : "teleport"
    },
    "bookmarkList" : {
      "type" : "scrollArea",
      "rect" : [4, 48, 184, 148],
      "children" : {
        "bookmarkItemList" : {
          "type" : "list",
          "callback" : "selectDestination",
          "schema" : {
            "selectedBG" : "/interface/warping/warpentryselected.png",
            "unselectedBG" : "/interface/warping/warpentry.png",
            "spacing" : [0, 2],
            "memberSize" : [170, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/warping/warpentry.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "position" : [2, 2],
                "file" : "/interface/bookmarks/icons/teleporter.png",
                "mouseTransparent" : true
              },
              "name" : {
                "type" : "label",
                "position" : [23, 10],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "Bookmark Name",
                "color" : [255, 255, 255],
                "mouseTransparent" : true
              },
              "planetName" : {
                "type" : "label",
                "position" : [23, 2],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "",
                "color" : [180, 180, 180],
                "mouseTransparent" : true
              },
              "editButton" : {
                "type" : "button",
                "callback" : "editBookmark",
                "position" : [150, 1],
                "pressedOffset" : [0, 0],
                "base" : "/interface/warping/warpedit.png",
                "hover" : "/interface/warping/warpedithover.png",
                "pressed" : "/interface/warping/warpedithover.png"
              }
            }
          }
        }
      }
    }
  },

  "beamPartyMemberLabel" : "Beam to Party Member",
  "deployPartyMemberLabel" : "Deploy to Party Member",
  "beamPartyMemberIcon" : "/interface/bookmarks/icons/beamparty.png",
  "deployPartyMemberIcon" : "/interface/bookmarks/icons/deploy.png"
}
