{
  "mainMenuButtons" : [
    {
      "key" : "singleplayer",
      "button" : "/interface/title/singleplayer.png",
      "hover" : "/interface/title/singleplayerover.png",
      "offset" : [0, 85]
    },
    {
      "key" : "multiplayer",
      "button" : "/interface/title/multiplayer.png",
      "hover" : "/interface/title/multiplayerover.png",
      "offset" : [0, 60]
    },
    {
      "key" : "options",
      "button" : "/interface/title/options.png",
      "hover" : "/interface/title/optionsover.png",
      "offset" : [0, 35]
    },
    {
      "key" : "quit",
      "button" : "/interface/title/quit.png",
      "hover" : "/interface/title/quitover.png",
      "offset" : [0, 10]
    },
    {
      "key" : "back",
      "button" : "/interface/title/back.png",
      "hover" : "/interface/title/backover.png",
      "offset" : [0, 10]
    },
    {
      "key" : "mods",
      "button" : "/interface/title/mods.png",
      "hover" : "/interface/title/modsover.png",
      "offset" : [-22, 2],
      "rightAnchored" : true
    }
  ],

  "skyBackdropDarken" : [0, 0, 0, 100],

  // Backdrop images are centered, offset is from top center of window
  "backdropImages" : [
    [ [0, -30], "/interface/title/blackbar.png", 0.5],
    [ [0, 10], "/interface/title/firstlogo.png", 0.5]
  ],

  "music" : {
    "day" : {
      "tracks" : [ "/music/title-menu-music.ogg" ]
    },
    "night" : {
      "tracks" : [ "/music/title-menu-music.ogg" ]
    }
  }
}
