{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "watersplash"
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/watersplash/watersplash.animation",
                "timeToLive" : 0.05,
                "variance" : {
                  "position" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
