{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/terraformer/header.png",
      "fileBody" : "/interface/scripted/terraformer/body.png",
      "fileFooter" : "/interface/scripted/terraformer/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "  Planetary Terraformer",
      "subtitle" : "  ^#b9b5b2;Transform the whole planet using Essence!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/terraformer/terraformiconbg.png",
        "zlevel" : -1
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [242, 133]
    },
    "imgPlanetTypeIcon" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "",
      "position" : [8, 131]
    },

    "imgProgressBackground" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/terraformer/bar_body.png",
      "position" : [22, 93]
    },
    "prgAvailable" : {
      "type" : "progress",
      "zlevel" : 2,
      "position" : [24, 95],
      "size" : [210, 14],
      "progressSet" : {
        "inner" : "/interface/scripted/terraformer/bar_available.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1
    },
    "prgPreviewProgress" : {
      "type" : "progress",
      "zlevel" : 3,
      "position" : [24, 95],
      "size" : [210, 14],
      "progressSet" : {
        "inner" : "/interface/scripted/terraformer/bar_required.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1
    },
    "prgCurrentProgress" : {
      "type" : "progress",
      "zlevel" : 4,
      "position" : [24, 95],
      "size" : [210, 14],
      "progressSet" : {
        "inner" : "/interface/scripted/terraformer/bar_full.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1
    },
    "sldTargetSize" : {
      "type" : "slider",
      "zlevel" : 5,
      "position" : [24, 78],
      "gridImage" : "/interface/scripted/terraformer/bar_overlay.png",
      "jogImages" : {
        "baseImage" : "/interface/scripted/terraformer/bar_cursor_base.png",
        "hoverImage" : "/interface/scripted/terraformer/bar_cursor_hover.png",
        "pressedImage" : "/interface/scripted/terraformer/bar_cursor_hover.png",
        "disabledImage" : "/interface/scripted/terraformer/bar_cursor_disabled.png"
      },
      "showSpinner" : false,
      "callback" : "updateTargetSize"
    },
    "imgTypeChangeIcon" : {
      "type" : "image",
      "file" : "/interface/scripted/terraformer/typechangeicon.png",
      "position" : [124, 115]
    },

    "lblCurrentStatus" : {
      "type" : "label",
      "position" : [129, 71],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 244,
      "value" : "Waiting for status..."
    },
    "lblEssenceLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [70, 41],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "wrapWidth" : 240,
      "value" : "^green;ESSENCE^white;"
    },
    "lblEssenceCount" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [70, 34],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "0 / 0"
    },
    "btnTerraform" : {
      "type" : "button",
      "base" : "/interface/scripted/terraformer/terraform_base.png",
      "hover" : "/interface/scripted/terraformer/terraform_hover.png",
      "pressed" : "/interface/scripted/terraformer/terraform_pressed.png",
      "disabledImage" : "/interface/scripted/terraformer/terraform_disabled.png",
      "pressedOffset" : [0, 0],
      "position" : [157, 34],
      "callback" : "doTerraform"
    },
    "btnDecreaseTargetSize" : {
      "type" : "button",
      "base" : "/interface/scripted/terraformer/arrow_left_base.png",
      "hover" : "/interface/scripted/terraformer/arrow_left_hover.png",
      "pressed" : "/interface/scripted/terraformer/arrow_left_pressed.png",
      "disabledImage" : "/interface/scripted/terraformer/arrow_left_disabled.png",
      "pressedOffset" : [0, 0],
      "position" : [11, 35],
      "callback" : "decreaseTargetSize"
    },
    "btnIncreaseTargetSize" : {
      "type" : "button",
      "base" : "/interface/scripted/terraformer/arrow_right_base.png",
      "hover" : "/interface/scripted/terraformer/arrow_right_hover.png",
      "pressed" : "/interface/scripted/terraformer/arrow_right_pressed.png",
      "disabledImage" : "/interface/scripted/terraformer/arrow_right_disabled.png",
      "pressedOffset" : [0, 0],
      "position" : [114, 35],
      "callback" : "increaseTargetSize"
    }
  },

  "scriptWidgetCallbacks" : [
    "doTerraform",
    "updateTargetSize",
    "increaseTargetSize",
    "decreaseTargetSize"
  ],

  "scripts" : ["/interface/scripted/terraformer/terraformergui.lua"],
  "scriptDelta" : 1,

  "minTargetSize" : 250,

  "targetSizeIncrement" : 100,

  "maxStepSize" : 1000,

  "essenceCostPerTile" : 5,

  "errorTime" : 3.0,
  "errorFlashTime" : 0.75,
  "errorSound" : "/sfx/interface/nav_insufficient_fuel.ogg",

  "statusMessages" : {
    "worldComplete" : "^gray;World terraforming complete.",
    "connecting" : "^yellow;Connecting to terraformer...",
    "active" : "^yellow;Terraforming in progress...",
    "insufficientEssence" : "^red;Insufficient Essence!",
    "maxStepSize" : "^gray;Terraforming stage limited to %s sectors."
  },

  "errorMessages" : {
    "needSurface" : "Must be placed on a planet surface!",
    "tooClose" : "Too close to another active terraformer!",

    // these shouldn't be displayed unless something desyncs
    "alreadyActive" : "Terraforming already in progress!",
    "worldComplete" : "Planet already fully terraformed!",
    "noExpansion" : "Target size must be larger than current size!"
  }
}
