{
  "default" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null,
    "maximumCorrection" : 0.75
  },

  "weather" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-6, -6], [6, -6], [6, 6], [-6, 6] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null,
    "maximumCorrection" : 0.75
  },

  "laser" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0.0,
    "speedLimit" : null,
    "maximumCorrection" : 0.75
  },

  "bullet" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null,
    "maximumCorrection" : 0.75
  },

  "paperplane" : {
    "mass" : 0.3,
    "gravityMultiplier" : 0.1,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.05,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "beachball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.85,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1, -1], [1, -1], [1, 1], [-1, 1] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "liquidBuoyancy" : 2.0,
    "maximumCorrection" : 0.75
  },

  "petball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1,
    "bounceFactor" : 0.9,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [0.5, 0.5], [-0.5, 0.5], [-0.5, -0.5], [0.5, -0.5] ],

    "airFriction" : 0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "liquidBuoyancy" : 2.0,
    "maximumCorrection" : 0.75
  },

  "bouncyball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.3,
    "bounceFactor" : 1.0,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 1.0,

    "collisionPoly" : [ [0.5, 0.5], [-0.5, 0.5], [-0.5, -0.5], [0.5, -0.5] ],

    "airFriction" : 0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "liquidBuoyancy" : 2.0,
    "maximumCorrection" : 0.75
  },

  "noveltybanana" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 1,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.5], [0.5, 0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "fishinglure" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.5,
    "bounceFactor" : 0.5,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1.125, 0], [0, 0.5], [1.125, 0], [0, -0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidBuoyancy" : 0.6,
    "liquidFriction" : 7.0,
    "groundFriction" : 20.0,
    "maximumCorrection" : 1.5
  },

  "fishingluresinking" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.75,
    "bounceFactor" : 0.5,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1.125, 0], [0, 0.5], [1.125, 0], [0, -0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidBuoyancy" : 0.3,
    "liquidFriction" : 7.0,
    "groundFriction" : 20.0,
    "maximumCorrection" : 1.5
  },

  "grenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "largeGrenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.9,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.5], [0.5, 0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "dragonhead" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-3, -3], [3, -3], [3, 3], [-3, 3] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "dragonbone" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.5], [0.5, 0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

 "worm" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "groundFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "shrapnel" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.8,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "rain" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "rollingboulder" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 0.15,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1, 0.5], [-0.5, 1], [0.5, 1], [1, 0.5], [1, -0.5], [0.5, -1], [-0.5, -1], [-1, -0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 0.0,

    "enableSurfaceSlopeCorrection" : true,
    "slopeSlidingFactor" : 2.5
  },

  "smoothrollingboulder" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1, 0.5], [-0.5, 1], [0.5, 1], [1, 0.5], [1, -0.5], [0.5, -1], [-0.5, -1], [-1, -0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 0.0,

    "enableSurfaceSlopeCorrection" : true,
    "slopeSlidingFactor" : 1
  },

  "boulder" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.8,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1.6, -1.6], [1.6, -1.6], [1.6, 1.6], [-1.6, 1.6] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 30.0,
    "groundFriction" : 0.0
  },

  "fireworkfall" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 12.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "grenadelowbounce" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.4,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "grenadenobounce" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "grenadezbomb" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.25], [0.5, 0.25], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "highgravgrenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.2,
    "bounceFactor" : 0.3,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "vhighgravgrenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 4.0,
    "bounceFactor" : 0.1,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "superhighgravgrenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 7.5,
    "bounceFactor" : 0.1,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "disc" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.8,
    "bounceFactor" : 0.08,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.25], [0.5, -0.25], [0.5, 0.25], [-0.5, 0.25] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 35.0,
    "maximumCorrection" : 0.75
  },

  "arrow" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [0.3, -0.1], [0.5, -0.1], [0.3, 0.1], [0.5, 0.1] ],
    "ignorePlatformCollision" : true,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "arrownosticky" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "bonethorn" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.6,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "underwaterarrow" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [0.5, -0.1], [0.7, -0.1], [0.5, 0.1], [0.7, 0.1] ],
    "ignorePlatformCollision" : true,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "underwaterarrownosticky" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "roller" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.3,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.5,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "bowlingball" : {
    "mass" : 3.0,
    "gravityMultiplier" : 3,
    "bounceFactor" : 0.1,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.65, -0.65], [0.65, -0.65], [0.65, 0.65], [-0.65, 0.65] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.5,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "chainball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 5.0,
    "bounceFactor" : 0.5,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.8, 0.3], [-0.3, 0.8], [0.3, 0.8], [0.8, 0.3], [0.8, -0.3], [0.3, -0.8], [-0.3, -0.8], [-0.8, -0.3] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.2,
    "groundFriction" : 20.0,
    "maximumCorrection" : 0.75
  },

  "groundspread" : {
    "mass" : 3.0,
    "gravityMultiplier" : 10,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.65, -0.65], [0.65, -0.65], [0.65, 0.65], [-0.65, 0.65] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.5,
    "groundFriction" : 0,
    "maximumCorrection" : 0.75
  },

  "firespread" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "bouncer" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 1.0,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "heavybouncer" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.8,
    "bounceFactor" : 1.0,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "wallsticky" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "stickyCollision" : true,
    "stickyForce" : 50.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.3, -0.3], [0.3, -0.3], [0.3, 0.3], [-0.3, 0.3] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "sticky" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.1, -0.1], [0.1, -0.1], [0.1, 0.1], [-0.1, 0.1] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "stickybomb" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "stickygrenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "flame" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.05,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "hover" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.5], [0.5, 0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 2.5,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "bouncy" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.3,
    "bounceFactor" : 0.9,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "gravitybomb" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.9,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 2.5,
    "liquidFriction" : 2.5,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "slider" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 2.5,
    "liquidFriction" : 2.5,
    "groundFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "orbitallaunch" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "orbitalup" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.6,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "fireball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.9,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 5.0,
    "maximumCorrection" : 0.75
  },

  "spikeball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "stickybullet" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,
    "stickyCollision" : true,
    "stickyForce" : 50.0,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "gas" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.05,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 2.5,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "heavygas" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.2,
    "bounceFactor" : 0.05,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 2.5,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "floatystickybomb" : {
    "mass" : 0.7,
    "gravityMultiplier" : 0.2,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "boomerang" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionBody" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "gravitybullet" : {
    "mass" : 0.7,
    "gravityMultiplier" : 0.2,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionBody" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "snowball" : {
    "gravityMultiplier" : 0.2,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "friendlybubble" : {
    "gravityMultiplier" : 0.1,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 5.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "flybug" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.5,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.8, -0.8], [0.8, -0.8], [0.8, 0.8], [0.8, 0.8] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 2.5,
    "liquidFriction" : 2.5,
    "groundFriction" : 2.5,
    "maximumCorrection" : 0.75
  },

  "flyhighbug" : {
    "mass" : 1.0,
    "gravityMultiplier" : -1.2,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.8, -0.8], [0.8, -0.8], [0.8, 0.8], [0.8, 0.8] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 2.5,
    "liquidFriction" : 2.5,
    "groundFriction" : 2.5,
    "maximumCorrection" : 0.75
  },

  "goop" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.2,
    "bounceFactor" : 0.2,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 50.0,
    "groundFriction" : 20.0,
    "maximumCorrection" : 0.75
  },

  "squirt" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.2,
    "bounceFactor" : 0.2,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "groundFriction" : 0.0,
    "maximumCorrection" : 0.75
  },

  "bowlder" : {
    "mass" : 2.0,
    "gravityMultiplier" : 2.0,
    "bounceFactor" : 0.3,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,
    "enableSurfaceSlopeCorrection" : true,
    "slopeSlidingFactor" : 2.0,

    "collisionPoly" : [ [-1.0, 0], [-0.6, -0.6], [0, -1.0], [0.6, -0.6], [1.0, 0], [0.6, 0.6], [0, 1.0], [-0.6, 0.6] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 0,
    "liquidFriction" : 4,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "simplearc" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.5,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0,
    "liquidFriction" : 0,
    "groundFriction" : 0,
    "maximumCorrection" : 0.75
  },

  "lowgravarc" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.25,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0,
    "liquidFriction" : 0,
    "groundFriction" : 0,
    "maximumCorrection" : 0.75
  },

  "bigbubble" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.05,
    "bounceFactor" : 0.05,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1.0, 0], [-0.6, -0.6], [0, -1.0], [0.6, -0.6], [1.0, 0], [0.6, 0.6], [0, 1.0], [-0.6, 0.6] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "statuspod" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.01,
    "bounceFactor" : 0.05,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-1.0, 0], [-0.6, -0.6], [0, -1.0], [0.6, -0.6], [1.0, 0], [0.6, 0.6], [0, 1.0], [-0.6, 0.6] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 0,
    "groundFriction" : 1.0,
    "maximumCorrection" : 0.75
  },

  "illusion" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,
    "collisionEnabled" : false,
    "collisionPoly" : [ [0.5, 0.5], [0.5, -0.5], [-0.5, -0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0,
    "liquidFriction" : 0,
    "speedLimit" : null,
    "maximumCorrection" : 0.75
  },

  "rocket" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.35, -0.35], [0.35, -0.35], [0.35, 0.35], [-0.35, 0.35] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 10,
    "airFriction" : 0.2,
    "liquidFriction" : 10,
    "maximumCorrection" : 0.75
  },

  "rocketillusion" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.2,
    "liquidFriction" : 0.2,
    "speedLimit" : null,
    "maximumCorrection" : 0.75
  },

  "grapplehook" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "stickyCollision" : true,
    "stickyForce" : 50.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [0.25, 0], [0.9, 0.3], [1.1, 0], [0.9, -0.3] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "ballisticgrapplehook" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "stickyCollision" : true,
    "stickyForce" : 50.0,
    "maxMovementPerStep" : 0.4,

    "bounceFactor" : 0.2,

    "collisionPoly" : [ [0.25, 0], [0.9, 0.3], [1.1, 0], [0.9, -0.3] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  },

  "torpedo" : {
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-3.0, -0.5], [3.0, -0.5], [3.0, 0.5], [-3.0, 0.5] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 20,
    "airFriction" : 0.2,
    "liquidFriction" : 3,
    "liquidBuoyancy" : 1.0,
    "maximumCorrection" : 0.75
  },

  "spacemine" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.4,
    "stopOnFirstBounce" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0,
    "maximumCorrection" : 0.75
  }
}
