{
  "sfxDelta" : 5,
  "musicDelta" : 5,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/optionsmenu/header.png",
      "fileBody" : "/interface/optionsmenu/body_blank.png",
      "fileFooter" : "/interface/optionsmenu/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/optionsmenu/shine.png",
      "position" : [16, 9],
      "zlevel" : -1
    },
    "volumeLabel" : {
      "type" : "label",
      "position" : [119, 157],
      "hAnchor" : "mid",
      "value" : "VOLUME"
    },
    "sfxLabel" : {
      "type" : "label",
      "position" : [32, 140],
      "value" : "SFX"
    },
    "sfxValueLabel" : {
      "type" : "label",
      "position" : [192, 140],
      "hAnchor" : "mid",
      "value" : "Replace Me"
    },
    "musicLabel" : {
      "type" : "label",
      "position" : [32, 126],
      "value" : "Music"
    },
    "musicValueLabel" : {
      "type" : "label",
      "position" : [192, 126],
      "hAnchor" : "mid",
      "value" : "Replace Me"
    },
    "tutorialMessagesLabel" : {
      "type" : "label",
      "position" : [25, 62],
      "hAnchor" : "left",
      "value" : "TUTORIAL MESSAGES"
    },
    "tutorialMessagesCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [104, 62],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "allowAssetsMismatchLabel" : {
      "type" : "label",
      "position" : [25, 73],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "wrapWidth" : 80,
      "value" : "ALLOW ASSETS MISMATCH"
    },
    "allowAssetsMismatchCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [104, 78],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "clientIPJoinableLabel" : {
      "type" : "label",
      "position" : [125, 62],
      "hAnchor" : "left",
      "value" : "CONNECT VIA IP"
    },
    "clientIPJoinableCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [203, 62],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "clientP2PJoinableLabel" : {
      "type" : "label",
      "position" : [125, 75],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "wrapWidth" : 80,
      "value" : "MULTIPLAYER VIA STEAM FRIENDS"
    },
    "clientP2PJoinableCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [203, 78],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "backButton" : {
      "type" : "button",
      "position" : [42, 26],
      "caption" : "Back",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "acceptButton" : {
      "type" : "button",
      "position" : [140, 26],
      "caption" : "Accept",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "sfxSlider" : {
      "type" : "slider",
      "position" : [62, 142],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "musicSlider" : {
      "type" : "slider",
      "position" : [62, 128],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "showKeybindings" : {
      "type" : "button",
      "position" : [133, 95],
      "caption" : "Controls",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png"
    },
    "showGraphics" : {
      "type" : "button",
      "position" : [30, 95],
      "caption" : "Graphics",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png"
    }
  }
}
