{
  "floorPlatforms1" : {
    "pieces" : [
      {
        "name" : "genbossfloorplatform",
        "offset" : [0, 0]
      },
      {
        "name" : "genbossfloorplatform",
        "offset" : [7, 0]
      }
    ],
    "floorSpaces" : [[0, 1], [7, 1]]
  },
  "floorPlatforms2" : {
    "pieces" : [
      {
        "name" : "genbossfloorplatform",
        "offset" : [1, 0]
      },
      {
        "name" : "genbossfloorplatform",
        "offset" : [6, 0]
      }
    ],
    "floorSpaces" : [[1, 1], [6, 1]]
  },
  "floorPlatforms3" : {
    "pieces" : [
      {
        "name" : "genbossfloorplatform",
        "offset" : [2, 0]
      },
      {
        "name" : "genbossfloorplatform",
        "offset" : [5, 0]
      }
    ],
    "floorSpaces" : [[2, 1], [5, 1]]
  },
  "wallPlatformsMid" : {
    "priority" : -10,
    "pieces" : [
      {
        "name" : "genbosswallplatformleft",
        "offset" : [0, 1]
      },
      {
        "name" : "genbosswallplatformright",
        "offset" : [7, 1]
      }
    ],
    "floorSpaces" : [[0, 2], [7, 2]]
  },
  "wallPlatformsHigh" : {
    "priority" : -20,
    "pieces" : [
      {
        "name" : "genbosswallplatformleft",
        "offset" : [0, 2]
      },
      {
        "name" : "genbosswallplatformright",
        "offset" : [7, 2]
      }
    ],
    "floorSpaces" : [[0, 3], [7, 3]]
  },
  "wallButtonMid1" : {
    "pieces" : [
      {
        "name" : "genbosswallplatformleft",
        "offset" : [0, 0]
      },
      {
        "name" : "genbosswallplatformright",
        "offset" : [7, 0]
      }
    ],
    "floorSpaces" : [[0, 1], [7, 1]],
    "objects" : [
      {
        "name" : "wallbuttontrigger",
        "space" : [0, 1],
        "offset" : [4, 4]
      },
      {
        "name" : "wallbuttontrigger",
        "space" : [7, 1],
        "offset" : [4, 4]
      }
    ],
    "operator" : {
      "preconditions" : [
        ["!Interact", ["button"]],
        ["Move"]
      ],
      "postconditions" : [
        ["Interact", ["button"]]
      ],
      "statemodifiers" : [],
      "objectives" : [
        ["Interact", ["button"]]
      ]
    }
  },
  "wallButtonMid2" : {
    "pieces" : [
      {
        "name" : "genbosswallplatformleft",
        "offset" : [2, 1]
      },
      {
        "name" : "genbosswallplatformright",
        "offset" : [5, 1]
      }
    ],
    "floorSpaces" : [[2, 2], [5, 2]],
    "objects" : [
      {
        "name" : "wallbuttontrigger",
        "space" : [2, 2],
        "offset" : [4, 4]
      },
      {
        "name" : "wallbuttontrigger",
        "space" : [5, 2],
        "offset" : [4, 4]
      }
    ],
    "operator" : {
      "preconditions" : [
        ["!Interact", ["button"]],
        ["Move"]
      ],
      "postconditions" : [
        ["Interact", ["button"]]
      ],
      "statemodifiers" : [],
      "objectives" : [
        ["Interact", ["button"]]
      ]
    }
  },
  "wallButtonFloor" : {
    "pieces" : [
    ],
    "objects" : [
      {
        "name" : "wallbuttontrigger",
        "space" : [2, 0],
        "offset" : [4, 4]
      },
      {
        "name" : "wallbuttontrigger",
        "space" : [5, 0],
        "offset" : [4, 4]
      }
    ],
    "operator" : {
      "preconditions" : [
        ["DangerIn", [[2, 0], [5, 0]]],
        ["!Interact", ["button"]]
      ],
      "postconditions" : [
        ["Interact", ["button"]]
      ],
      "statemodifiers" : [],
      "objectives" : [
        ["Interact", ["button"]]
      ]
    }
  },
  "centerTriggerSpikes" : {
    "objects" : [
      {
        "name" : "largefloorspike",
        "space" : [3, 0],
        "offset" : [4, 0]
      },
      {
        "name" : "largefloorspike",
        "space" : [4, 0],
        "offset" : [4, 0]
      }
    ],

    "operator" : {
      "chance" : 0.5,
      "preconditions" : [
        ["Interact", "interactType"],
        ["BossIn", [[3, 0], [4, 0]], "CertainPosition"]
      ],
      "postconditions" : [
      ],
      "statemodifiers" : [
        ["Vulnerability", "PiercingVulnerability"]
      ]
    }
  },
  "edgeTriggerSpikes" : {
    "objects" : [
      {
        "name" : "largefloorspike",
        "space" : [1, 0],
        "offset" : [4, 0]
      },
      {
        "name" : "largefloorspike",
        "space" : [6, 0],
        "offset" : [4, 0]
      }
    ],

    "operator" : {
      "chance" : 0.5,
      "preconditions" : [
        ["Interact", "interactType"],
        ["BossIn", [[1, 0], [6, 0]], "CertainPosition"]
      ],
      "postconditions" : [
      ],
      "statemodifiers" : [
        ["Vulnerability", "PiercingVulnerability"]
      ]
    }
  },
  "smallFloorSpikes" : {
    "objects" : [
      {
        "name" : "smallfloorspike",
        "space" : [3, 0],
        "offset" : [4, 0]
      },
      {
        "name" : "smallfloorspike",
        "space" : [4, 0],
        "offset" : [4, 0]
      }
    ],

    "operator" : {
      "preconditions" : [
        ["BossIn", [[3, 0], [4, 0]], "GuidedPosition"]
      ],
      "postconditions" : [
      ],
      "statemodifiers" : [
        ["Vulnerability", "PiercingVulnerability"],
        ["BossDanger", 3, 0],
        ["BossDanger", 4, 0],
        ["!Boss", 3, 0, "CertainPosition"],
        ["!Boss", 4, 0, "CertainPosition"]
      ]
    }
  }
}
