{
  "panefeature" : {
    "type" : "panefeature"
  },
  "background" : {
    "type" : "imageStretch",
    "zlevel" : 0,
    "size" : [134, 38], // Height of itemList is added to this height
    "direction" : "vertical",
    "stretchSet" : {
      "end" : "/interface/craftingtooltip/header.png",
      "inner" : "/interface/craftingtooltip/body.png",
      "begin" : "/interface/craftingtooltip/footer.png"
    }
  },
  "title" : {
    "type" : "label",
    "position" : [63, 33], // Height of itemList is added to this y position
    "hAnchor" : "mid",
    "vAnchor" : "top",
    "wrapWidth" : 116,
    "value" : "INGREDIENTS"
  },
  "itemList" : {
    "unselectedBg" : "/interface/craftingtooltip/listitem.png",
    "selectedBg" : "/interface/craftingtooltip/listitem.png",
    "position" : [0, 21],
    "type" : "list",
    "schema" : {
      "spacing" : [0, 1],
      "memberSize" : [125, 22],
      "listTemplate" : {
        "background" : {
          "type" : "image",
          "file" : "/interface/craftingtooltip/listitem.png",
          "position" : [1, 0],
          "zlevel" : -1
        },
        "itemName" : {
          "type" : "label",
          "position" : [27, 11],
          "hAnchor" : "left",
          "vAnchor" : "mid",
          "wrapWidth" : 66,
          "lineSpacing" : 1.0,
          "value" : "Golden Moustache"
        },
        "itemIcon" : {
          "type" : "itemslot",
          "position" : [4, 2],
          "callback" : "null"
        },
        "count" : {
          "type" : "label",
          "position" : [117, 7],
          "hAnchor" : "right",
          "value" : "19/99"
        }
      }
    }
  }
}