{
  "partSize" : [31, 31],
  "partBorder" : [2, 2],
  "parts" : {
    "start" : {
      "placeable" : false,
      "dungeon" : "playerstation-start",
      "tiles" : [
        [0, 0], [1, 0], [2, 0]
      ],
      // pairs of direction : position
      // max of one anchor per direction
      "anchors" : [
        [[1, 0], [2, 0]],
        [[0, 1], [2, 0]],
        [[0, -1], [2, 0]]
      ]
    },

    "core" :  {
      "placeable" : true,
      "dungeon" : "playerstation-core",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]],
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/core.png",
      "displayName" : "Core",
      "description" : "A square room with expansion slots in 4 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 70],
        ["silverbar", 120],
        ["wire", 200]
      ]
    },

    "corehuge" :  {
      "placeable" : true,
      "dungeon" : "playerstation-hugecore",
      "tiles" : [
        [0, 2], [1, 2], [2, 2],
        [0, 1], [1, 1], [2, 1],
        [0, 0], [1, 0], [2, 0]
      ],
      "anchors" : [
        [[1, 0], [2, 1]],
        [[0, 1], [1, 2]],
        [[-1, 0], [0, 1]],
        [[0, -1], [1, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/hugecore.png",
      "displayName" : "Large Core",
      "description" : "A huge empty room with expansion slots in 4 directions.",

      "input" : [
        ["titaniumbar", 450],
        ["goldbar", 600],
        ["silverbar", 160],
        ["wire", 600]
      ]
    },

    "cross" :  {
      "placeable" : true,
      "dungeon" : "playerstation-cross",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]],
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/cross.png",
      "displayName" : "Cross Junction",
      "description" : "A cross-shaped room with expansion slots in 4 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 70],
        ["silverbar", 120],
        ["glass", 40],
        ["wire", 200]
      ]
    },

    "crosswayNESW" :  {
      "placeable" : true,
      "dungeon" : "playerstation-2bendlbtr",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]],
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/2bendlbtr.png",
      "displayName" : "Cross Corner N-E & S-W",
      "description" : "A room made of two unconnected tunnels, with expansion slots in 4 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 70],
        ["silverbar", 120],
        ["wire", 200]
      ]
    },

    "crosswayNWSE" :  {
      "placeable" : true,
      "dungeon" : "playerstation-2bendltbr",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]],
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/2bendltbr.png",
      "displayName" : "Cross Corner N-W & S-E",
      "description" : "A room made of two unconnected tunnels, with expansion slots in 4 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 70],
        ["silverbar", 120],
        ["wire", 200]
      ]
    },

    "passage" :  {
      "placeable" : true,
      "dungeon" : "playerstation-passage",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[-1, 0], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/passage.png",
      "displayName" : "Horizontal Corridor",
      "description" : "A corridor with an expansion slot on both ends.",

      "input" : [
        ["titaniumbar", 40],
        ["goldbar", 50],
        ["silverbar", 60],
        ["wire", 100]
      ]
    },

    "passageglass" :  {
      "placeable" : true,
      "dungeon" : "playerstation-passageglass",
      "tiles" : [
        [0, 0], [1, 0], [2, 0]
      ],
      "anchors" : [
        [[1, 0], [2, 0]],
        [[-1, 0], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/passageglass.png",
      "displayName" : "Long Horizontal Corridor",
      "description" : "A long horizontal glass corridor with a rail running through it. It has expansion slots on both ends.",

      "input" : [
        ["titaniumbar", 120],
        ["goldbar", 150],
        ["silverbar", 60],
        ["glass", 120],
        ["wire", 100]
      ]
    },

    "shaft" :  {
      "placeable" : true,
      "dungeon" : "playerstation-shaft",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[0, 1], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/shaft.png",
      "displayName" : "Vertical Shaft",
      "description" : "A vertical shaft with an expansion slot on both ends.",

      "input" : [
        ["titaniumbar", 40],
        ["goldbar", 50],
        ["silverbar", 60],
        ["wire", 100]
      ]
    },

    "shaftglass" :  {
      "placeable" : true,
      "dungeon" : "playerstation-shaftglass",
      "tiles" : [
        [0, 2],
        [0, 1],
        [0, 0]
      ],
      "anchors" : [
        [[0, 1], [0, 2]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/shaftglass.png",
      "displayName" : "Long Vertical Shaft",
      "description" : "A long vertical glass shaft with a rail running through it. It has expansion slots on both ends.",

      "input" : [
        ["titaniumbar", 120],
        ["goldbar", 150],
        ["silverbar", 60],
        ["glass", 120],
        ["wire", 100]
      ]
    },

    "cornerNE" :  {
      "placeable" : true,
      "dungeon" : "playerstation-bendtr",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/bendtr.png",
      "displayName" : "Corner N-E",
      "description" : "A corner shaped passage, with north and east-facing expansion slots.",

      "input" : [
        ["titaniumbar", 40],
        ["goldbar", 50],
        ["silverbar", 60],
        ["glass", 40],
        ["wire", 100]
      ]
    },

    "cornerNW" :  {
      "placeable" : true,
      "dungeon" : "playerstation-bendtl",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[-1, 0], [0, 0]],
        [[0, 1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/bendtl.png",
      "displayName" : "Corner N-W",
      "description" : "A corner shaped passage, with west and north-facing expansion slots.",

      "input" : [
        ["titaniumbar", 40],
        ["goldbar", 50],
        ["silverbar", 60],
        ["glass", 40],
        ["wire", 100]
      ]
    },

    "cornerSW" :  {
      "placeable" : true,
      "dungeon" : "playerstation-bendbl",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/bendbl.png",
      "displayName" : "Corner S-W",
      "description" : "A corner shaped passage, with west and south-facing expansion slots.",

      "input" : [
        ["titaniumbar", 40],
        ["goldbar", 50],
        ["silverbar", 60],
        ["glass", 40],
        ["wire", 100]
      ]
    },

    "cornerSE" :  {
      "placeable" : true,
      "dungeon" : "playerstation-bendbr",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/bendbr.png",
      "displayName" : "Corner S-E",
      "description" : "A corner shaped passage, with south and east-facing expansion slots.",

      "input" : [
        ["titaniumbar", 40],
        ["goldbar", 50],
        ["silverbar", 60],
        ["glass", 40],
        ["wire", 100]
      ]
    },

    "tjuncNWE" :  {
      "placeable" : true,
      "dungeon" : "playerstation-tjunctlr",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]],
        [[-1, 0], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/tjunctlr.png",
      "displayName" : "T Junction N-W-E",
      "description" : "A T junction shaped room with expansion slots in 3 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 60],
        ["silverbar", 90],
        ["glass", 40],
        ["wire", 150]
      ]
    },

    "tjuncNSE" :  {
      "placeable" : true,
      "dungeon" : "playerstation-tjuncrtb",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[0, 1], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/tjuncrtb.png",
      "displayName" : "T Junction N-S-E",
      "description" : "A T junction shaped room with expansion slots in 3 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 60],
        ["silverbar", 90],
        ["glass", 40],
        ["wire", 150]
      ]
    },

    "tjuncNSW" :  {
      "placeable" : true,
      "dungeon" : "playerstation-tjuncltb",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[0, 1], [0, 0]],
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/tjuncltb.png",
      "displayName" : "T Junction N-S-W",
      "description" : "A T junction shaped room with expansion slots in 3 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 60],
        ["silverbar", 90],
        ["glass", 40],
        ["wire", 150]
      ]
    },

    "tjuncSWE" :  {
      "placeable" : true,
      "dungeon" : "playerstation-tjuncblr",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[-1, 0], [0, 0]],
        [[0, -1], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/tjuncblr.png",
      "displayName" : "T Junction S-W-E",
      "description" : "A T junction shaped room with expansion slots in 3 directions.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 60],
        ["silverbar", 90],
        ["glass", 40],
        ["wire", 150]
      ]
    },

    "mechassembly" :  {
      "placeable" : true,
      "dungeon" : "playerstation-mechassembly",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]],
        [[-1, 0], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/mechassembly.png",
      "displayName" : "Mech Assembly Room",
      "description" : "A corridor with a mech assembly station and mech crafting station. It has expansion slots on both ends.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 70],
        ["silverbar", 60],
        ["wire", 100],
        ["salvagetier5", 40]
      ]
    },

    "mechbayL" :  {
      "placeable" : true,
      "dungeon" : "playerstation-mechbayleft",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[1, 0], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/mechbayleft.png",
      "displayName" : "Mech Bay West",
      "description" : "A west-facing station entrance, suitable for landing mechs.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 80],
        ["silverbar", 40],
        ["salvagetier4", 20]
      ]
    },

    "mechbayR" :  {
      "placeable" : true,
      "dungeon" : "playerstation-mechbayright",
      "tiles" : [
        [0, 0]
      ],
      "anchors" : [
        [[-1, 0], [0, 0]]
      ],

      "icon" : "/dungeons/space/playerstation/mechbayright.png",
      "displayName" : "Mech Bay East",
      "description" : "An east-facing station entrance, suitable for landing mechs.",

      "input" : [
        ["titaniumbar", 50],
        ["goldbar", 80],
        ["silverbar", 40],
        ["salvagetier4", 20]
      ]
    }
  }
}
