{
  "systemNames" : [
    [1.0, "Persei" ],
    [1.0, "Cephei" ],
    [1.0, "Leonis" ],
    [1.0, "Hydrae" ],
    [1.0, "Leporis" ],
    [1.0, "Upsilon" ],
    [1.0, "Aquarii" ],
    [1.0, "Aurigae" ],
    [1.0, "Australis" ],
    [1.0, "Cancri" ],
    [1.0, "Canis" ],
    [1.0, "Carinae" ],
    [1.0, "Cas" ],
    [1.0, "Ceti" ],
    [1.0, "Coronae" ],
    [1.0, "Crateris" ],
    [1.0, "Crucis" ],
    [1.0, "Crucis" ],
    [1.0, "Cygni" ],
    [1.0, "Draconis" ],
    [1.0, "Eri" ],
    [1.0, "Gruis" ],
    [1.0, "Herculis" ],
    [1.0, "Lyncis" ],
    [1.0, "Lyrae" ],
    [1.0, "Orionis" ],
    [1.0, "Pegasi" ],
    [1.0, "Phoenicis" ],
    [1.0, "Piscium" ],
    [1.0, "Sagittarii" ],
    [1.0, "Sco" ],
    [1.0, "Tauri" ],
    [1.0, "Trianguli" ],
    [1.0, "Virginis" ],
    [1.0, "Andromidae" ],
    [1.0, "Arietis" ],
    [1.0, "Corvi" ],
    [1.0, "Mensae" ],
    [1.0, "Acamar" ],
    [1.0, "Achernar" ],
    [1.0, "Achird" ],
    [1.0, "Acrux" ],
    [1.0, "Acubens" ],
    [1.0, "Adhafera" ],
    [1.0, "Adhara" ],
    [1.0, "Ain" ],
    [1.0, "Aladfar" ],
    [1.0, "Al Athfar" ],
    [1.0, "Albaldah" ],
    [1.0, "Albali" ],
    [1.0, "Albireo" ],
    [1.0, "Alchiba" ],
    [1.0, "Alcor" ],
    [1.0, "Alcyone" ],
    [1.0, "Aldebaran" ],
    [1.0, "Alderamin" ],
    [1.0, "Alfecca" ],
    [1.0, "Alfirk" ],
    [1.0, "Algedi" ],
    [1.0, "Algenib" ],
    [1.0, "Algenubi" ],
    [1.0, "Algieba" ],
    [1.0, "Algol" ],
    [1.0, "Alhena" ],
    [1.0, "Alifa" ],
    [1.0, "Alioth" ],
    [1.0, "Alkaid" ],
    [1.0, "Alkalurops" ],
    [1.0, "Algorab" ],
    [1.0, "Al Kaphrah" ],
    [1.0, "Alkes" ],
    [1.0, "Almaaz" ],
    [1.0, "Almach" ],
    [1.0, "Al Minliar" ],
    [1.0, "Asad" ],
    [1.0, "Al Nair" ],
    [1.0, "Alnasl" ],
    [1.0, "Alnilam" ],
    [1.0, "Alnitak" ],
    [1.0, "Al Niyat" ],
    [1.0, "Alpha" ],
    [1.0, "Alphard" ],
    [1.0, "Alphecca" ],
    [1.0, "Alpheratz" ],
    [1.0, "Alrescha" ],
    [1.0, "Alsafi" ],
    [1.0, "Alsciaukat" ],
    [1.0, "Alshain" ],
    [1.0, "Altais" ],
    [1.0, "Altair" ],
    [1.0, "Al Tarf" ],
    [1.0, "Alterf" ],
    [1.0, "Al Thalimain" ],
    [1.0, "Aludra" ],
    [1.0, "Alula" ],
    [1.0, "Australis" ],
    [1.0, "Alula Borealis" ],
    [1.0, "Alya" ],
    [1.0, "Al Zirr" ],
    [1.0, "Ankaa" ],
    [1.0, "Anser" ],
    [1.0, "Antares" ],
    [1.0, "Anwar al Farkadain" ],
    [1.0, "Arcturus" ],
    [1.0, "Arkab" ],
    [1.0, "Arrakis" ],
    [1.0, "Ascella" ],
    [1.0, "Asellus" ],
    [1.0, "Aspidiske" ],
    [1.0, "Atik" ],
    [1.0, "Atlas" ],
    [1.0, "Atria" ],
    [1.0, "Avior" ],
    [1.0, "Azha" ],
    [1.0, "Baten Kaitos" ],
    [1.0, "Beid" ],
    [1.0, "Bellatrix" ],
    [1.0, "Beta" ],
    [1.0, "Betelgeuse" ],
    [1.0, "Biham" ],
    [1.0, "Canopus" ],
    [1.0, "Capella" ],
    [1.0, "Caph" ],
    [1.0, "Castor" ],
    [1.0, "Cebalrai" ],
    [1.0, "Celaeno" ],
    [1.0, "Chara" ],
    [1.0, "Chertan" ],
    [1.0, "Chi" ],
    [1.0, "Cor Caroli" ],
    [1.0, "Cursa" ],
    [1.0, "Cygnus X-1" ],
    [1.0, "Dabih" ],
    [1.0, "Delta" ],
    [1.0, "Deneb" ],
    [1.0, "Diadem" ],
    [1.0, "Dschubba" ],
    [1.0, "Dubhe" ],
    [1.0, "Edasich" ],
    [1.0, "Electra" ],
    [1.0, "Elnath" ],
    [1.0, "Eltanin" ],
    [1.0, "Enif" ],
    [1.0, "Errai" ],
    [1.0, "Eta" ],
    [1.0, "Fomalhaut" ],
    [1.0, "Furud" ],
    [1.0, "Gacrux" ],
    [1.0, "Gamma" ],
    [1.0, "Garnet" ],
    [1.0, "Giausar" ],
    [1.0, "Gienah" ],
    [1.0, "Girtab" ],
    [1.0, "Gomeisa" ],
    [1.0, "Gorgonea" ],
    [1.0, "Graffias" ],
    [1.0, "Grumium" ],
    [1.0, "Hadar" ],
    [1.0, "Haedus" ],
    [1.0, "Hamal" ],
    [1.0, "Heze" ],
    [1.0, "Hind" ],
    [1.0, "Homam" ],
    [1.0, "Hyadum" ],
    [1.0, "Hydor" ],
    [1.0, "Iota" ],
    [1.0, "Izar" ],
    [1.0, "Jabbah" ],
    [1.0, "Kaffaljidhma" ],
    [1.0, "Kakkab" ],
    [1.0, "Kappa" ],
    [1.0, "Kaus" ],
    [1.0, "Kitalpha" ],
    [1.0, "Kochab" ],
    [1.0, "Kornephoros" ],
    [1.0, "Kraz" ],
    [1.0, "Kullat" ],
    [1.0, "Kuma" ],
    [1.0, "Kurhah" ],
    [1.0, "Lambda" ],
    [1.0, "Lesath" ],
    [1.0, "Maia" ],
    [1.0, "Marfik" ],
    [1.0, "Markab" ],
    [1.0, "Markeb" ],
    [1.0, "Marsic" ],
    [1.0, "Matar" ],
    [1.0, "Mebsuta" ],
    [1.0, "Megrez" ],
    [1.0, "Meissa" ],
    [1.0, "Mekbuda" ],
    [1.0, "Menkalinan" ],
    [1.0, "Menkar" ],
    [1.0, "Menkent" ],
    [1.0, "Menkib" ],
    [1.0, "Merak" ],
    [1.0, "Merope" ],
    [1.0, "Mesarthim" ],
    [1.0, "Miaplacidus" ],
    [1.0, "Mimosa" ],
    [1.0, "Minkar" ],
    [1.0, "Mintaka" ],
    [1.0, "Mira" ],
    [1.0, "Mirach" ],
    [1.0, "Mirfak" ],
    [1.0, "Mirzam" ],
    [1.0, "Mizar" ],
    [1.0, "Mothallah" ],
    [1.0, "Mu" ],
    [1.0, "Muhlifain" ],
    [1.0, "Muliphein" ],
    [1.0, "Muliphen" ],
    [1.0, "Muphrid" ],
    [1.0, "Muscida" ],
    [1.0, "Naos" ],
    [1.0, "Nashira" ],
    [1.0, "Nekkar" ],
    [1.0, "Nihal" ],
    [1.0, "Nu" ],
    [1.0, "Nunki" ],
    [1.0, "Nusakan" ],
    [1.0, "Omega" ],
    [1.0, "Omicron" ],
    [1.0, "Peacock" ],
    [1.0, "Persian" ],
    [1.0, "Phact" ],
    [1.0, "Phecda" ],
    [1.0, "Pherkad" ],
    [1.0, "Phi" ],
    [1.0, "Pi" ],
    [1.0, "Plaskett" ],
    [1.0, "Pleione" ],
    [1.0, "Polaris" ],
    [1.0, "Polis" ],
    [1.0, "Pollux" ],
    [1.0, "Porrima" ],
    [1.0, "Praecipua" ],
    [1.0, "Procyon" ],
    [1.0, "Propus" ],
    [1.0, "Proxima Cen" ],
    [1.0, "Psi" ],
    [1.0, "Rana" ],
    [1.0, "Rasalas" ],
    [1.0, "Rastaban" ],
    [1.0, "Regor" ],
    [1.0, "Regulus" ],
    [1.0, "Rigel" ],
    [1.0, "Rigil" ],
    [1.0, "Rotanev" ],
    [1.0, "Ruchba" ],
    [1.0, "Ruchbah" ],
    [1.0, "Rukbat" ],
    [1.0, "Sabik" ],
    [1.0, "Sadachbia" ],
    [1.0, "Sadalbari" ],
    [1.0, "Sadalmelik" ],
    [1.0, "Sadalsuud" ],
    [1.0, "Sadr" ],
    [1.0, "Saiph" ],
    [1.0, "Scheat" ],
    [1.0, "Segin" ],
    [1.0, "Seginus" ],
    [1.0, "Sham" ],
    [1.0, "Shaula" ],
    [1.0, "Shedar" ],
    [1.0, "Sheliak" ],
    [1.0, "Sheratan" ],
    [1.0, "Sigma" ],
    [1.0, "Sirius" ],
    [1.0, "Skat" ],
    [1.0, "Spica" ],
    [1.0, "Sualocin" ],
    [1.0, "Subra" ],
    [1.0, "Suhail" ],
    [1.0, "Sulafat" ],
    [1.0, "Syrma" ],
    [1.0, "Tabit" ],
    [1.0, "Talitha" ],
    [1.0, "Tarazed" ],
    [1.0, "Tau" ],
    [1.0, "Taygeta" ],
    [1.0, "Tegmine" ],
    [1.0, "Tejat" ],
    [1.0, "Theta" ],
    [1.0, "Thuban" ],
    [1.0, "Tureis" ],
    [1.0, "Unukalhai" ],
    [1.0, "Vega" ],
    [1.0, "Vindemiatrix" ],
    [1.0, "Wasat" ],
    [1.0, "Wezen" ],
    [1.0, "Xi" ],
    [1.0, "Yildun" ],
    [1.0, "Zaniah" ],
    [1.0, "Zaurak" ],
    [1.0, "Zavijava" ],
    [1.0, "Zeta" ],
    [1.0, "Zibal" ],
    [1.0, "Zosma" ],
    [1.0, "Zubenelgenubi" ],
    [1.0, "Zubeneschamali" ],
    [1.0, "Zubenhakrabi" ],
    // community additions
    [1.0, "Iris" ],
    [1.0, "Marsha" ],
    [1.0, "Luna" ],
    [1.0, "Indie" ],
    [1.0, "Tiy" ],
    [1.0, "Demanrisu" ],
    [1.0, "Raze" ],
    [1.0, "Great Griddle" ],
    [1.0, "Glowygos" ],
    [1.0, "Iraculi" ],
    [1.0, "Kyren" ],
    [1.0, "Bartwe" ],
    [1.0, "Pulso" ],
    [1.0, "Araxis" ],
    [1.0, "Yulan" ],
    [1.0, "Vaxas" ],
    [1.0, "Xini" ],
    [1.0, "Nye" ],
    [1.0, "Umbraxion" ],
    [1.0, "Thormiun" ],
    [1.0, "Hypernexus" ],
    [1.0, "Kalodox" ],
    [1.0, "Requia" ],
    [1.0, "Colloque" ],
    [1.0, "Ragnarok" ],
    [1.0, "Tootooki" ],
    [1.0, "Pyrocia" ],
    [1.0, "Aquacia" ],
    [1.0, "Aerocia" ],
    [1.0, "Umbracia" ],
    [1.0, "Necrocia" ],
    [1.0, "Cryocia" ],
    [1.0, "Electrocia" ],
    [1.0, "Dracocia" ],
    [1.0, "Chronotias" ],
    [1.0, "Diabli" ],
    [1.0, "Omnibenevo" ],
    [1.0, "Omnimalevo" ],
    [1.0, "Unios" ],
    [1.0, "Duania" ],
    [1.0, "Triaci" ],
    [1.0, "Quatraz" ],
    [1.0, "Atomilion" ],
    [1.0, "Assimilia" ],
    [1.0, "Decimata" ],
    [1.0, "Velocia" ],
    [1.0, "Datoa" ],
    [1.0, "Tiko" ],
    [1.0, "Vix" ],
    [1.0, "Umbria" ],
    [1.0, "Aei" ],
    [1.0, "Omicron" ],
    [1.0, "Epsilo" ],
    [1.0, "Alpha Tiyutauri" ],
    [1.0, "Alpha Tiyuri" ],
    [1.0, "Solaire" ],
    [1.0, "Syzygy" ],
    [1.0, "alidsl" ],
    [1.0, "Leela" ],
    [1.0, "Calliope" ],
    [1.0, "Clio" ],
    [1.0, "Erato" ],
    [1.0, "Euterpe" ],
    [1.0, "Melpomene" ],
    [1.0, "Polyhymnia" ],
    [1.0, "Terpsichore" ],
    [1.0, "Thalia " ],
    [1.0, "Urania" ],
    [1.0, "Underwood" ],
    [1.0, "Elebis" ],
    [1.0, "Gloomii" ],
    [1.0, "Zoinks" ],
    [1.0, "Telladar" ],
    [1.0, "Bram" ],
    [1.0, "Hoyle" ],
    [1.0, "Vixxarius" ],
    [1.0, "Myn" ],
    [1.0, "Rappart" ],
    [1.0, "Qwom" ],
    [1.0, "Gor" ],
    [1.0, "Chimakah" ],
    [1.0, "Marsin" ],
    [1.0, "Ardentee" ],
    [1.0, "Ramfar" ],
    [1.0, "Babalohn" ],
    [1.0, "Seeta" ],
    [1.0, "Gautam" ],
    [1.0, "Gita" ],
    [1.0, "Maimon" ],
    [1.0, "Merkab" ],
    [1.0, "Zoha" ],
    [1.0, "Aten" ],
    [1.0, "Malkut" ],
    [1.0, "Tiferet" ],
    [1.0, "Keter" ],
    [1.0, "Be'el" ],
    [1.0, "Beeblebrox" ],
    [1.0, "Vinnland" ],
    [1.0, "Celestia" ],
    [1.0, "Canoodle" ],
    [1.0, "Flummox" ],
    [1.0, "Goombah" ],
    [1.0, "Zerus" ],
    [1.0, "Illusoria" ],
    [1.0, "Horsebutt" ],
    [1.0, "Obsecri" ],
    [1.0, "Hyperion" ],
    [1.0, "Kipkron" ],
    [1.0, "Ultragon" ],
    [1.0, "Zell" ],
    [1.0, "Puxerion" ],
    [1.0, "Redditron" ],
    [1.0, "Vadrock" ],
    [1.0, "Magrathea" ],
    [1.0, "Krikkit" ],
    [1.0, "Viltvodle VI" ],
    [1.0, "Migli" ],
    [1.0, "Aglleos" ],
    [1.0, "Pitcheon" ],
    [1.0, "Sethusk" ],
    [1.0, "Eulernia" ],
    [1.0, "Earneck" ],
    [1.0, "Zentalion" ],
    [1.0, "Icarus" ],
    [1.0, "Xixivaius" ],
    [1.0, "Aserbus" ],
    [1.0, "Hamasaki" ],
    [1.0, "Litus" ],
    [1.0, "Kuro" ],
    [1.0, "Cruithne" ],
    [1.0, "Nenneto" ],
    [1.0, "Chisti" ],
    [1.0, "Kalila" ],
    [1.0, "Et'hahlid" ],
    [1.0, "Xetonarus" ],
    [1.0, "Larkheed" ],
    [1.0, "Bazingo" ],
    [1.0, "Gamma Koric" ],
    [1.0, "Shaunabean" ],
    [1.0, "Xaerolloux" ],
    [1.0, "Kyron" ],
    [1.0, "Lagomorpha" ],
    [1.0, "Lapine" ],
    [1.0, "Moirai" ],
    [1.0, "Tartarus" ],
    [1.0, "Aether" ],
    [1.0, "Apate" ],
    [1.0, "Oizys" ],
    [1.0, "Ratatoskr" ],
    [1.0, "Thanatos" ],
    [1.0, "Yggdrasil" ],
    [1.0, "Gaia" ],
    [1.0, "Oneiroi" ],
    [1.0, "Geras" ],
    [1.0, "Geras" ],
    [1.0, "Erebus" ],
    [1.0, "Integra" ],
    [1.0, "Asgardion" ],
    [1.0, "Alvas" ],
    [1.0, "Lacrecille" ],
    [1.0, "Merquia" ],
    [1.0, "Parletty" ],
    [1.0, "Sharcedon" ],
    [1.0, "Neronoia" ],
    [1.0, "Ichora" ],
    [1.0, "Lululit" ],
    [1.0, "Lacedia" ],
    [1.0, "Meridie" ],
    [1.0, "Tessera" ],
    [1.0, "Zeces" ],
    [1.0, "Folcetta" ],
    [1.0, "Helgavisa" ],
    [1.0, "Astrax" ],
    [1.0, "Zormedra" ],
    [1.0, "Mendragol" ],
    [1.0, "Zol" ],
    [1.0, "Prima-nor" ],
    [1.0, "Ceti-Nine" ],
    [1.0, "Veragon" ],
    [1.0, "Acera" ],
    [1.0, "Karaxis" ],
    [1.0, "Skios" ],
    [1.0, "Thanatos" ],
    [1.0, "Naurluin" ],
    [1.0, "Korvin" ],
    [1.0, "Joson" ],
    [1.0, "Omniculpa" ],
    [1.0, "Stegamagister" ],
    [1.0, "Tenebris" ],
    [1.0, "Venator" ],
    [1.0, "Torcularis" ],
    [1.0, "Fribbilus Xax" ],
    [1.0, "Fargle VIII" ],
    [1.0, "Celestal" ],
    [1.0, "Luun" ],
    [1.0, "Pikka" ],
    [1.0, "Ronder" ],
    [1.0, "Vitus Gigantus" ],
    [1.0, "Exibiir" ],
    [1.0, "Qigon" ],
    [1.0, "Occeing" ],
    [1.0, "Epingi" ],
    [1.0, "Unba" ],
    [1.0, "Eleion" ],
    [1.0, "Aaoe" ],
    [1.0, "Shilvina" ],
    [1.0, "Ortopia" ],
    [1.0, "Embroxillia" ],
    [1.0, "Aurius" ],
    [1.0, "Symbillius" ],
    [1.0, "Maximus" ],
    [1.0, "Pyromia" ],
    [1.0, "Parcomium" ],
    [1.0, "Intrapillium" ],
    [1.0, "Aximia" ],
    [1.0, "Aeria" ],
    [1.0, "Markithion" ],
    [1.0, "Chimpunius" ],
    [1.0, "Loksdol" ],
    [1.0, "Marinius" ],
    [1.0, "Charr" ],
    [1.0, "Magna Lupo" ],
    [1.0, "Syrinx" ],
    [1.0, "Rempe" ],
    [1.0, "Copernicus" ],
    [1.0, "Baomra" ],
    [1.0, "Lathasia" ],
    [1.0, "Senet" ],
    [1.0, "Beartonias" ],
    [1.0, "Vyrmyryl" ],
    [1.0, "Dumile" ],
    [1.0, "Gath Memvar" ],
    [1.0, "Kyatz" ],
    [1.0, "Evival" ],
    [1.0, "Ondor" ],
    [1.0, "Moatoron" ],
    [1.0, "Lumens" ],
    [1.0, "Waimai" ],
    [1.0, "Toxidion" ],
    [1.0, "Friedstar" ],
    [1.0, "Waterosa " ],
    [1.0, "Maiia" ],
    [1.0, "Doppledae" ],
    [1.0, "Terminatus" ],
    [1.0, "Oswin" ],
    [1.0, "Pond" ],
    [1.0, "Astrix" ],
    [1.0, "Oatem" ],
    [1.0, "Tomoch" ],
    [1.0, "Luxsol" ],
    [1.0, "Chuantak" ],
    [1.0, "Premium" ],
    [1.0, "Orabelli" ],
    [1.0, "Melpomenia" ],
    [1.0, "Doppledae" ],
    [1.0, "Gordon" ],
    [1.0, "Utharex" ],
    [1.0, "Wonton" ],
    [1.0, "Alyond" ],
    [1.0, "Graros" ],
    [1.0, "Balon" ],
    [1.0, "Mezzgorg" ],
    [1.0, "Glynaith" ],
    [1.0, "Zepjub" ],
    [1.0, "Sloodhon" ],
    [1.0, "Alice" ],
    [1.0, "Harobed" ],
    [1.0, "Skaarj" ],
    [1.0, "Maya" ],
    [1.0, "Lilith" ],
    [1.0, "Duskwood" ],
    [1.0, "Sabby" ],
    [1.0, "Vadrock" ],
    [1.0, "Lenna" ],
    [1.0, "Krism" ],
    [1.0, "Councilos" ],
    [1.0, "Dexter" ],
    [1.0, "Crosbot" ],
    [1.0, "Lesloy" ],
    [1.0, "Siru" ],
    [1.0, "Ruthion" ],
    [1.0, "Gerian" ],
    [1.0, "Vaastolaan" ],
    [1.0, "Andrea" ],
    [1.0, "Glados" ]

  ],

  "systemPrefixNames" : [
  ],

  "systemSuffixNames" : [
    [1.0, "Majoris" ],
    [1.0, "Minoris" ],
    [1.0, "Prime" ],
    [1.0, "Cluster" ],
    [1.0, "Basin" ],
    [1.0, "Stream" ],
    [1.0, "Crest" ],
    [1.0, "Beta" ],
    [1.0, "Rim" ],
    [1.0, "Gamma" ],
    [1.0, "Nexus" ],
    [1.0, "Nest" ],
    [1.0, "Frontier" ],
    [1.0, "Waste" ],
    [1.0, "Expanse" ],
    [1.0, "Veil" ],
    [1.0, "Cradle" ],
    [1.0, "Threshold" ],
    [1.0, "Wake" ],
    [1.0, "Rift" ],
    [1.0, "Sigma" ],
    [1.0, "Delta" ],
    [1.0, "Ridge" ],
    [1.0, "Rest" ],
    [1.0, "Eclipse" ],
    [1.0, "Tide" ],
    [1.0, "Formation" ],
    [1.0, "Order" ],
    [1.0, "Mass" ],
    [1.0, "Swarm" ],
    [1.0, "Crescent" ],
    [1.0, "Myriad" ],
    [1.0, "Legion" ],
    [1.0, "Muster" ],
    [1.0, "Traverse"],
    [1.0, "Strand"],
    [1.0, "Grasp"],
    [1.0, "Morass"],
    [1.0, "Precipice"],
    [1.0, "Mire"],
    [1.0, "Stand"],
    [1.0, "" ]
  ],

  "planetarySuffixes" : [ "^green;I^white;", "^green;II^white;", "^green;III^white;", "^green;IV^white;", "^green;V^white;", "^green;VI^white;", "^green;VII^white;", "^green;VIII^white;", "^green;IX^white;", "^green;X^white;", "^green;XI^white;", "^green;XII^white;" ],
  "satelliteSuffixes" : [ "^white;- ^yellow;a^white;", "^white;- ^yellow;b^white;", "^white;- ^yellow;c^white;", "^white;- ^yellow;d^white;", "^white;- ^yellow;e^white;", "^white;- ^yellow;f^white;", "^white;- ^yellow;g^white;", "^white;- ^yellow;h^white;", "^white;- ^yellow;i^white;", "^white;- ^yellow;j^white;", "^white;- ^yellow;k^white;", "^white;- ^yellow;l^white;" ]
}
