{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/objects/outpost/signstore/signdispenserright.png",
      "maxSize" : [120, 80],
      "minSize" : [60, 60],
      "centered" : true,
      "position" : [39, 79],
      "zlevel" : -3
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 125]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 31],
      "dimensions" : [4, 2],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [90, 80],
      "slotOffset" : 8,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "OUTPUT",
      "hAnchor" : "left",
      "position" : [86, 70]
    },
    "pointer" : {
      "type" : "image",
      "position" : [115, 84],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "count" : {
      "type" : "label",
      "value" : "INPUT",
      "hAnchor" : "left",
      "position" : [88, 99]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 0]
    }
  }
}
