{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/easel/consoleheader.png",
      "fileBody" : "/interface/easel/consolebody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 34, 356, 149],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 2,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [338, 155]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "E.A.S.E.L",
      "subtitle" : "^#b9b5b2;Elegantly Automatic Sign Engineering Lithographer",
      "icon" : {
        "type" : "image",
        "file" : "/interface/easel/consoleheadericon.png",
        "scale" : 0.9,
        "zlevel" : -1
      }
    }
  },

  "scripts" : [
    "/scripts/util.lua",
    "/scripts/vec2.lua",
    "/interface/easel/signstoregui.lua",
    "/objects/outpost/signstore/customeasel-data.lua"
  ],
  "scriptDelta" : 2,

  "canvasClickCallbacks" : {
    "scriptCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "scriptCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
  ]
}
