// Original list sourced from https://github.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
// This work is licensed under a Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/)
[
  "npebgbzbcuvyvn",
  "nany",
  "navyvathf",
  "nahf",
  "ncrfuvg",
  "nefrubyr",
  "nff",
  "nffubyr",
  "nffzhapu",
  "nhgbrebgvp",
  "onorynaq",
  "onyyfnpx",
  "onatoebf",
  "oneronpx",
  "oneranxrq",
  "onfgneq",
  "onfgneqb",
  "onfgvanqb",
  "ooj",
  "oqfz",
  "ornare",
  "ornaref",
  "orfgvnyvgl",
  "ovzobf",
  "oveqybpx",
  "ovgpu",
  "ovgpurf",
  "oybjwbo",
  "oyhzcxva",
  "obyybpxf",
  "obaqntr",
  "obare",
  "obbo",
  "obbof",
  "ohxxnxr",
  "ohyyqlxr",
  "ohyyfuvg",
  "ohatubyr",
  "ohfgl",
  "ohgg",
  "ohggpurrxf",
  "ohggubyr",
  "pnztvey",
  "pnzfyhg",
  "pnzjuber",
  "pnecrgzhapure",
  "pvepyrwrex",
  "pyvg",
  "pyvgbevf",
  "pyhfgreshpx",
  "pbpx",
  "pbpxf",
  "pbcebyntavn",
  "pbcebcuvyvn",
  "pbeaubyr",
  "pbba",
  "pbbaf",
  "pernzcvr",
  "phz",
  "phzzvat",
  "phaavyvathf",
  "phag",
  "qnexvr",
  "qngrencr",
  "qrrcguebng",
  "qraqebcuvyvn",
  "qvpx",
  "qvyqb",
  "qvatyroreel",
  "qvatyroreevrf",
  "qbttvrfglyr",
  "qbttlfglyr",
  "qbyprgg",
  "qbzvangvba",
  "qbzvangevk",
  "qbzzrf",
  "qiqn",
  "rppuv",
  "rwnphyngvba",
  "rebgvp",
  "rebgvfz",
  "rfpbeg",
  "rhahpu",
  "snttbg",
  "srpny",
  "srypu",
  "sryyngvb",
  "srygpu",
  "srzqbz",
  "svttvat",
  "svatreonat",
  "svatrevat",
  "svfgvat",
  "sbbgwbo",
  "sebggvat",
  "shpx",
  "shpxva",
  "shpxvat",
  "shpxgneqf",
  "shqtrcnpxre",
  "shgnanev",
  "travgnyf",
  "tbngpk",
  "tbngfr",
  "tbxxha",
  "tbbqcbbc",
  "tbertnfz",
  "tebcr",
  "t-spot",
  "theb",
  "unaqwbo",
  "uneqpber",
  "uragnv",
  "ubzbrebgvp",
  "ubaxrl",
  "ubbxre",
  "uhzcvat",
  "vaprfg",
  "vagrepbhefr",
  "wnvyonvg",
  "wvtnobb",
  "wvttnobb",
  "wvttreobb",
  "wvmm",
  "whttf",
  "xvxr",
  "xvaonxh",
  "xvaxfgre",
  "xvaxl",
  "xaboovat",
  "ybyvgn",
  "ybirznxvat",
  "znfgheongr",
  "zvys",
  "zbgureshpxre",
  "zhssqvivat",
  "anzoyn",
  "anjnfuv",
  "arteb",
  "arbanmv",
  "avttn",
  "avttre",
  "avzcubznavn",
  "avccyr",
  "avccyrf",
  "ahqr",
  "ahqvgl",
  "alzcub",
  "alzcubznavn",
  "bpgbchffl",
  "bzbenfuv",
  "betnfz",
  "betl",
  "cnrqbcuvyr",
  "cnxv",
  "cnagvrf",
  "cnagl",
  "crqborne",
  "crqbcuvyr",
  "crttvat",
  "cravf",
  "cvffvat",
  "cvffcvt",
  "cynlobl",
  "cbalcynl",
  "cbbs",
  "cbba",
  "cbbagnat",
  "chanal",
  "cbbcpuhgr",
  "cbea",
  "cbeab",
  "cbeabtencul",
  "cgup",
  "chorf",
  "chffl",
  "dhrns",
  "dhrrs",
  "dhvz",
  "enturnq",
  "encr",
  "encvat",
  "encvfg",
  "erpghz",
  "evzwbo",
  "evzzvat",
  "fnqvfz",
  "fnagbehz",
  "fpng",
  "fpuybat",
  "fpvffbevat",
  "frzra",
  "frk",
  "frkb",
  "frkl",
  "furznyr",
  "fuvonev",
  "fuvg",
  "fuvgoyvzc",
  "fuvggl",
  "fubgn",
  "fuevzcvat",
  "fxrrg",
  "fynagrlr",
  "fyhg",
  "f&m",
  "fzhg",
  "fangpu",
  "fabjonyyvat",
  "fbqbzvmr",
  "fbqbzl",
  "fcvp",
  "fcybbtr",
  "fcbbtr",
  "fchax",
  "fgencba",
  "fgenccnqb",
  "fhpx",
  "fhpxf",
  "fjnfgvxn",
  "fjvatre",
  "guerrfbzr",
  "guebngvat",
  "gvgf",
  "gvggvrf",
  "gvggl",
  "gbcyrff",
  "gbffre",
  "gbjryurnq",
  "genaal",
  "gevonqvfz",
  "ghotvey",
  "ghful",
  "gjng",
  "gjvax",
  "gjvaxvr",
  "haqerffvat",
  "hcfxveg",
  "hebcuvyvn",
  "intvan",
  "ivoengbe",
  "ibenercuvyvn",
  "iblrhe",
  "ihyin",
  "jnax",
  "jrgonpx",
  "kkk",
  "lnbv",
  "lvssl",
  "mbbcuvyvn",
  "anmv",
  "crqb"
]
