{
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/modsmenu/header.png",
      "fileBody" : "/interface/modsmenu/body.png",
      "fileFooter" : "/interface/modsmenu/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Mods",
      "subtitle" : "^#b9b5b2;Currently loaded asset sources",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/modsmenu/iconmodmanager.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "modListBackground" : {
      "type" : "image",
      "file" : "/interface/modsmenu/scrollbg.png",
      "position" : [2, 37],
      "zlevel" : -5
    },

    "informationBackground" : {
      "type" : "image",
      "file" : "/interface/modsmenu/informationbg.png",
      "position" : [175, 37],
      "zlevel" : -5
    },

    "mods" : {
      "type" : "scrollArea",
      "rect" : [3, 45, 172, 204],
      "children" : {
        "list" : {
          "type" : "list",
          "position" : [1, -1],
          "schema" : {
            "selectedBG" : "/interface/modsmenu/modselected.png",
            "unselectedBG" : "/interface/modsmenu/modbackground.png",
            "spacing" : [0, 1],
            "memberSize" : [162, 18],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/modsmenu/modbackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "file" : "/interface/modsmenu/modicon.png",
                "position" : [2, 2],
                "zlevel" : 1
              },
              "name" : {
                "type" : "label",
                "position" : [22, 10],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "width" : 138,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },

    "selectmodlabel" : {
      "type" : "label",
      "value" : "Select Mod",
      "position" : [79, 215],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "fontSize" : 9
    },

    "lblDescription" : {
      "type" : "label",
      "value" : "Description",
      "position" : [258, 142],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "fontSize" : 9
    },

    "modname" : {
      "type" : "label",
      "value" : "",
      "position" : [258, 216],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "fontSize" : 9
    },

    "modauthorlabel" : {
      "type" : "label",
      "value" : "AUTHOR",
      "position" : [179, 201],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#b9b5b2",
      "fontSize" : 8
    },

    "modauthor" : {
      "type" : "label",
      "value" : "",
      "position" : [217, 201],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "fontSize" : 8
    },

    "modversionlabel" : {
      "type" : "label",
      "value" : "VERSION",
      "position" : [179, 188],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#b9b5b2",
      "fontSize" : 8
    },

    "modversion" : {
      "type" : "label",
      "value" : "",
      "position" : [217, 188],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "fontSize" : 8
    },

    "linklabel" : {
      "type" : "label",
      "visible" : false,
      "value" : "OPEN MOD HOMEPAGE",
      "position" : [193, 173],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#b9b5b2",
      "fontSize" : 8
    },

    "linkbutton" : {
      "type" : "button",
      "visible" : false,
      "callback" : "linkbutton",
      "base" : "/interface/modsmenu/view.png",
      "hover" : "/interface/modsmenu/viewhover.png",
      "pressed" : "/interface/modsmenu/viewactive.png",
      "position" : [294, 163]
    },

    "copylinklabel" : {
      "type" : "label",
      "visible" : false,
      "value" : "COPY MOD HOMEPAGE LINK",
      "position" : [185, 173],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#b9b5b2",
      "fontSize" : 8
    },

    "copylinkbutton" : {
      "type" : "button",
      "visible" : false,
      "callback" : "linkbutton",
      "base" : "/interface/modsmenu/copy.png",
      "hover" : "/interface/modsmenu/copyhover.png",
      "pressed" : "/interface/modsmenu/copyactive.png",
      "position" : [294, 163]
    },

    "modpathscrollarea" : {
      "type" : "scrollArea",
      "rect" : [178, 142.5, 339, 170],
      "horizontalScroll" : true,
      "verticalScroll" : false,
      "children" : {
        "modpath" : {
          "type" : "label",
          "value" : "",
          "hAnchor" : "left",
          "fontSize" : 8
        }
      }
    },

    "descriptionscrollarea" : {
      "type" : "scrollArea",
      "rect" : [178, 46, 348, 133],
      "children" : {
        "moddescription" : {
          "type" : "label",
          "value" : "",
          "hAnchor" : "left",
          "vAnchor" : "top",
          "fontSize" : 8,
          "wrapWidth" : 160
        }
      }
    },

    "workshopbutton" : {
      "type" : "button",
      "base" : "/interface/modsmenu/workshopbutton.png",
      "hover" : "/interface/modsmenu/workshopbuttonhover.png",
      "pressed" : "/interface/modsmenu/workshopbuttonactive.png",
      "position" : [257, 16]
    }
  },

  "workshopLink" : "steam://url/SteamWorkshopPage/211820"
}
