{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/keytrader/header.png",
      "fileBody" : "/interface/scripted/keytrader/body.png",
      "fileFooter" : "/interface/scripted/keytrader/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Mysterious Trader",
      "subtitle" : " Trade items for a mysterious key",
      "icon" : {
        "type" : "image",
        "file" : "/interface/merchant/merchanticon.png",
        "zlevel" : -1
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [205, 95]
    },

    "imgTradingBg" : {
      "type" : "image",
      "file" : "/interface/scripted/keytrader/trading_field.png",
      "position" : [5, 48]
    },

    "lblOfferedTradeLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [7, 72],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Currently offered trade:"
    },

    "itmTradeItem" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [6, 49],
      "callback" : "null"
    },
    "lblTradeItemName" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [28, 58],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Scorched Core",
      "wrapWidth" : 68,
      "lineSpacing" : 1.05
    },

    "lblTradeItemQuantity" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [121, 54],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "color" : "green",
      "value" : "20/20"
    },

    "itmKey" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [142, 49],
      "callback" : "null"
    },
    "lblKeyName" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [164, 54],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Vault Key"
    },

    "btnTrade" : {
      "type" : "button",
      "position" : [81, 28],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Trade",
      "callback" : "tradeForKey"
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/keytrader/shine.png",
      "zlevel" : 2,
      "position" : [0, 0],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "tradeForKey"
  ],

  "scripts" : ["/interface/scripted/keytrader/keytradergui.lua"],
  "scriptDelta" : 30,

  "tradeOptions" : [
    ["scorchedcore", 10],
    ["cryonicextract", 10],
    ["staticcell", 10],
    ["hardenedcarapace", 10],
    ["livingroot", 10],
    ["venomsample", 10],
    ["phasematter", 10],
    ["sharpenedclaw", 10],
    ["stickofram", 10],
    ["refinedaegisalt", 40],
    ["refinedferozium", 40],
    ["refinedviolium", 40]
  ]
}
