{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/ancientconsole/header.png",
      "fileBody" : "/interface/scripted/ancientconsole/body.png",
      "fileFooter" : "/interface/scripted/ancientconsole/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Ancient Gate Console",
      "subtitle" : "Activated with Core Fragments",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/ancientconsole/coreicon.png",
        "zlevel" : -1
      }
    },
    "activateButton" : {
      "type" : "button",
      "position" : [45, 30],
      "base" : "/interface/scripted/ancientconsole/activate.png:active",
      "hover" : "/interface/scripted/ancientconsole/activate.png:inactive",
      "pressed" : "/interface/scripted/ancientconsole/activate.png:active",
      "disabledImage" : "/interface/scripted/ancientconsole/activate.png:disabled",
      "pressedOffset" : [0, 0],
      "callback" : "activate"
    },

    "costDescription" : {
      "type" : "label",
      "position" : [96, 68],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "REQUIRED FRAGMENTS"
    },
    "costLabel" : {
      "type" : "label",
      "position" : [96, 59],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "0 / --"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 100]
    }
  },

  "scriptWidgetCallbacks" : [
    "activate"
  ],

  "scripts" : ["/interface/scripted/ancientconsole/ancientconsolegui.lua"],
  "scriptDelta" : 30,

  "activateItem" : "corefragmentore",
  "requiredCount" : 20
}
