{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "regularexplosionuniversal"
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dusttest/dusttest.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.85,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "animation" : "/animations/castlebrick/castlebrick.png",
                "approach" : [0, 15],
                "initialVelocity" : [4, 5],
                "finalVelocity" : [0, -30],
                "angularVelocity" : -50,
                "timeToLive" : 5,
                "variance" : {
                  "position" : [0, 2],
                  "initialVelocity" : [3, 4],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "animation" : "/animations/castlebrick/castlebrick.png",
                "approach" : [0, 20],
                "size" : 0.3,
                "initialVelocity" : [6, 5],
                "finalVelocity" : [0, -30],
                "angularVelocity" : 20,
                "timeToLive" : 5,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [6, 1],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "animation" : "/animations/castlebrick/castlebrick.png",
                "approach" : [0, 20],
                "size" : 0.3,
                "initialVelocity" : [6, 5],
                "finalVelocity" : [0, -30],
                "angularVelocity" : 20,
                "timeToLive" : 5,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [6, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/smallflame/smallflame.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.6,
            "variance" : {
              "position" : [1.5, 1.5],
              "initialVelocity" : [1, 1],
              "timeToLive" : 0.15,
              "rotation" : 180
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/smoke/smoke.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.6,
            "variance" : {
              "position" : [1.5, 1.5],
              "initialVelocity" : [1, 1],
              "timeToLive" : 0.15,
              "rotation" : 180
            }
          }
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 100,
      "delaySteps" : 2
    }

  ]
}
