{
  "openWithInventory" : true,

  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/goodstrader/header.png",
      "fileBody" : "/interface/scripted/goodstrader/body.png",
      "fileFooter" : "/interface/scripted/goodstrader/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Goods Trader",
      "subtitle" : " Trade goods between stations for profit",
      "icon" : {
        "type" : "image",
        "file" : "/interface/merchant/merchanticon.png",
        "zlevel" : -1
      }
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [207, 95]
    },

    "imgBuyItemBg" : {
      "type" : "image",
      "file" : "/interface/scripted/goodstrader/tradeitembg.png",
      "position" : [6, 60]
    },
    "itmBuyItem" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [7, 61],
      "callback" : "null"
    },
    "lblBuyItemName" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [30, 70],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : ""
    },
    "imgBuyMoneyLabel" : {
      "type" : "image",
      "file" : "/interface/money.png",
      "position" : [134, 66]
    },
    "lblBuyPrice" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [148, 70],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : ""
    },
    "btnBuy" : {
      "type" : "button",
      "position" : [167, 63],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "BUY",
      "callback" : "buyGoods"
    },

    "imgSellItemBg" : {
      "type" : "image",
      "file" : "/interface/scripted/goodstrader/tradeitembg.png",
      "position" : [6, 29]
    },
    "itmSellItem" : {
      "type" : "itemslot",
      "zlevel" : 1,
      "position" : [7, 30],
      "callback" : "null"
    },
    "lblSellItemName" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [30, 39],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : ""
    },
    "imgSellMoneyLabel" : {
      "type" : "image",
      "file" : "/interface/money.png",
      "position" : [134, 35]
    },
    "lblSellPrice" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [148, 39],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : ""
    },
    "btnSell" : {
      "type" : "button",
      "position" : [167, 32],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "SELL",
      "callback" : "sellGoods"
    },

    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/goodstrader/shine.png",
      "zlevel" : 2,
      "position" : [0, 0],
      "mouseTransparent" : true
    }
  },

  "scriptWidgetCallbacks" : [
    "buyGoods",
    "sellGoods"
  ],

  "scripts" : ["/interface/scripted/goodstrader/goodstradergui.lua"],
  "scriptDelta" : 2
}
