{
  "maxHealth" : {
    "label" : "Maximum Health",
    "description" : "-todo-",
    "icon" : "/interface/stats/maxhealth.png"
  },
  "healthRegen" : {
    "label" : "Health Regeneration Rate",
    "description" : "-todo-",
    "icon" : "/interface/stats/healthregen.png"
  },
  "maxEnergy" : {
    "label" : "Maximum Energy",
    "description" : "-todo-",
    "icon" : "/interface/stats/maxenergy.png"
  },
  "energyRegen" : {
    "label" : "Energy Regeneration Rate",
    "description" : "-todo-",
    "icon" : "/interface/stats/energyregen.png"
  },
  "protection" : {
    "label" : "Armor",
    "description" : "-todo-",
    "icon" : "/interface/stats/protection.png"
  },
  "powerMultiplier" : {
    "label" : "Weapon Damage",
    "description" : "-todo-",
    "icon" : "/interface/stats/powermultiplier.png"
  }
}