{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_bullet.ogg" ]
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.0,
            "color" : [150, 100, 0, 255],
            "light" : [80, 80, 20],
            "fullbright" : true,
            "initialVelocity" : [0, 3],
            "finalVelocity" : [0.0, -50.0],
            "approach" : [0, 30],
            "timeToLive" : 0.3,
            "layer" : "middle",
            "variance" : {
              "initialVelocity" : [7, 7],
              "timeToLive" : 0.15
            }
          }
        }
      ]
    }
  ]
}
