{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "coconutbreak"
    },
    {
      "action" : "sound",
      "options" : [ 
        "/sfx/projectiles/coconutbreak1.ogg",
        "/sfx/projectiles/coconutbreak2.ogg",
        "/sfx/projectiles/coconutbreak3.ogg",
        "/sfx/projectiles/coconutbreak4.ogg",
        "/sfx/projectiles/coconutbreak5.ogg",
        "/sfx/projectiles/coconutbreak6.ogg" 
      ]
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
